extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Ошибка 404

block pagecontent
    .site-container.container-404
        .content-center
            +b.breadcrumbs.box-row.align-center.full-height
                +e('a')(href='/').link.no-decoration Главная
                +e('span').sep / 
                +e('span').current 404
            +b.content-404.box-row.space-center
                +e.img.box-col.align-center
                    img(src='img/404.png')
                +e.main.box-col
                    +e.title Ошибка 404
                    +e.desc ЗАПРАШИВАЕМАЯ ВАМИ СТРАНИЦА НЕ НАЙДЕНА, НО ЛУЧШИЕ СТУЛЬЯ И КРЕСЛА ВЫ НАЙДЕТЕ ЗДЕСЬ
                    +b('a')(href='/').full-button.self-start
                        +e('span').icon
                            +e('i').icon-img.icon.web
                        +e('span').text ПЕРЕЙТИ НА ГЛАВНУЮ
                

                            
                            
                            
                            
            

                        

        


            