extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Выбираем стул для руководителей

block pagecontent
    .site-container.blog-container
        .content-center
            +b.blog-content.box-col.align-center
                +e.head.full-width
                +b.article-content.box-col.align-center
                    +e('h1').title.self-start Выбираем стул для руководителей
                    +e.text.full-width
                        +e('img')(src='img/temp/article-1.jpg').img
                        +e.column-text.static-text
                            p  
                                
                                b Кабинет руководителя компании – это место, где заключаются важнейшие сделки и принимаются эпохальные решения. 
                                | А как известно, великие дела должны вершиться в обстановке соответствующего уровня, потому так много внимания уделяется меблировке директорского кабинета. Одну из ключевых позиций в создании нужного антуража занимает кресло руководителя. Для этого предмета мебели придумано много красноречивых эпитетов: «символ успеха» и «статусная вещь», «показатель престижа» и «незаменимый атрибут бизнесмена» ... Но статус статусом, а когда переговоры затягиваются, то нужна еще и возможность сидеть длительное время без дискомфорта. Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                            p   
                                | Большинство современных офисных кресел – как руководительских, так и для персонала – оснащены различными системами регулировок, благодаря которым кресло способно «подстроиться» под человека. Разумеется, наличие нескольких дополнительных опций отразится и на цене кресла, зато вы получите возможность идеально подладить ваше кресло под себя, как музыкант настраивает инструмент. Подробнее рассмотрим, какие бывают механизмы в креслах для работы.
                            p.
                                Основная регулировка, которая присутствует в любом офисном кресле, – механизм регулировки высоты посадки. Это достаточно простое в использовании подъемное устройство, которое находится под сиденьем. Обычно оно совмещено с амортизатором, который предотвратит нагрузку на позвоночник, когда вы резко садитесь в кресло. Помимо этого, в более функциональных и чуть подороже моделях кресел имеется регулировка угла наклона спинки. Благодаря этой системе можно добиться максимального расслабления для спины во время работы. Если ваши габариты значительно отличаются от среднестатистических, то следует обратить внимание на кресло, в котором можно менять еще и высоту спинки и глубину сиденья.
                            p.
                                Руководительское кресло обязательно должно иметь подлокотники – это показатель и солидности, и удобства одновременно. Многие кресла для руководителей оснащены подлокотниками, которые регулируются по высоте, а также по горизонтальному вылету. А у некоторых моделей подлокотники можно при желании вообще убрать назад.
                            p.
                                Если вы намерены выбрать действительно удобное кресло директора, то стоит присмотреться к моделям с механизмом синхронизации, благодаря которому можно одновременно менять угол наклона для сиденья и для спинки. И конечно, не забываем о механизме качания, который даст возможность раскачиваться в кресле вперед-назад. Это не только успокаивает, но и позволяет периодически менять положение тела не вставая, за что ваша спина и суставы скажут вам большое спасибо  
                        +e('img')(src='img/temp/article-2.jpg').img
                        +e.column-text.static-text
                            p.
                                Переходим к следующему этапу выбора кресла для руководителя – внешний вид. Само собой, дизайн кресла не должен вступать в противоречие со стилем остальной мебели в кабинете. Так, если офис директора выполнен в чисто классическом стиле, то и кресло нужно выбирать в этом направлении. Массивное, строгое, в обивке из натуральной кожи наилучшей выделки. Цвета сдержанные, отделка выполнена из ценных пород дерева – одним словом, воплощение респектабельности и успешности хозяина. Если вы сторонник так называемой умеренной классики, то можете смело выбирать менее дорогостоящее кресло: выполненное в традиционном классическом стиле, но с использованием более дешевых материалов. Например, это может быть качественная искусственная кожа или даже хороший современный текстиль
                            p.
                                Ценителям современных интерьеров подойдет кресло для руководителя, которое отражает последние тенденции в мебельном дизайне. Продвинутые, порой совершенно фантастические формы, блестящие хромированные детали, высокотехнологичные материалы, которые практически не изнашиваются, широкий диапазон всевозможных расцветок – и все это в сочетании с потрясающим уровнем комфорта.
                    +e.comments
                        img(src='img/temp/article-comments.png')

                            
                            
                            
                            
            

                        

        


            