extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Блог

block pagecontent
    .site-container.blog-container
        .content-center
            +b.blog-content.box-col.align-center
                +e.head.full-width
                +e('h1').title.box-row.align-center БЛОГ
                +b.blog-list.box-row.box-wrap
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-2.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-2.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-2.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-2.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-2.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                    +e.item.box-col.space-between
                        +e('a')(href='/').img.box-col
                            img(src='img/temp/blog-1.jpg')
                        +e('a')(href='/').title Выбираем кресло для руководителя
                        +e.desc
                            | Как правильно выбрать кресло руководителя, чтобы оно не только выполняло имиджевую функцию, но и способствовало хорошему самочувствию своего владельца в течение всего рабочего дня?
                +pager()
            
                        
                                
                        
                        
                            
                            
                            
                            
            

                        

        


            