extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Ваша корзина

block pagecontent
    .site-container.cart-container
        .content-center
            +b.cart-back.box-row.align-center
                +e('a')(href='/').link.box-row.align-center Продолжить покупки
            +b.cart-content
                +e.title ВАША КОРЗИНА (2)
                +e.wrapper.box-row.space-between
                    +e.products
                        +b('table')(width='100%' border='0' cellspacing='' cellpadding='0').cart-table
                            tr.large-view
                                th
                                th(align='left') ОПИСАНИЕ
                                th(align='left') КОЛИЧЕСТВО
                                th(align='left') ЦЕНА
                                th(align='left') СУММА
                            tr
                                td(valign='top')
                                    a(href='/')
                                        img(src='img/temp/cart.jpg' alt='')
                                td(valign='top')
                                    .box-col
                                        +e('a')(href='').title.no-decoration Кресло Bryan Wood Arm
                                        +e.options.box-col
                                            +e('span').options-item Артикул:
                                                +space()
                                                span 23226416
                                            +e('span').options-item Цвет основной:
                                                +space()
                                                span Красный
                                            +e('span').options-item Цвет оббивки:
                                                +space()
                                                span Черный
                                        +e.delete.box-row.align-center
                                            i.icon.delete-photo
                                            | Удалить
                                        +e('b').small-price.small-view Цена: 1300 грн.
                                        +e('b').small-price.small-view Сумма: 2600 грн.
                                td(valign='top')
                                    +e('input')(type='text' value='2').count.input-text.text-center
                                td(valign='top').large-view 1300 грн.
                                td(valign='top').large-view 2600 грн.
                            tr
                                td(valign='top')
                                    a(href='/')
                                        img(src='img/temp/cart.jpg' alt='')
                                td(valign='top')
                                    .box-col
                                        +e('a')(href='').title.no-decoration Кресло Bryan Wood Arm
                                        +e.options.box-col
                                            +e('span').options-item Артикул:
                                                +space()
                                                span 23226416
                                            +e('span').options-item Цвет основной:
                                                +space()
                                                span Красный
                                            +e('span').options-item Цвет оббивки:
                                                +space()
                                                span Черный
                                        +e.delete.box-row.align-center
                                            i.icon.delete-photo
                                            | Удалить
                                        +e('b').small-price.small-view Цена: 1300 грн.
                                        +e('b').small-price.small-view Сумма: 2600 грн.
                                td(valign='top')
                                    +e('input')(type='text' value='2').count.input-text.text-center
                                td(valign='top').large-view 1300 грн.
                                td(valign='top').large-view 2600 грн.
                            tr
                                td(valign='top')
                                    a(href='/')
                                        img(src='img/temp/cart.jpg' alt='')
                                td(valign='top')
                                    .box-col
                                        +e('a')(href='').title.no-decoration Кресло Bryan Wood Arm
                                        +e.options.box-col
                                            +e('span').options-item Артикул:
                                                +space()
                                                span 23226416
                                            +e('span').options-item Цвет основной:
                                                +space()
                                                span Красный
                                            +e('span').options-item Цвет оббивки:
                                                +space()
                                                span Черный
                                        +e.delete.box-row.align-center
                                            i.icon.delete-photo
                                            | Удалить
                                        +e('b').small-price.small-view Цена: 1300 грн.
                                        +e('b').small-price.small-view Сумма: 2600 грн.
                                td(valign='top')
                                    +e('input')(type='text' value='2').count.input-text.text-center
                                td(valign='top').large-view 1300 грн.
                                td(valign='top').large-view 2600 грн.
                    +e.actions#cart-actions
                        +e.actions-order.box-col
                            +e('b').actions-label.box-row.align-center СУММА
                            +e.actions-counts.box-row.align-center.space-between
                                +e('span').actions-count-label ИТОГО:
                                +e('b').actions-summ 2600
                                    +space()
                                    span ГРН.
                            +e.actions-submit.box-col.space-center
                                +e.actions-submit-button.red-button ОФОРМИТЬ ЗАКАЗ
                        +e.conditions.box-col
                            +e('b').conditions-title УСЛОВИЯ ОПЛАТЫ И ДОСТАВКИ
                            +e.conditions-text
                                | Условия оплаты и доставки.
                                br
                                | Доставка в пределах Киева бесплатная при сумме заказа свыше 1000грн. Стоимость доставки по области зависит от расстояния и оплачивается по тарифу 10грн за километр. Стоимость доставки по Украине рассчитывается индивидуально и зависит от удаленности города от Киева, количества купленных стульев и выбранных моделей. Получить бесплатную консультацию Вы можете по телефону 
                                b 0(44) 360 87 89
                                | .
            +b.front-content.other-products.big-large-view#other-products
                +e.products
                    +e.products-top.box-row.space-between
                        +b('h2').block-title.box-row
                            +e('span').text.box-row.align-center ПРОСМОТРЕННЫЕ
                        +e.products-top-buttons.box-row.active
                            +e.products-top-but.prev.box-row.align-middle.js-product-prev
                            +e.products-top-but.next.box-row.align-middle.js-product-next
                    +e.products-list.js-product-scroll
                        +b.catalog-list.simple-view.box-row
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-colors.box-row.space-center
                                        +e.item-colors-button.active(style='background-color: #323334')
                                        +e.item-colors-button(style='background-color: #c5c8c1')
                                        +e.item-colors-button(style='background-color: #e0171e')
                                        +e.item-colors-button(style='background-color: #f6a623')
                                        +e.item-colors-button(style='background-color: #b8e986')
                                        +e.item-colors-button(style='background-color: #4990e2')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                                    +e.item-thumbs.box-row.space-center
                                        +e.item-thumbs-button.box-col.align-middle.active
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-03 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                                    +e.item-thumbs.box-row.space-center
                                        +e.item-thumbs-button.box-col.align-middle.active
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-colors.box-row.space-center
                                        +e.item-colors-button.active(style='background-color: #323334')
                                        +e.item-colors-button(style='background-color: #c5c8c1')
                                        +e.item-colors-button(style='background-color: #e0171e')
                                        +e.item-colors-button(style='background-color: #f6a623')
                                        +e.item-colors-button(style='background-color: #b8e986')
                                        +e.item-colors-button(style='background-color: #4990e2')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()


                                        


                            
                            
                            
                            
            

                        

        


            