extends ../blocks/layout.pug
include ../blocks/filter-panel
include ../blocks/sidebar-filter
include ../blocks/bottom-text
include ../blocks/mixins
//- include ../blocks/medium-menu

block title
    title Каталог

block pagecontent
    .site-container
        .content-center
            +b.breadcrumbs.box-row.align-center.full-height
                +e('a')(href='/').link.no-decoration Главная
                +e('span').sep / 
                +e('a')(href='/').link.no-decoration Дом
                +e('span').sep /
                +e('span').current Стулья для дома
            +b.catalog-top.text-center
                h1.page-title Стулья для дома
                +e.desc.large-view
                    | When I was a young man, even a teenager for that matter, I always had an optimism that was hard for others to overcome. Even in the midst of the all the negative influences from family and peers, this positive optimism was difficult to beat down. I was powerful, I was lucky, life was magic. I remember it like it was yesterday.
            +b.catalog-filter-panel.box-row.space-between.align-center.large-view
                +e.show-sidebar.white-button.active.js-toggle-filter-button.big-large-view ПОКАЗАТЬ ФИЛЬТР
                +e.sort.box-row.align-center
                    +e.label СОРТИРОВАТЬ ПО
                    select.form-select.no-display
                        option(value='Цена убывание') Цена убывание
                        option(value='Цена возрастание') Цена возрастание
                +e.view.box-row.align-center
                    +e.label ВИД
                    +e('a')(href='/').view-button.circle-button
                        i.icon.simple_view
                    +e('a')(href='/').view-button.circle-button.active
                        i.icon.full-view
                +e.counts.box-row.align-center
                    +e.label НА СТРАНИЦЕ
                    select.form-select.no-display
                        option(value='24') 24
                        option(value='48') 48
                        option(value='96') 96
                        option(value='Все') Все
                +b.pager.box-row
                    +e('a')(href='/').prev.box-row.align-middle
                    +e('span').current.box-row.align-middle 1
                    +e('span').sep.box-row.align-middle …
                    +e('a')(href='/').page.box-row.align-middle 14
                    +e('a')(href='/').next.box-row.align-middle
            +b.catalog-content.box-row
                +sidebarFilter()
                +e.wrapper.box-col
                    +e.current-sections.box-row.align-center
                        +e.current-item.box-row.align-center
                            | Барные стулья
                            img(src='img/close-circle.svg')
                        +e.current-item.box-row.align-center
                            | Желтый
                            img(src='img/close-circle.svg')
                        +e.current-item.box-row.align-center
                            | Красный
                            img(src='img/close-circle.svg')
                    +b.catalog-list.box-row.box-wrap
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' alt='')
                                +e.item-colors.box-row.space-center
                                    +e.item-colors-button.active(style='background-color: #323334')
                                    +e.item-colors-button(style='background-color: #c5c8c1')
                                    +e.item-colors-button(style='background-color: #e0171e')
                                    +e.item-colors-button(style='background-color: #f6a623')
                                    +e.item-colors-button(style='background-color: #b8e986')
                                    +e.item-colors-button.white-color.active(style='background-color: #ffffff')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    +e.item-bottom.box-row.align-center.space-between
                                        +e.item-price.new-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                                        +e('span').item-old
                                            | 1800
                                            +space()
                                            span грн.
                                +e.item-thumbs.box-row.align-middle
                                    +e.item-thumbs-button.box-col.align-middle.active
                                        img(src='img/temp/product-thumb.jpg' all='')
                                    +e.item-thumbs-button.box-col.align-middle
                                        img(src='img/temp/product-thumb.jpg' all='')
                                    +e.item-thumbs-button.box-col.align-middle
                                        img(src='img/temp/product-thumb.jpg' all='')
                                    +e.item-thumbs-button.box-col.align-middle
                                        img(src='img/temp/product-thumb.jpg' all='')
                                    +e.item-thumbs-button.box-col.align-middle
                                        img(src='img/temp/product-thumb.jpg' all='')    
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.soon Предзаказ
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +orderButton()
                                +e.item-thumbs.box-row.align-middle
                                    +e.item-thumbs-button.box-col.align-middle.active
                                        img(src='img/temp/product-thumb.jpg' all='')
                                    +e.item-thumbs-button.box-col.align-middle
                                        img(src='img/temp/product-thumb.jpg' all='')
                                    +e.item-thumbs-button.box-col.align-middle
                                        img(src='img/temp/product-thumb.jpg' all='')
                                    +e.item-thumbs-button.box-col.align-middle
                                        img(src='img/temp/product-thumb.jpg' all='')
                        +e.item.not-in-stock
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-colors.box-row.space-center
                                    +e.item-colors-button.active(style='background-color: #323334')
                                    +e.item-colors-button(style='background-color: #c5c8c1')
                                    +e.item-colors-button(style='background-color: #e0171e')
                                    +e.item-colors-button(style='background-color: #f6a623')
                                    +e.item-colors-button(style='background-color: #b8e986')
                                    +e.item-colors-button(style='background-color: #4990e2')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.ends Нет в наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +messageButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
                        +e.item
                            +e.content.box-col.wrapper-absolute
                                +e('a')(href='/').item-img.box-col.self-center
                                    img(src='img/temp/product.jpg' all='')
                                +e.item-info.box-col
                                    +e('a')(href='/').item-title Кресло M-02 Patchwork
                                    +e.item-data.box-row.align-center.space-between
                                        +e('span').item-code [Арт. 23226416]
                                        +e('span').item-status.in-stock В наличии
                                    .box-row.align-center.space-between
                                        +e.item-price
                                            b 1300
                                                +space()
                                            span грн.
                                        +addButton()
            +filter-panel()
    +bottomText()
block medium-filter
    +mediumFilter()



                        

        


