extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Оформление заказа

block pagecontent
    .site-container.checkout-container
        .content-center
            +b.cart-back.box-row.align-center
                +e('a')(href='/').link.box-row.align-center Назад
            +b.cart-content
                +e.wrapper.box-row.space-center
                    +e.checkout
                        +e.checkout-form.box-col
                            +e('b').checkout-title КОНТАКТНАЯ ИНФОРМАЦИЯ
                            +e('form')(action='').checkout-form-content.box-col
                                +e.checkout-form-row.box-row.space-between
                                    +e.checkout-form-field.box-col
                                        +e('label')(for='checkout-name').checkout-form-label Ваше имя
                                        +e('input')(type='text').checkout-form-text.input-text#checkout-name
                                    +e.checkout-form-field.box-col
                                        +e('label')(for='checkout-email').checkout-form-label Ваш E-mail
                                        +e('input')(type='email').checkout-form-text.input-text#checkout-email
                                +e.checkout-form-row.box-row
                                    +e.checkout-form-field.box-col
                                        +e('label')(for='checkout-tel').checkout-form-label Номер телефона
                                            +space()
                                            span *
                                        +e('input')(type='text' required).checkout-form-text.input-text#checkout-tel
                                +e('b').checkout-form-delivery-title доставка
                                +e.checkout-form-row.box-row
                                    +e.checkout-form-field.box-col
                                        +e('label').checkout-form-label Город
                                        +e('select').checkout-form-city.form-select
                                            option(value='Киев') Киев
                                            option(value='Одесса') Одесса
                                            option(value='Харьков') Харьков
                                +e.checkout-form-row.box-row.space-between
                                    +e.checkout-form-field.box-col
                                        +e('label')(for='checkout-street').checkout-form-label Улица
                                        +e('input')(type='text').checkout-form-text.input-text#checkout-street
                                    +e.checkout-form-field.box-row.space-between
                                        +e.checkout-form-field.box-col.adress
                                            +e('label')(for='checkout-house').checkout-form-label Дом
                                            +e('input')(type='text').checkout-form-text.input-text#checkout-house
                                        +e.checkout-form-field.box-col.adress
                                            +e('label')(for='checkout-office').checkout-form-label Квартира
                                            +e('input')(type='text').checkout-form-text.input-text#checkout-office
                                +e.checkout-form-field.box-col.comment
                                    +e('label')(for='checkout-comment').checkout-form-label Ваш комментарий
                                    +e('textarea').checkout-form-text.input-textarea#checkout-comment
                        +e.conditions.box-col.big-large-view
                            +e('b').conditions-title УСЛОВИЯ ОПЛАТЫ И ДОСТАВКИ
                            +e.conditions-text
                                | Условия оплаты и доставки.
                                br
                                | Доставка в пределах Киева бесплатная при сумме заказа свыше 1000грн. Стоимость доставки по области зависит от расстояния и оплачивается по тарифу 10грн за километр. Стоимость доставки по Украине рассчитывается индивидуально и зависит от удаленности города от Киева, количества купленных стульев и выбранных моделей. Получить бесплатную консультацию Вы можете по телефону 
                                b 0(44) 360 87 89
                                | .
                        +e.medium-results.box-col.medium-view
                            +e('b').medium-results-title Сумма заказа
                            +e.medium-results-item.box-row.space-between
                                +e.medium-results-name 2 товара
                                +e.medium-results-count 1300 грн.
                            +e.medium-results-item.box-row.space-between
                                +e.medium-results-name Сумма
                                +e.medium-results-count 2600 грн.
                    +e.actions
                        +e.conditions.box-col.medium-view
                            +e('b').conditions-title УСЛОВИЯ ОПЛАТЫ И ДОСТАВКИ
                            +e.conditions-text
                                | Условия оплаты и доставки.
                                br
                                | Доставка в пределах Киева бесплатная при сумме заказа свыше 1000грн. Стоимость доставки по области зависит от расстояния и оплачивается по тарифу 10грн за километр. Стоимость доставки по Украине рассчитывается индивидуально и зависит от удаленности города от Киева, количества купленных стульев и выбранных моделей. Получить бесплатную консультацию Вы можете по телефону 
                                b 0(44) 360 87 89
                                | .
                        +e.actions-order.box-col
                            +e('b').actions-label.box-row.align-center СУММА
                            +e.actions-counts.box-row.align-center.space-between
                                +e('span').actions-count-label ИТОГО:
                                +e('b').actions-summ 2600
                                    +space()
                                    span ГРН.
                            +e.actions-submit.box-col.space-center
                                +e.actions-submit-button.red-button ОФОРМИТЬ ЗАКАЗ
                        +e.product-list.big-large-view
                            +e.product-item.box-row
                                +e('a')(href='/').product-item-img.box-col: img(src='img/temp/top-product.jpg')
                                +e.product-item-content.box-col
                                    +e('a')(href='/').product-item-title.no-decoration Кресло Bryan Wood Arm
                                    +e.product-item-options.box-col
                                        +e('span').product-item-options-item Артикул:
                                            +space()
                                            span 23226416
                                        +e('span').product-item-options-item Цвет основной:
                                            +space()
                                            span Красный
                                        +e('span').product-item-options-item Цвет оббивки:
                                            +space()
                                            span Черный
                                        +e('span').product-item-options-item Количество:
                                            +space()
                                            span 2
                                    +e('b').product-item-price 1300
                                        +space()
                                        span грн.
                            +e.product-item.box-row
                                +e('a')(href='/').product-item-img.box-col: img(src='img/temp/top-product.jpg')
                                +e.product-item-content.box-col
                                    +e('a')(href='/').product-item-title.no-decoration Кресло Bryan Wood Arm
                                    +e.product-item-options.box-col
                                        +e('span').product-item-options-item Артикул:
                                            +space()
                                            span 23226416
                                        +e('span').product-item-options-item Цвет основной:
                                            +space()
                                            span Красный
                                        +e('span').product-item-options-item Цвет оббивки:
                                            +space()
                                            span Черный
                                        +e('span').product-item-options-item Количество:
                                            +space()
                                            span 2
                                    +e('b').product-item-price 1300
                                        +space()
                                        span грн.
            +b.front-content.other-products
                +e.products
                    +e.products-top.box-row.space-between
                        +b('h2').block-title.box-row
                            +e('span').text.box-row.align-center ПРОСМОТРЕННЫЕ
                        +e.products-top-buttons.box-row.active.large-view
                            +e.products-top-but.prev.box-row.align-middle.js-product-prev
                            +e.products-top-but.next.box-row.align-middle.js-product-next
                    +e.products-list.js-product-scroll
                        +b.catalog-list.simple-view.box-row
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-colors.box-row.space-center
                                        +e.item-colors-button.active(style='background-color: #323334')
                                        +e.item-colors-button(style='background-color: #c5c8c1')
                                        +e.item-colors-button(style='background-color: #e0171e')
                                        +e.item-colors-button(style='background-color: #f6a623')
                                        +e.item-colors-button(style='background-color: #b8e986')
                                        +e.item-colors-button(style='background-color: #4990e2')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                                    +e.item-thumbs.box-row.space-center
                                        +e.item-thumbs-button.box-col.align-middle.active
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-03 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                                    +e.item-thumbs.box-row.space-center
                                        +e.item-thumbs-button.box-col.align-middle.active
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-colors.box-row.space-center
                                        +e.item-colors-button.active(style='background-color: #323334')
                                        +e.item-colors-button(style='background-color: #c5c8c1')
                                        +e.item-colors-button(style='background-color: #e0171e')
                                        +e.item-colors-button(style='background-color: #f6a623')
                                        +e.item-colors-button(style='background-color: #b8e986')
                                        +e.item-colors-button(style='background-color: #4990e2')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()


                                        


                            
                            
                            
                            
            

                        

        


            