extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Наши контакты

block pagecontent
    .container-contacts
        .content-center
            +b.breadcrumbs.box-row.align-center.full-height
                +e('a')(href='/').link.no-decoration Главная
                +e('span').sep / 
                +e('span').current Контакты
            +b.content-contacts.box-row.space-center
                +e.wrapper
                    +e('h1').title Наши контакты
                    +e.container.box-row
                        +e.form.box-col
                            +e.form-top.box-row.space-between
                                +e('span').form-title Написать нам
                                i.icon.mail-title
                            +e('span').form-top-label Мы с удовольствием ответим на ваши вопросы
                            form
                                +e.user-fields.box-row.space-between
                                    +e.user-data.box-col
                                        +e('label')(for='contacts-name').form-label Ваше имя
                                            +space()
                                            span *
                                        +e('input')(type='text' required).form-input.input-text#contacts-name
                                    +e.user-data.box-col
                                        +e('label')(for='contacts-tel').form-label Номер телефона
                                            +space()
                                            span *
                                        +e('input')(type='text' required).form-input.input-text#contacts-tel
                                +e.comment-field.box-col
                                    +e('label')(for='contacts-comment').form-label Ваш комментарий
                                    +e('textarea').form-textarea.input-textarea#contacts-comment
                                +e('input')(type='submit' value='').form-submit
                        +e.info.box-col.space-between
                            +e('span').info-title Контакты
                            .box-col
                                +e('span').info-label.label-time График работы магазина (Пн-Пт)
                                +e('span').info-data с 9:55 до 19:05 
                                +e('span').info-label.label-weekend В субботу и воскресенье:
                                    span Выходной
                            .box-col
                                +e('span').info-label Телефон (Городской)
                                +e('span').info-data 0 (44) 360-87-89
                            .box-col
                                +e('span').info-label Мобильный (Viber, Telegram)
                                +e('span').info-data.box-row.align-center
                                    | ‎0 (98) 360-87-89
                                    i.icon.viber
                                    i.icon.telegram
                                +e('u').info-callback.js-callback-button Заказать обратный звонок
                            .box-col
                                +e('span').info-label Почта
                                +e('a')(href='mailto:info@kupistul.ua').info-data.data-email info@kupistul.ua
                                

                        
                
                

                            
                            
                            
                            
            

                        

        


            