extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Доставка и оплата

block pagecontent
    .site-container.delivery-container
        .content-center
            +b.breadcrumbs.box-row.align-center.full-height
                +e('a')(href='/').link.no-decoration Главная
                +e('span').sep / 
                +e('span').current Доставка и оплата
            +b.delivery-content.box-col.align-center
                +e.wrapper
                    +e('h1').title Доставка и оплата
                    +e.text
                        h2 ОПЛАТА
                        h3 Оплатить покупки вы можете одним из следующих способов:
                        p: b: i 1. Наличными при получении:
                        p После доставки Вы отдаете деньги курьеру, курьер отдает вам чек, подтверждающий оплату, и накладную с перечнем наименований по вашему заказу.
                        p: b: i 2. Безналичный расчет:
                        p Для физических лиц:
                        p После оформления заказа мы сформируем для вас квитанцию с указанием суммы платежа и реквизитов для перевода денежных средств. Осуществить платеж вы сможете по данной квитанции в отделении любого банка.
                        p Для юридических лиц:
                        p После оформления заказа на указанные вами реквизиты мы выставим счет. Этот счет необходимо будет оплатить в течение трех дней с момента оформления заказа.
                        p 
                            b: i Внимание: 
                            | при безналичном расчете перевод денег осуществляется в течение трех рабочих дней. Доставка будет произведена по факту зачисления денег на расчетный счет.
                        h2 ДОСТАВКА
                        h3 Доставка стульев для дома и офиса: быстро, качественно, аккуратно
                        p Купив понравившиеся вам стулья для дома или офиса в нашем интернет-магазине KupiStul.com.ua, вы можете заказать их до ставку.
                        p Мы осуществляем доставку:
                        ul
                            li по Киеву;
                            li по Киевской области;
                            li по Украине.
                        h3 Доставка вашего заказа по Киеву
                        p Если вам необходимо привезти приобретенные стулья для дома или офиса по адресу в пределах города Киев, мы осуществим доставку вашего заказа.
                            br
                            | При сумме заказа до 1000 грн стоимость доставки составляет 45 грн. При сумме заказа свыше 1000 грн доставка по Киеву осуществляется бесплатно.
                            br
                            | Несомненными преимуществами сотрудничества с нашим интернет-магазином в вопросе доставки приобретенного товара по Киеву являются:
                        ul
                            li отсутствие необходимости забирать заказ самостоятельно вам не придется тратить дополнительные  денежные средства на аренду машины или оплату бензина;
                            li оперативность - вам не придется долго ждать купленный товар (срок доставки - от 1 до 5 дней);
                            li аккуратность - вы получите свой заказ в целости и сохранности.
                        h3 Доставка вашего заказа по области
                        p В случае необходимости мы можем доставить ваш заказ в любую точку Киевской области.
                        p Условия доставки по области таковы:
                        ul
                            li стоимость - 15 гривен за 1 километр;
                            li срок - от 1 до 6 дней в зависимости от модели стула.
                        p Доставка по области будет максимально быстрой и предельно аккуратной.
                        h3 Доставка вашего заказа по территории Украины
                        p Менеджеры интернет-магазина KupiStul.com.ua в случае необходимости могут организовать доставку стульев для дома и офиса по всей территории Украины.
                        p В каждом конкретном случае стоимость доставки заказа рассчитывается индивидуально и зависит от удаленности объекта от Киева, количества купленных стульев и выбранных моделей. Срок доставки вашего заказа по Украине может составлять от 2 до 10 дней.
                        ul
                            li Хотите оформить доставку стульев по Киеву, области или Украине?
                            li Звоните нам по номеру телефона
                                +space()
                                b 0(44) 360-87-89.
                    



                            
                            
                            
                            
            

                        

        


            