extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Часто задаваемые вопросы

block pagecontent
    .site-container.faq-container
        .content-center
            +b.breadcrumbs.box-row.align-center.full-height
                +e('a')(href='/').link.no-decoration Главная
                +e('span').sep / 
                +e('span').current Часто задаваемые вопросы
            +b.faq-content.box-col.align-center
                +e.wrapper
                    +e('h1').title ЧАСТо задаваемые вопросы
                    +e.list
                        +e.item
                            +e.question.box-row.align-center.space-between: b How do I place an order?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b What is payment authentication?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b Where do you deliver to?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b When do you take payment?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b What happens if I pre-order an item?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b What happens if I pre-order an item?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b Where do you deliver to?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b How do I place an order?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        +e.item
                            +e.question.box-row.align-center.space-between: b Where do you deliver to?
                            +e.answer.box-col.animated.fadeIn
                                +e('b').answer-label Ответ:
                                +e.answer-text Please note that we will not take payment for any item until it has been processed. We will however take an Authorisation. This will show on your bank statement as a reservation of funds which allocates the money to your order but this will not be realised until we have processed your item(s) for delivery by us or Barlin Delivery. In the event of us not being able to fulfil your order we will immediately request that your bank cancels the authorisation. If the authorisation still remains after several days, please contact your bank to request that they act upon our cancellation of the payment.
                        



                            
                            
                            
                            
            

                        

        


            