extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Спасибо за заказ

block pagecontent
    .site-container.order-message-container
        .content-center
            +b.cart-back.box-row.align-center
                +e('a')(href='/').link.box-row.align-center На главную
            +b.order-message-content.box-row.space-center
                +e.text.box-col
                    +e.title Спасибо за заказ
                    +e.inner-text
                        p [name] Спасибо за заказ.
                            +space()
                            span Ваш заказ успешно оформлен.
                            +space()
                            | В ближайшие 30 минут (за исключением нерабочего времени) с Вами свяжется наш менеджер.
                        p В течение 5 минут Вам на электронный адрес автоматически будет выслано письмо с подтверждением заказа, если Вы его не получите, пожалуйста, свяжитесь с нами по номеру телефона 
                            +space()
                            b 0(44) 360 87 89
                            +space()
                            | .
                    +b('a')(href='/').full-button.self-start
                        +e('span').icon
                            +e('i').icon-img.icon.web
                        +e('span').text ПЕРЕЙТИ НА ГЛАВНУЮ
                +e.info.box-col
                    +e('b').info-title А знаете ли Вы что?
                    +e.info-text Перед отправкой мы тщательно проверяем товары на отсутствие браков. Но, т.к. работники курьерских служб не всегда относятся к своей работе ответственно и ввиду чего мебель может быть повреждена, мы гарантируем замену поврежденных деталей за свой счет, невероятно правда ли?! ;)
            

                                        


                            
                            
                            
                            
            

                        

        


            