extends ../blocks/layout.pug
include ../blocks/mixins
//- include ../blocks/modals

block title
    title Тестовая страница товара

block pagecontent
    .site-container.product-container
        .content-center
            +b.product-top.box-row.align-center.space-between
                +b.breadcrumbs.box-row.align-center.full-height
                    +e('a')(href='/').link.no-decoration Главная
                    +e('span').sep / 
                    +e('a')(href='/').link.no-decoration Дом
                    +e('span').sep /
                    +e('span').current Стулья для дома
                .box-row.align-center
                    +e.rating.box-row.align-center
                        +ratingBox()
                        +e('b').rating-count 4.2
                    +e.article.box-row.align-center Артикул
                        +e('span').article-num 23226416
            +b.product-main.box-row.space-between.box-wrap
                +e.gallery.box-row.big-large-view
                    +e.gallery-thumbs.box-col#zoom-thumbs
                        +e('a')(href='#').gallery-video-button.box-col.active.js-video-button
                            img(src='img/temp/product-thumb-1.jpg')
                        a(href='#' data-image='img/temp/product-medium-1.jpg' data-zoom-image='img/temp/product-large-1.jpg').box-col.align-middle.js-pr-img-button
                            img(src='img/temp/product-thumb-1.jpg')
                        a(href='#' data-image='img/temp/product-medium-2.jpg' data-zoom-image='img/temp/product-large-2.jpg').box-col.align-middle.js-pr-img-button
                            img(src='img/temp/product-thumb-2.jpg')
                        a(href='#' data-image='img/temp/product-medium-3.jpg' data-zoom-image='img/temp/product-large-3.jpg').box-col.align-middle.js-pr-img-button
                            img(src='img/temp/product-thumb-3.jpg')
                        a(href='#' data-image='img/temp/product-medium-4.jpg' data-zoom-image='img/temp/product-large-4.jpg').box-col.align-middle.js-pr-img-button
                            img(src='img/temp/product-thumb-4.jpg')
                        a(href='#' data-image='img/temp/product-medium-3.jpg' data-zoom-image='img/temp/product-large-4.jpg').box-col.align-middle.js-pr-img-button
                            img(src='img/temp/product-thumb-3.jpg')
                        a(href='#' data-image='img/temp/product-medium-2.jpg' data-zoom-image='img/temp/product-large-4.jpg').box-col.align-middle.js-pr-img-button
                            img(src='img/temp/product-thumb-2.jpg')
                        a(href='#' data-image='img/temp/product-medium-4.jpg' data-zoom-image='img/temp/product-large-4.jpg').box-col.align-middle.js-pr-img-button
                            img(src='img/temp/product-thumb-4.jpg')
                    +e.gallery-content.box-col
                        +e.gallery-buttons.box-row.align-center
                            +e('a')(href='/').gallery-link-3d.icon.degrees-360.big-large-view
                            +e('span').gallery-buttons-sep.big-large-view
                            +e.gallery-zoom-button.box-row.align-center.js-open-gallery-button
                                i.icon.fullscreen
                                | Увеличить картинку
                        +e.gallery-full
                            +e.gallery-video.active.wrapper-absolute.animated.fadeIn
                                iframe(width="600" height="600" src="https://www.youtube.com/embed/WLVjYRBoDgU" frameborder="0" allowfullscreen)
                            +e.gallery-img.wrapper-absolute.animated.fadeIn
                                img(src='img/temp/product-medium-1.jpg' data-zoom-image='img/temp/product-large-1.jpg').js-zoom-img
                +e.medium-gallery.box-col.medium-view
                    +e.medium-gallery-wrapper.box-row
                        +e.medium-gallery-thumbs.large-view
                            +e.medium-gallery-thumbs-list.box-col.js-medium-product-gallery-thumbs
                                a(href='' data-slide-index='0').box-col.align-middle.video-button: img(src='img/temp/popup-gallery-thumb-1.jpg')
                                a(href='' data-slide-index='1').box-col.align-middle: img(src='img/temp/popup-gallery-thumb-2.jpg')
                                a(href='' data-slide-index='2').box-col.align-middle: img(src='img/temp/popup-gallery-thumb-3.jpg')
                                a(href='' data-slide-index='3').box-col.align-middle: img(src='img/temp/popup-gallery-thumb-4.jpg')
                                a(href='' data-slide-index='4').box-col.align-middle: img(src='img/temp/popup-gallery-thumb-3.jpg')
                                a(href='' data-slide-index='5').box-col.align-middle: img(src='img/temp/popup-gallery-thumb-4.jpg')
                        +e.medium-gallery-content.js-medium-product-gallery-content
                            .box-col.align-middle
                                .box-youtube-video
                                    iframe(width="650" height="650" src="https://www.youtube.com/embed/WLVjYRBoDgU" frameborder="0" allowfullscreen)
                            .box-col.align-middle
                                img(src='img/temp/popup-gallery-1.jpg')
                            .box-col.align-middle
                                img(src='img/temp/popup-gallery-2.jpg')
                            .box-col.align-middle
                                img(src='img/temp/popup-gallery-3.jpg')
                            .box-col.align-middle
                                img(src='img/temp/popup-gallery-2.jpg')
                            .box-col.align-middle
                                img(src='img/temp/popup-gallery-3.jpg')
                        +e.gallery-zoom-button.box-row.align-center.js-open-gallery-button.big-large-view
                            i.icon.fullscreen
                            | Увеличить картинку
                    +e.share.box-row.align-center.large-view
                        #fb-root
                        script.
                            (function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3";
                            fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        .fb-like(data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
                        a.twitter-share-button(href='https://twitter.com/share', data-lang='ru')
                        script.
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                        script(src='https://apis.google.com/js/platform.js', async='', defer='')
                        .g-plusone(data-size='medium', data-annotation='none')
                        a(href='//ru.pinterest.com/pin/create/button/', data-pin-do='buttonBookmark', data-pin-color='red')
                            img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png')
                        script(type='text/javascript', async='', defer='', src='//assets.pinterest.com/js/pinit.js')
                +e.content  
                    +e('h1').title Кресло Bryan Wood Arm Красный
                    +e.status.end Заканчивается
                    +e.colors
                        +e.colors-top.box-row.space-between
                            +e('b').colors-title.box-row.box-wrap 
                                +e('span').colors-title-label Цвет базы:
                                +e('span').colors-title-name.box-row.align-end Красный
                            +e('u').colors-all.js-colors-modal-button Все цвета
                        +e.colors-list.box-row
                            +e.colors-list-current(style='background-color: #fa2c24')
                            +e.colors-list-content.box-row.align-center
                                +e.colors-list-thumbs.js-product-color-slider
                                    +e.colors-button.box-row.align-middle.active(title='Серый' style='background-color: #f92c20')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #b8e986')
                                        i.icon.color-photo
                                    +e.colors-button.box-row.align-middle(title='Черный' style='background-color: #f8e81c')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #ededed')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #8b572a')
                                        i.icon.color-photo
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #bd0fe1')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #000000')
                                    +e.colors-button.box-row.align-middle.active(title='Красный' style='background-color: #f92c20')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #b8e986')
                                        i.icon.color-photo
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #f8e81c')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #ededed')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #8b572a')
                                        i.icon.color-photo
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #bd0fe1')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #000000')
                    +e.colors
                        +e.colors-top.box-row.space-between
                            +e('b').colors-title.box-row.box-wrap
                                +e('span').colors-title-label Цвет и материал обивки:
                                +e('span').colors-title-name.box-row.align-end Темно-сине оранжево красный
                            +e('u').colors-all.js-colors-modal-button Все цвета
                        +e.colors-list.box-row
                            +e.colors-list-current.white-color(style='background-color: #ffffff')
                            +e.colors-list-content.box-row.align-center
                                +e.colors-list-thumbs.js-product-color-slider
                                    +e.colors-button.box-row.align-middle.active(title='Серый' style='background-color: #f92c20')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #b8e986')
                                        i.icon.color-photo
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #f8e81c')
                                    +e.colors-button.box-row.align-middle(title='Серый' style='background-color: #ededed')
                                    +e.colors-button.box-row.align-middle.white-color.active(title='Белый' style='background-color: #ffffff')
                    +e.actions
                        +e.actions-price.box-row.align-end
                            +e('b').actions-price-count 4130
                                +space()
                                span грн.
                            +e.actions-discount.box-row [15%]
                                +space()
                                s 4860 грн.
                        +e.actions-pay.box-row.align-center.space-between
                            +e.actions-wrapper.box-row.align-center
                                +e.actions-count.box-row.align-center
                                    +e('label')(for='product-count').actions-count-label КОЛИЧЕСТВО
                                    +e('input')(type='text' value='1').actions-count-field.text-center#product-count
                                +b.add-to-cart-new.js-added-cart-button
                                    +e.icon
                                        +e('i').icon-img.icon.cart-white
                                    +e.text ДОБАВИТЬ К КОРЗИНУ
                            +e('span').actions-click.no-decoration Купить в 1 клик
                    +e.options.box-row.box-wrap.big-large-view
                        +e.options-item.item-1.box-row.align-center
                            i.icon.height
                            .box-col
                                +e('b').options-label Высота
                                +e.options-count 81
                                    +space()
                                    span см
                        +e.options-item.item-2.box-row.align-center
                            i.icon.height-seat
                            .box-col
                                +e('b').options-label Высота посадки
                                +e.options-count 47
                                    +space()
                                    span см
                        +e.options-item.item-3.box-row.align-center
                            i.icon.depth
                            .box-col
                                +e('b').options-label Глубина
                                +e.options-count 38
                                    +space()
                                    span см
                        +e.options-item.item-4.box-row.align-center
                            i.icon.width
                            .box-col
                                +e('b').options-label ШИРИНА
                                +e.options-count 44
                                    +space()
                                    span см
                        +e.options-item.item-5.box-row.align-center
                            i.icon.weight
                            .box-col
                                +e('b').options-label ВЕС
                                +e.options-count 2,3
                                    +space()
                                    span кг
                        +e.options-item.item-6.box-row.align-center
                            i.icon.service
                            .box-col
                                +e('b').options-label Сборка
                                +e.options-count Бесплатная
                    +e.share.default-share.box-row.align-center.big-large-view
                        #fb-root
                        script.
                            (function(d, s, id){var js, fjs = d.getElementsByTagName(s)[0];
                            if (d.getElementById(id)) return;
                            js = d.createElement(s); js.id = id;
                            js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3";
                            fjs.parentNode.insertBefore(js, fjs);
                            }(document, 'script', 'facebook-jssdk'));
                        .fb-like(data-layout='button_count', data-action='like', data-show-faces='false', data-share='false')
                        a.twitter-share-button(href='https://twitter.com/share', data-lang='ru')
                        script.
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
                        script(src='https://apis.google.com/js/platform.js', async='', defer='')
                        .g-plusone(data-size='medium', data-annotation='none')
                        a(href='//ru.pinterest.com/pin/create/button/', data-pin-do='buttonBookmark', data-pin-color='red')
                            img(src='//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_20.png')
                        script(type='text/javascript', async='', defer='', src='//assets.pinterest.com/js/pinit.js')
                +e.options.medium-options.box-row.box-wrap.medium-view.large-view
                    +e.options-item.item-1.box-row.align-center
                        i.icon.height
                        .box-col
                            +e('b').options-label Высота
                            +e.options-count 81
                                +space()
                                span см
                    +e.options-item.item-2.box-row.align-center
                        i.icon.height-seat
                        .box-col
                            +e('b').options-label Высота посадки
                            +e.options-count 47
                                +space()
                                span см
                    +e.options-item.item-3.box-row.align-center
                        i.icon.depth
                        .box-col
                            +e('b').options-label Глубина
                            +e.options-count 38
                                +space()
                                span см
                    +e.options-item.item-4.box-row.align-center
                        i.icon.width
                        .box-col
                            +e('b').options-label ШИРИНА
                            +e.options-count 44
                                +space()
                                span см
                    +e.options-item.item-5.box-row.align-center
                        i.icon.weight
                        .box-col
                            +e('b').options-label ВЕС
                            +e.options-count 2,3
                                +space()
                                span кг
                    +e.options-item.item-6.box-row.align-center
                        i.icon.service
                        .box-col
                            +e('b').options-label Сборка
                            +e.options-count Бесплатная
            +b.product-bottom
                +e.top.box-row.align-center.space-between
                    +e.tabs.box-row
                        +e.tabs-button.gray-button.active ОПИСАНИЕ
                        +e.tabs-button.gray-button ХАРАКТЕРИСТИКИ
                        +e.tabs-button.gray-button СБОРКА
                        +e.tabs-button.gray-button ДОСТАВКА
                        +e.tabs-button.gray-button ТЕГИ
                        +e.tabs-button.gray-button.medium-view ОТЗЫВЫ ПОКУПАТЕЛЕЙ
                    +e.reviews.box-row.space-between.big-large-view
                        +e('b').reviews-title.box-row.align-center ОТЗЫВЫ ПОКУПАТЕЛЕЙ
                        +b.full-button.self-start.js-add-review-button
                            +e('span').icon
                                +e('i').icon-img.icon.comments
                            +e('span').text НАПИСАТЬ ОТЗЫВ
                +e.content.box-row.space-between
                    +e.info
                        +e.info-text.animated.fadeIn.active.js-product-info-block
                            ul
                                li современный оригинальный дизайн, необычное оформление ножек
                                li комфортная высокая спинка и удобное просторное сиденье
                                li изготовлено из высококачественного монолитного пластика ABS
                                li на выбор различные цвета для любого интерьера
                                li устойчивая конструкция, прочные хромированные ножки
                        +e.info-text.animated.fadeIn.js-product-info-block
                            ul
                                li современный оригинальный дизайн, необычное оформление ножек
                                li комфортная высокая спинка и удобное просторное сиденье
                        +e.info-text.animated.fadeIn.js-product-info-block
                            ul
                                li современный оригинальный дизайн, необычное оформление ножек
                                li комфортная высокая спинка и удобное просторное сиденье
                                li изготовлено из высококачественного монолитного пластика ABS
                                li на выбор различные цвета для любого интерьера
                                li устойчивая конструкция, прочные хромированные ножки
                        +e.info-text.animated.fadeIn.js-product-info-block
                            ul
                                li современный оригинальный дизайн, необычное оформление ножек
                                li комфортная высокая спинка и удобное просторное сиденье
                                li изготовлено из высококачественного монолитного пластика ABS
                                li на выбор различные цвета для любого интерьера
                                li устойчивая конструкция, прочные хромированные ножки
                        +e.info-text.animated.fadeIn.js-product-info-block
                            ul
                                li современный оригинальный дизайн, необычное оформление ножек
                                li комфортная высокая спинка и удобное просторное сиденье
                                li изготовлено из высококачественного монолитного пластика ABS
                        +e.info-reviews.box-col.align-center.animated.fadeIn.medium-view.js-product-info-block
                            +b.full-button.self-start.js-add-review-button(style='display: none')
                                +e('span').icon
                                    +e('i').icon-img.icon.comments
                                +e('span').text НАПИСАТЬ ОТЗЫВ
                            +e.reviews-list(style='display: none')
                                +e.reviews-item.box-col
                                    +e.reviews-item-top.box-row.align-center
                                        +ratingBox()
                                        +e('span').reviews-item-date Март 24, 2017
                                    +e('b').reviews-item-title ОЧЕНЬ КРУТОЙ СТУЛ
                                    +e('span').reviews-item-user Евгений Ищенко
                                    +e.reviews-item-text
                                        | Many of us have back problems, it is a very wide problem for people, ever since we started walking on our tow legs and raised our backs a large percent of human have suffered pain in the back from different reasons. The chiropractic was invented to help solve or reduce back pain by training back experts that will offer help and relief to those needing back pain help
                                +e.reviews-item.box-col
                                    +e.reviews-item-top.box-row.align-center
                                        +ratingBox()
                                        +e('span').reviews-item-date Март 24, 2017
                                    +e('b').reviews-item-title СПАСИБО ЗА КАЧЕСТВО
                                    +e('span').reviews-item-user Vera Barrett
                                    +e.reviews-item-text
                                        | Many of us have back problems, it is a very wide problem for people, ever since we started walking on our tow legs and raised our backs a large percent of human have suffered pain in the back from different reasons. The chiropractic was invented to help solve or reduce back pain by training back experts that will offer help and relief to those needing back pain help
                            +b.pager.box-row(style='display: none')
                                +e('a')(href='/').prev.box-row.align-middle
                                +e('span').current.box-row.align-middle 1
                                +e('span').sep.box-row.align-middle …
                                +e('a')(href='/').page.box-row.align-middle 14
                                +e('a')(href='/').next.box-row.align-middle
                            +b.reviews-form.box-col
                                +e('b').title Написать отзыв
                                form(action='')
                                    +e.field.box-col
                                        +e('label').field-label.rating-label Ваша оценка 
                                            +space()
                                            span *
                                        select(name='rating').js-rating-stars
                                            option(value='1') 1
                                            option(value='2') 2
                                            option(value='3') 3
                                            option(value='4') 4
                                            option(value='5') 5
                                    +e.field.box-col
                                        +e('label')(for='review-name').field-label Ваше имя 
                                            +space()
                                            span *
                                        +e('input')(type='text' required).field-text.input-text.full-width#review-name
                                    +e.field.box-col
                                        +e('label')(for='review-tel').field-label Номер телефона
                                            +space()
                                            span *
                                        +e('input')(type='text' required).field-text.input-text.full-width#review-tel
                                    +e.field-comment.box-col
                                        +e('label')(for='review-comment').field-label Ваш комментарий
                                        +e('textarea').field-textarea.input-textarea.full-width#review-comment
                                    +e.action.box-row.space-center
                                        +e('input')(type='submit' value='ОТПРАВИТЬ').submit-button.gray-button-2
                    +e.reviews-list.box-col.big-large-view(style='display: none')
                        +e.reviews-item.box-col
                            +e.reviews-item-top.box-row.align-center
                                +ratingBox()
                                +e('span').reviews-item-date Март 24, 2017
                            +e('b').reviews-item-title ОЧЕНЬ КРУТОЙ СТУЛ
                            +e('span').reviews-item-user Евгений Ищенко
                            +e.reviews-item-text
                                | Many of us have back problems, it is a very wide problem for people, ever since we started walking on our tow legs and raised our backs a large percent of human have suffered pain in the back from different reasons. The chiropractic was invented to help solve or reduce back pain by training back experts that will offer help and relief to those needing back pain help
                        +e.reviews-item.box-col
                            +e.reviews-item-top.box-row.align-center
                                +ratingBox()
                                +e('span').reviews-item-date Март 24, 2017
                            +e('b').reviews-item-title СПАСИБО ЗА КАЧЕСТВО
                            +e('span').reviews-item-user Vera Barrett
                            +e.reviews-item-text
                                | Many of us have back problems, it is a very wide problem for people, ever since we started walking on our tow legs and raised our backs a large percent of human have suffered pain in the back from different reasons. The chiropractic was invented to help solve or reduce back pain by training back experts that will offer help and relief to those needing back pain help
                        +pager()
                    +e.add-reviews.box-row.big-large-view
                        +b.reviews-form.box-col
                            +e('b').title Написать отзыв
                            form(action='')
                                +e.field.box-col
                                    +e('label').field-label.rating-label Ваша оценка 
                                        +space()
                                        span *
                                    select(name='rating').js-rating-stars
                                        option(value='1') 1
                                        option(value='2') 2
                                        option(value='3') 3
                                        option(value='4') 4
                                        option(value='5') 5
                                +e.field.box-col
                                    +e('label')(for='review-name').field-label Ваше имя 
                                        +space()
                                        span *
                                    +e('input')(type='text' required).field-text.input-text.full-width#review-name
                                +e.field.box-col
                                    +e('label')(for='review-tel').field-label Номер телефона
                                        +space()
                                        span *
                                    +e('input')(type='text' required).field-text.input-text.full-width#review-tel
                                +e.field-comment.box-col
                                    +e('label')(for='review-comment').field-label Ваш комментарий
                                    +e('textarea').field-textarea.input-textarea.full-width#review-comment
                                +e.action.box-row.space-center
                                    +e('input')(type='submit' value='ОТПРАВИТЬ').submit-button.gray-button-2
            +b.front-content.other-products
                +e.products
                    +e.products-top.box-row.space-between
                        +b('h2').block-title.box-row
                            +e('span').text.box-row.align-center ПРОСМОТРЕННЫЕ
                        +e.products-top-buttons.box-row.active.large-view
                            +e.products-top-but.prev.box-row.align-middle.js-product-prev
                            +e.products-top-but.next.box-row.align-middle.js-product-next
                    +e.products-list.js-product-scroll
                        +b.catalog-list.simple-view.box-row
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-colors.box-row.space-center
                                        +e.item-colors-button.active(style='background-color: #323334')
                                        +e.item-colors-button(style='background-color: #c5c8c1')
                                        +e.item-colors-button(style='background-color: #e0171e')
                                        +e.item-colors-button(style='background-color: #f6a623')
                                        +e.item-colors-button(style='background-color: #b8e986')
                                        +e.item-colors-button(style='background-color: #4990e2')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                                    +e.item-thumbs.box-row.space-center
                                        +e.item-thumbs-button.box-col.align-middle.active
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-03 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                                    +e.item-thumbs.box-row.space-center
                                        +e.item-thumbs-button.box-col.align-middle.active
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                                        +e.item-thumbs-button.box-col.align-middle
                                            img(src='img/temp/product-thumb.jpg' all='')
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-colors.box-row.space-center
                                        +e.item-colors-button.active(style='background-color: #323334')
                                        +e.item-colors-button(style='background-color: #c5c8c1')
                                        +e.item-colors-button(style='background-color: #e0171e')
                                        +e.item-colors-button(style='background-color: #f6a623')
                                        +e.item-colors-button(style='background-color: #b8e986')
                                        +e.item-colors-button(style='background-color: #4990e2')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
                            +e.item
                                +e.content.box-col.wrapper-absolute
                                    +e('a')(href='/').item-img.box-col
                                        img(src='img/temp/product.jpg' all='')
                                    +e.item-info.box-col
                                        +e('a')(href='/').item-title Кресло M-02 Patchwork
                                        +e('span').item-code [Арт. 23226416]
                                        +addButton()
block modals
    +moreColors()
    +galleryPopup()
    +modalCallback()
    +writeManager()
    +addReview()
    +addedCart()
    +bodyOverlay()
                        
                        
                                
                        
                        
                            
                            
                            
                            
            

                        

        


            