extends ../blocks/layout.pug
include ../blocks/filter-panel
include ../blocks/sidebar-filter
include ../blocks/bottom-text

block title
    title Результат поиска

block pagecontent
    .site-container.search-container
        .content-center
            +b.breadcrumbs.box-row.align-center.full-height
                +e('a')(href='/').link.no-decoration Главная
                +e('span').sep / 
                +e('span').current Результат поиска
            +b.catalog-top.text-center
                h1.page-title Результат поиска
                +e.search.box-col.align-center
                    +e.search-desc Найдено по Вашему запросу 245 товаров в 6 категориях
                    +e.search-results.box-row
                        +e('span').search-item Дом (26)
                        +e('span').search-item Офис (122)
                        +e('span').search-item Сад (98)
                        +e('span').search-item Horeca (15)
            +filter-panel()
            +b.catalog-content.box-row
                +sidebarFilter()
                +b.catalog-list.simple-view.box-row.box-wrap
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-colors.box-row.space-center
                                +e.item-colors-button.active(style='background-color: #323334')
                                +e.item-colors-button(style='background-color: #c5c8c1')
                                +e.item-colors-button(style='background-color: #e0171e')
                                +e.item-colors-button(style='background-color: #f6a623')
                                +e.item-colors-button(style='background-color: #b8e986')
                                +e.item-colors-button(style='background-color: #4990e2')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
                            +e.item-thumbs.box-row.space-center
                                +e.item-thumbs-button.box-col.align-middle.active
                                    img(src='img/temp/product-thumb.jpg' all='')
                                +e.item-thumbs-button.box-col.align-middle
                                    img(src='img/temp/product-thumb.jpg' all='')
                                +e.item-thumbs-button.box-col.align-middle
                                    img(src='img/temp/product-thumb.jpg' all='')
                                +e.item-thumbs-button.box-col.align-middle
                                    img(src='img/temp/product-thumb.jpg' all='')
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
                            +e.item-thumbs.box-row.space-center
                                +e.item-thumbs-button.box-col.align-middle.active
                                    img(src='img/temp/product-thumb.jpg' all='')
                                +e.item-thumbs-button.box-col.align-middle
                                    img(src='img/temp/product-thumb.jpg' all='')
                                +e.item-thumbs-button.box-col.align-middle
                                    img(src='img/temp/product-thumb.jpg' all='')
                                +e.item-thumbs-button.box-col.align-middle
                                    img(src='img/temp/product-thumb.jpg' all='')
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-colors.box-row.space-center
                                +e.item-colors-button.active(style='background-color: #323334')
                                +e.item-colors-button(style='background-color: #c5c8c1')
                                +e.item-colors-button(style='background-color: #e0171e')
                                +e.item-colors-button(style='background-color: #f6a623')
                                +e.item-colors-button(style='background-color: #b8e986')
                                +e.item-colors-button(style='background-color: #4990e2')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
                    +e.item
                        +e.content.box-col.wrapper-absolute
                            +e('a')(href='/').item-img.box-col
                                img(src='img/temp/product.jpg' all='')
                            +e.item-info.box-col
                                +e('a')(href='/').item-title Кресло M-02 Patchwork
                                +e('span').item-code [Арт. 23226416]
                                +b.add-button.self-start
                                    +e.icon
                                        +e('i').icon-img.icon.web-1
                                    +e.text 2560
                                        span грн.
            +filter-panel()
    +bottomText()
block medium-filter
    +mediumFilter()


                        

        


            