extends ../blocks/layout.pug
include ../blocks/mixins

block title
    title Как это работает

block pagecontent
    .site-container.work-container
        .content-center
            +b.breadcrumbs.box-row.align-center.full-height
                +e('a')(href='/').link.no-decoration Главная
                +e('span').sep / 
                +e('span').current Как это работает
            +b.work-content.box-col.align-center
                +e.wrapper
                    +e('h1').title Как это работает
                    +e('h2').subtitle Все предельно просто в интернет-магазине стульев «КупиСтул»!
                    +e.text
                        +e.text-item.box-row
                            img(src='img/work-1.svg').self-start
                            +e.text-desc
                                +e.text-top.box-row.align-center
                                    +e.text-num.box-row.align-middle 1
                                    +e('h3').text-title Выбрать
                                +e.text-short.
                                    Многотысячный ассортимент товаров интернет-магазина «КупиСтул»
                                    постоянно пополняется новыми моделями кресел и стульев. Выбрать
                                    очень легко!
                                +e.text-static.
                                    Заходите в нужный раздел каталога - и все стулья и кресла перед вами. Плюс, у нас
                                    всегда можно купить стул или кресло под заказ. Обращаем внимание на большой
                                    выбор обивки - более 100 видов материалов. Потому не игнорируйте предложение
                                    «смотреть все цвета», а воспользуйтесь возможностью выбрать обивку любого
                                    цвета из натуральной или искусственной кожи, или же тканевую. И наконец,
                                    правильный выбор помогут сделать подробные характеристики и описание каждого
                                    стула или кресла. Ориентироваться в большом количестве товара будет еще проще
                                    с помощью так называемых фильтров: можно сортировать по нужному цвету или
                                    материалу, по стране производителю и т.д.
                        +e.text-item.box-row
                            +e.text-desc
                                +e.text-top.box-row.align-center
                                    +e.text-num.box-row.align-middle 2
                                    +e('h3').text-title Заказать
                                +e.text-short.
                                    Заказать приглянувшийся товар, а в нашем случае – стул или кресло,
                                    можно несколькими способами: через корзину покупок прямо на сайте,
                                    по электронной почте или по телефону.
                                +e.text-static.
                                    Для заказа через корзину нужно добавить понравившийся товар, само собой, в
                                    корзину. Выбирать количество единиц интересуемой модели можно как перед
                                    добавлением, так и в самой корзине. Смело можно использовать корзину в качестве
                                    калькулятора: при изменении количества товаров сразу и безошибочно
                                    пересчитывается итоговая сумма. Когда все выбрано и подсчитано, пора нажать
                                    кнопку «оформить заказ». В появившейся форме следует заполнить поля
                                    контактной информацией и обязательно перепроверить! Все вопросы и пожелания
                                    пишите в Комментарий. Осталось отправить запрос и – готово!
                                    Ждите нашего звонка в ближайшее время.
                            img(src='img/work-2.svg').self-start
                        +e.text-item.box-row
                            img(src='img/work-3.svg').self-start
                            +e.text-desc
                                +e.text-top.box-row.align-center
                                    +e.text-num.box-row.align-middle 3
                                    +e('h3').text-title Получить
                                +e.text-short Элементарно!
                                +e.text-short.
                                    Быстрая доставка до двери в любую точку Украины, подъем на самый
                                    высокий небоскреб и профессиональная сборка при необходимости.
                                    Безоговорочная замена комплектующих в случае обнаружения
                                    заводского брака. Если вдруг по каким-то причинам товар не подошел –
                                    не расстраивайтесь: у нас действует простая схема возврата. А как
                                    выбрать и заказать новый стул или кресло, вы уже знаете;)




                    



                            
                            
                            
                            
            

                        

        


