.bottom-text
    padding-bottom 40px
    &__content
        border-top 1px solid lineColor
        padding-top 15px
        max-height 250px
        transition all 500ms
        .full-button
            .text-def,
            .text-hide
                animation-duration 200ms
        &.active
            max-height 5000px
            .full-button
                .text-def
                    @extend .no-display
        &:not(.active)
            .full-button
                .text-hide
                    @extend .no-display
    &__text
        font-size 13px
        line-height 20px
        color grayText
        position relative
        @media largeView
            column-count 2
            column-gap 20px
        .bottom-text__content:not(.active) &
            overflow hidden
            height 142px
            &:after
                content ''
                @extend .wrapper-absolute
                top auto
                bottom 0
                background-image linear-gradient(to bottom, rgba(255, 255, 255, 0.2), white)
                height 66px
        p
            -webkit-column-break-inside avoid
            page-break-inside avoid
            break-inside avoid
    .full-button
        margin-top 15px