.chosen-container
    position relative
    display inline-block
    vertical-align top
    user-select none

.chosen-single
    width 100%
    @extend .box-row
    @extend .align-center
    @extend .space-between
    text-decoration none
    white-space nowrap
    height 30px
    padding 1px 15px 0
    font-size 10px
    text-transform uppercase
    color grayText
    background-color bgColor
    border-radius 15px
    cursor pointer
    user-select none
    font-family fontBold
    border 1px solid transparent
    border-bottom none
    position relative
    .chosen-container.chosen-with-drop &
        border-bottom-right-radius 0
        border-bottom-left-radius 0
        background-color #fff
        border-color lineColor
    div
        width 0
        height 0
        border-style solid
        border-width 4px 3px 0 3px
        border-color grayText transparent transparent transparent
        position relative
        .chosen-container.chosen-with-drop &
            transform rotate(-180deg)
            top -1px


.chosen-drop
    width 100%
    position absolute
    background-color #FFF
    left 0
    top 30px
    z-index 10
    animation-duration 250ms
    border 1px solid lineColor
    border-top none
    overflow hidden
    border-bottom-right-radius 15px
    border-bottom-left-radius 15px
    .chosen-container:not(.chosen-with-drop) &
        @extend .no-display
    .chosen-search
        @extend .no-display
    .chosen-results
        list-style none
        -webkit-overflow-scrolling touch
        overflow-x hidden
        overflow-y auto
        max-height 310px
        li
            cursor pointer
            -webkit-touch-callout none
            @extend .box-row
            @extend .align-center
            height 30px
            font-size 10px
            text-transform uppercase
            font-family fontBold
            color grayText
            padding 0 15px
            &:hover
                background-color bgColor


            
