.footer-layout
    flex 0 0 auto
    background-color bgColor
    @media smallView
        transition transform 250ms

.footer-content
    padding 35px 0 25px
    border-bottom 1px solid lineColor
    @media mediumView
        padding 35px 0 15px
        flex-wrap wrap
    @media smallView
        flex-direction column
        padding 20px 0 10px
    &__column
        flex 0 0 25%
        @media mediumView
            flex 0 0 auto
            &:last-child
                margin-top 20px
                flex 1 0 100%
        @media smallView
            &:not(:last-child)
                margin-bottom 20px
            &:last-child
                margin 0
                flex 0 0 auto
            &:first-child:not(.active),
            &:nth-child(2):not(.active)
                overflow hidden
                height 15px
    &__work-info
        @media mediumView
            flex-direction row
        @media smallView
            flex-direction column
    &__title
        text-transform uppercase
        font-size 18px
        color grayText
        margin-bottom 20px
        @media mediumView
            font-size 14px
            margin-bottom 10px
        @media smallView
            .footer-content__column:not(:last-child):not(:nth-child(3)) &
                cursor pointer
                display flex
                align-items center
                justify-content space-between
                &:after
                    content ''
                    width 0
                    height 0
                    border-style solid
                    border-width 4px 3px 0 3px
                    border-color grayText transparent transparent transparent
            .footer-content__column.active &:after
                transform rotate(-180deg)

    &__menu
        @media mediumView
            padding-top 5px
        &-link
            font-size 14px
            font-family fontLight
            color grayText
            @media mediumView
                font-size 12px
            &:not(:last-child)
                margin-bottom 15px
    &__pay-desc
        font-size 12px
        color grayText
        margin-bottom 15px
        @media mediumView
            font-size 10px
            line-height 12px
    &__pay-item
        font-size 12px
        color grayText
        &:not(:last-child)
            margin-bottom 20px
        .icon
            font-size 0.04em
            margin-right 10px
    &__tel
        font-size 30px
        font-family fontMed
        margin-bottom 18px
        @media smallView
            margin-bottom 10px
    &__mail
        font-family fontMed
        color grayText
    &__work
        margin-top 14px
        font-size 13px
        line-height 20px
        color graytext
        @media mediumView
            margin 0 0 0 80px
            font-size 12px
        @media smallView
            margin 5px 0 0

.footer-bottom
    height 63px
    @media mediumView
        height 83px
    @media smallView
        height auto
        padding 15px 0
        flex-direction column
    &__copy
        font-size 10px
        line-height 16px
        color grayText
        flex 0 0 580px
        @media mediumView
            flex 0 0 530px
        @media smallView
            flex 0 0 auto
            margin-bottom 25px