.go-old-panel
    flex 0 0 30px
    font-weight bold
    font-family Arial
    color #fff
    background-color greenColor
    position relative
    text-transform uppercase
    font-size 16px
    @media mediumView
        font-size 9px
    &__link
        text-decoration none
        color #fff
    &__closed
        position absolute
        right 0
        top 0
        width 30px
        height 30px
        background-color defColor
        font-weight normal
        cursor pointer
        user-select none