.header-layout
    background-color #fff
    position relative
    .content-overlay &
        z-index 1001
    @media smallView
        &:not(.open-search)
            box-shadow 0 2px 2px 0 rgba(0, 0, 0, 0.1)     
    &.fixed-mode
        position fixed
        width 100%
        left 0
        top 0
        height 81px
        border-bottom 1px solid lineColor
        z-index 102
        @media smallView
            height 80px
            border-bottom none
        .content-overlay &
            z-index 1002
         
         

.header-top
    height 30px
    border-bottom 1px solid lineColor
    .header-layout.fixed-mode &
        height 36px
    &__logo
        flex 0 0 143px
        .header-layout:not(.fixed-mode) &
            @extend .no-display
    &__info
        margin-right 40px
        font-family fontMed
        white-space nowrap
        @media mediumView
            margin-right 0
        .header-layout.fixed-mode &
            @extend .no-display
    &__delivery
        font-size 12px
        color black
        i
            font-size 10px
            margin-right 10px
        .header-layout.fixed-mode &
            @extend .no-display
    &__call-button
        cursor pointer
        user-select none
        font-size 12px
        color grayText
        margin-left 12px
        .icon
            font-size 10px
        @media smallView
            margin 0
    &__right-buttons
        flex 0 0 auto
        white-space nowrap
        @media smallView
            flex 1 0 100%
            justify-content space-between
    &__tels
        margin-left 17px
        position relative
        flex 0 0 150px
        width 150px
        font-size 16px
        color grayLink
        font-family fontMed
        @media mediumView
            margin-left 5px
        @media smallView
            width 145px
            flex 0 0 145px
        &-active
            height 29px
            cursor pointer
            user-select none
            padding 0 5px 0 10px
            border-left 1px solid transparent
            border-right 1px solid transparent
            @media smallView
                padding-left 5px
            .header-top__tels.active &
                border-color lineColor
                box-shadow 0px 2px 2px 0 #999
            &:after
                content ''
                width 0
                height 0
                border-style solid
                border-width 5px 3px 0 3px
                border-color grayLink transparent transparent transparent
                transition transform 200ms
                .header-top__tels.active &
                    transform rotate(-180deg)
        &-dropdown
            position absolute
            left 0
            width 100%
            top 29px
            background-color #fff
            border 1px solid lineColor
            animation-duration 200ms
            z-index 100
            box-shadow 0px 2px 2px 0 #999
            .header-top__tels:not(.active) &
                @extend .no-display
        &-item
            padding 0 10px
            flex 0 0 30px
            &:first-child
                background-color grayBg
                border-bottom 1px solid lineColor
        @media smallView
            margin 0
    &__work
        font-size 12px
        color grayText
    &__cart
        margin-left 48px
        text-decoration none
        @media mediumView
            margin-left 18px
        @media smallView
            margin 0
        &-icon
            flex 0 0 16px
            height 14px
            position relative
            margin-right 13px
            .icon
                font-size 0.02em
        &-count
            width 14px
            height 14px
            border-radius 50%
            color #fff
            background-color redColor
            font-size 8px
            position absolute
            top -5px
            right -9px
            font-family fontRobotoMed
        &-title
            font-size 10px
            text-transform uppercase
            font-family fontMed
            color grayText
    &__city
        margin-left 13px
        font-size 12px
        color grayText
        @media largeView
            position relative
        @media smallView
            margin-left 0
        .icon
            font-size 0.79px
        &-button
            margin-left 4px
            white-space nowrap
            cursor pointer
            user-select none
            color defColor
            font-size 14px
            font-family fontMed
            &:after
                content ''
                width 0
                height 0
                border-style solid
                border-width 5px 3px 0 3px
                border-color grayLink transparent transparent transparent
                margin-left 4px
                position relative
                top -1px
.header-logo
    height 60px
    @media smallView
        height 50px
        .content-center
            padding 0
    .header-layout.fixed-mode &
        @extend .no-display
        @media smallView
            display block
            height 44px
    &__logo
        flex 0 0 220px
        @media smallView
            flex 0 0 175px
    &__wrapper
        @media smallView
            justify-content space-between
    &__burger-button
        cursor pointer
        flex 0 0 50px
        background-color #000000
        &:not(.active)
            &:before,
            &:after
                content ''
                flex 0 0 1px
                background-color #ffffff
                width 14px
        &-border
            margin 4px 0
            flex 0 0 1px
            background-color #ffffff
            width 14px
            .header-logo__burger-button.active &
                @extend .no-display
        &-icon
            font-size 10px
            .header-logo__burger-button:not(.active) &
                @extend .no-display
    &__search-button
        cursor pointer
        font-size 0.026em
        flex 0 0 50px
        background-color grayBg
        border-left 1px solid #ececec

        

.header-bottom
    height 44px
    background-color grayBg
    animation-duration 200ms
    position relative
    z-index 10
    &.search-view
        z-index 99
    @media smallView
        &:not(.search-view)
            display none
        .content-center
            padding 0
    &__wrapper
        position relative
        height 44px
    &__left
        flex 1 1 auto
        .header-bottom.search-view &
            width 0
    &__catalog
        position relative
        flex 0 0 260px
        margin-right 30px
        &-button
            color #fff
            background-color #000
            padding-left 20px
            cursor pointer
            user-select none
            letter-spacing 1px
            .header-bottom__catalog:hover &
                background-color #222
            &-burger
                flex 0 0 14px
                height 11px
                border-bottom 1px solid #fff
                border-top 1px solid #fff
                margin-right 23px
                &:after
                    content ''
                    flex 0 0 1px
                    background-color #fff
            &-text
                text-transform uppercase
                line-height 1.3
                span
                    font-size 10px
                b
                    font-size 12px
                    font-weight normal
                    font-family fontBold
        &-list
            position absolute
            left 0
            top 44px
            background-color #222
            width 300px
            list-style none
            border 1px solid defColor
            border-top none
            animation-duration 200ms
            .header-bottom__catalog:not(:hover) &
                @extend .no-display
            .header-bottom__catalog:hover &
                animation-name fadeInLeft
            &-item
                position relative
                &:hover
                    & > a,
                    & > span
                        color #fff
                        background-color defColor
            a
                text-decoration none
                font-size 12px
                user-select none
                font-family GothaProMed
                height 44px
            &-section
                text-transform uppercase
                font-family fontBold
                color greenColor !important
                padding-left 20px
                border-top 1px solid defColor
                border-bottom 1px solid defColor 
                letter-spacing 2px
                i
                    margin-right 20px
                    font-size 10px
            &-parent
                color grayTextLight
                padding 0 20px 0 55px
                font-size 12px
                user-select none
                font-family GothaProMed
                height 44px
                cursor default
                &:after
                    content ''
                    flex 0 0 7px
                    height 7px
                    border-top 1px solid grayTextLight
                    border-right 1px solid grayTextLight
                    transform rotate(45deg)
                    .header-bottom__catalog-list-item:hover &
                        border-color #fff
            &-link
                color grayTextLight
                padding-left 55px
            &-dropdown
                position absolute
                top 0
                left 299px
                width 300px
                background-color #222
                animation-duration 200ms
                .header-bottom__catalog-list-item:not(:hover) &
                    @extend .no-display
                .header-bottom__catalog-list-item:hover &
                    animation-name fadeInLeft
                a
                    padding-left 20px
                    color grayTextLight
                    &:hover
                        color #fff
                        background-color defColor
    &__menu
        flex 0 0 auto
        list-style none
        height 44px 
        &-item
            flex 0 0 auto
            height 44px
            &:not(:last-child)
                border-right 1px solid lineColor
        &-link
            text-decoration none
            text-transform uppercase
            font-family fontBold
            letter-spacing 1px
            padding 0 30px
            font-size 12px
            user-select none
            transition all 200ms
            height 44px
            &:after
                content ''
                width 0
                height 0
                border-style solid
                margin 0 0 2px 10px
                border-width 5px 3px 0 3px
                border-color #191919 transparent transparent transparent
                transition transform 200ms
            .header-bottom__menu-item:hover &
                background-color #fff
                &:after
                    transform rotate(-180deg)
    &__dropdown
        position absolute
        width 100%
        height 280px
        left 0
        top 44px
        z-index 10
        background-color #fff
        padding 20px 20px 20px 60px
        animation-duration 200ms
        @media mediumView
            flex-wrap wrap
            padding 20px
        .header-bottom__menu-item:not(:hover) &
            @extend .no-display
        &-content
            flex 0 0 800px
            @media screen and (max-width: 1550px)
                flex 1 1 auto
        &-column
            flex 0 0 50%
            & > a
                text-transform uppercase
                text-decoration none
                font-size 12px
                font-family fontBold
                letter-spacing 2px
                margin 10px 0 20px
            nav
                a
                    font-size 12px
                    color grayText
                    &:hover
                        text-decoration underline
                        color greenColor
                    &:not(:last-child)
                        margin-bottom 15px
                        text-decoration none
                        font-family fontMed
                        &:hover
                            text-decoration underline
        &-brands
            flex 0 0 50px
            padding-top 5px
            border-top 1px solid lineColor
            b
                margin-right 70px
                text-transform uppercase
                font-size 12px
                letter-spacing 2px
            a
                height 40px
                &:not(:last-child)
                    margin-right 43px
                &:not(:hover) img
                    filter grayscale(1)
                    -webkit-filter grayscale(1)
                    opacity .5
                img
                    max-height 40px
        &-images
            flex 0 0 620px
            margin-left 10px
            @media mediumView
                display none
            img
                width 300px
                height 240px
    &__search
        height 44px
        flex 0 0 364px
        position relative
        transition flex 200ms
        @media mediumView
            flex 0 0 20%
        .header-bottom.search-view &
            flex 1 0 100%
        &-text
            background-color lineColor
            border none
            padding 0 46px
            font-size 12px
        &-submit
            width 1.25em
            height 1.1em
            border none
            cursor pointer
            background transparent url(../img/search-icon.svg) no-repeat center
            position absolute
            left 21px
            top 50%
            transform translateY(-50%)
        &-dropdown
            position absolute
            left 0
            top 44px
            background-color #fff
            &-column
                flex 0 0 50%
            &-info
                flex 1 1 auto
                @media mediumView
                    flex-direction column
                    flex 0 0 auto
                    align-items flex-start
            &-product
                height 80px
                padding 0 20px
                font-size 12px
                &:not(:last-child)
                    border-bottom 1px solid lineColor
                @media smallView
                    padding 0 45px
                &:hover
                    background-color grayBg
            &-img
                margin-right 20px
                flex 0 0 60px
            &-title
                text-transform uppercase
                text-decoration none
                font-family fontBold
                color grayText
                flex 0 0 250px
                margin-right 15px
                @media mediumView
                    flex 0 0 auto
                    margin 0 0 5px
            .add-button
                margin-left 20px
            &-price
                color grayText
                flex 0 0 100px
                margin-left 10px
                span
                    font-size 10px
                    font-family fontLight
            &-status
                flex 0 0 160px
                &.need-stock
                    color #4a90e2
    &__search-closed
        position absolute
        cursor pointer
        top 0
        right 0
        width 44px
        height 44px
        background-color defColor
        animation-duration 200ms
        .header-bottom:not(.search-view) &
            @extend .no-display
        &:before,
        &:after
            content ''
            position absolute
            left 50%
            top 50%
            width 22px
            height 2px
            background-color #fff
        &:before
            transform translate(-50%, -50%) rotate(-45deg)
        &:after
            transform translate(-50%, -50%) rotate(45deg)



                

