.medium-menu
    position fixed
    top 80px
    left -100%
    background-color #222222
    color grayTextLight
    height calc(100vh - 80px)
    overflow-x hidden
    overflow-y auto
    transition all 0.2s ease
    transform 0.4s linear 0s
    z-index 100
    &.active
        transform translate(100%, 0px)
    &__menu
        list-style none
        font-size 12px
        font-family fontMed
        &-item
            animation-duration 200ms
            .medium-menu__menu.hidden-parents &:not(.active)
                @extend .no-display
        &-back
            cursor pointer
            height 44px
            border-bottom 1px solid defColor
            color #ffffff
            padding-left 20px
            .medium-menu__menu:not(.hidden-parents) &
                @extend .no-display
            &:before
                content ''
                flex 0 0 10px
                height 10px
                border-top 1px solid white
                border-left 1px solid white
                transform rotate(-45deg)
                margin-right 10px
        &-link
            text-decoration none
            color grayTextLight
            height 44px
            text-transform uppercase
            padding-left 20px
            font-family fontBold
            color greenColor
            border-top 1px solid defColor
            border-bottom 1px solid defColor
            .icon
                font-size 10px
                margin-right 20px
        &-button
            color grayTextLight
            padding 0 20px 0 55px
            font-size 12px
            user-select none
            height 44px
            cursor default
            cursor pointer
            animation-duration 200ms
            .medium-menu__menu.hidden-parents &
                @extend .no-display
            &:not(.no-decoration)
                &:after
                    content ''
                    flex 0 0 7px
                    height 7px
                    border-top 1px solid grayTextLight
                    border-right 1px solid grayTextLight
                    transform rotate(45deg)
    &__dropdown-menu
        list-style none
        animation-duration 200ms
        .medium-menu__menu-item:not(.active) &
            @extend .no-display
    &__dropdown-link
        color grayTextLight
        padding-left 20px
        user-select none
        height 44px
        text-decoration none
