.medium-filter
    position fixed
    bottom 54px
    left 0
    height calc(100% - (54px + 134px))
    z-index 10
    background-color white
    padding 10px 15px
    overflow-y auto
    animation-duration 200ms
    transition transform 250ms
    &.menu-mode
        transform translate(240px,0)
    @media smallView
        height calc(100% - (54px + 90px))
    .fixed-header ~ &
        height calc(100% - (54px + 80px))
    &:not(.active)
        @extend .no-display
    &-button
        cursor pointer
        position fixed
        z-index 10
        left 0
        bottom 0
        height 54px
        background-color greenColor
        opacity 0.95
        text-transform uppercase
        font-size 12px
        color #fff
        transition transform 250ms
        &.menu-mode
            transform translate(240px,0)
        &__open-button
            .medium-filter-button.active &
                @extend .no-display
        &__other-buttons
            position relative
            &:after
                content ''
                width 1px
                height 34px
                background-color #fff
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)
            .medium-filter-button:not(.active) &
                @extend .no-display
            &-button
                flex 0 0 50%
                cursor pointer
                padding 0 20px
                line-height 14px
    &__top
        flex 0 0 44px
        background-color lineColor
        text-transform uppercase
        font-size 12px
        position relative
        margin-bottom 10px
    &__closed
        position absolute
        cursor pointer
        top 0
        right 0
        width 44px
        height 44px
        background-color defColor
        &:before,
        &:after
            content ''
            position absolute
            left 50%
            top 50%
            width 22px
            height 2px
            background-color #fff
        &:before
            transform translate(-50%, -50%) rotate(-45deg)
        &:after
            transform translate(-50%, -50%) rotate(45deg)
    &__section
        border 1px solid lineColor
        border-radius 25px
        &:not(:last-child)
            margin-bottom 10px
        &-button
            height 50px
            cursor pointer
            padding 10px 0 10px 20px
        &-title
            margin-bottom 7px
        &-current
            font-size 10px
            color grayText
            overflow hidden
            white-space nowrap
            text-overflow ellipsis
            span
                margin-right 10px
        &-list
            padding 0 35px 20px 40px
            animation-duration 200ms
            .medium-filter__section:not(.active) &
                @extend .no-display
        &-link
            text-decoration none
            font-size 12px
            color grayText
            flex 0 0 30px
            &:after
                content ''
            &:not(.active):after
                flex 0 0 16px
                height 16px
                border-radius 4px
                background-color white
                border solid 1px lineColor
                margin-right 8px
            &.active:after
                flex 0 0 14px
                height 8px
                border-bottom 2px solid defColor
                border-left 2px solid defColor
                transform rotate(-45deg)
                margin 0 7px 0 3px
    &__price-range
        height 30px
        margin-bottom 19px
        padding 12px 0 0 0
        .noUi-base
            height 4px
            border-radius 2px
            background-color lineColor
            position relative
            width 100%
        .noUi-handle
            width 24px
            height 24px
            cursor pointer
            position relative
            z-index 1
            border-radius 50%
            box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.2)
            transform translateY(-45%) translateX(-50%)
            background-color #fff
            @extend .box-row
            @extend .align-middle
            &:after
                content ''
                flex 0 0 18px
                height 18px
                border-radius 50%
                background-color grayText
        .noUi-origin
            border-radius inherit
            bottom 0
            position absolute
            right 0
            top 0
        .noUi-background
            background-color lineColor
        .noUi-connect
            background-color grayText
    &__price-fields
        &-input
            font-size 12px
            color grayText
            .input-text
                flex 0 0 100px
                width 100px
                max-width 100px
                margin-left 10px
                padding 0 16px
                font-family fontBold
