.overlay-content
    position fixed
    top 0
    left 0
    z-index 102
    background-color rgba(black, 0.6)
    animation-duration 200ms
    &:not(.active)
        @extend .no-display
    &.popup-overlay
        @media smallView
            align-items center
            justify-content center

.body-overlay
    position fixed
    top 0
    left 0
    z-index 100
    background-color rgba(black, 0.6)
    animation-duration 200ms
    z-index 1000
    body:not(.content-overlay) &
        @extend .no-display


.added-overlay
    position fixed
    top 0
    left 0
    z-index 1001
    animation-duration 200ms
    &:not(.active)
        @extend .no-display
    @media smallView
        align-items center
        background-color rgba(black, 0.6)

.more-colors-panel
    flex 1 0 100%
    width 688px
    position relative
    background-color #fff
    padding-top 20px
    animation-duration 200ms
    @media smallView
        width 100%
    &__color-title
        text-transform uppercase
    &__price-label
        text-transform uppercase
        margin-right 15px
        color grayText
    &__top
        flex 0 0 auto
        background-color grayBg
        padding 15px 75px 25px 60px
        margin-top 25px
        @media smallView
            padding 10px 10px 20px
            flex 0 0 auto
            margin-bottom 10px
            flex-direction column
        &-title
            font-size 12px  
            color grayText
            margin-bottom 15px
        &-name
            font-size 12px
            color graytext
        &-img
            margin-top 6px
            flex 0 0 140px
            width 140px
            background-color #fff
            border-radius 50%
            box-shadow inset 0 10px 30px 0 rgba(0, 0, 0, 0.3)
            @media smallView
                flex 0 0 80px
                height 80px
                margin 0 0 0 28px
            img
                width 132px
                height 132px
                border-radius 50%
                @media smallView
                    width 72px
                    height 72px
        &-main
            flex 1 1 auto
        &-desc
            font-size 12px
            line-height 18px
            max-height 165px
            overflow hidden
            margin-bottom 15px
            @media smallView
                margin-bottom 10px
        &-price
            font-size 28px
            color grayText
            span
                font-size 10px
                font-family fontLight
        &-submit
            height 40px
            flex 0 0 240px
            border-radius 20px
            padding 0
            justify-content flex-start
            @media smallView
                flex 0 0 190px
            &-icon
                flex 0 0 47px
                border-right 1px solid rgba(255, 255, 255, 0.2)
                &:after
                    content ''
                    flex 0 0 12px 
                    height 6px
                    transform rotate(-45deg)
                    border-left 1px solid white
                    border-bottom 1px solid white
            &-text
                flex 1 1 auto
    &__title
        text-transform uppercase
        font-size 20px
        margin-bottom 15px
    &__content
        flex 1 0 auto
        padding 0 10px 0 60px
        @media smallView
            padding 0 10px
        &-full
            flex 1 1 100%
        &-scroll
            width 100%
            outline none
            flex 1 0 0
            overflow auto
            position relative
            &:after
                content ''
                position absolute
                bottom 0
                left 0
                width 550px
                height 150px
                background-image linear-gradient(to bottom, rgba(255, 255, 255, 0), white)
                transition all 200ms
                @media mediumView
                    display none
            &.in-bottom:after
                opacity 0
                visibility hidden
            .jspContainer
                overflow hidden
                position relative
            .jspPane
                position absolute
                left 0 !important
            .jspVerticalBar
                position absolute
                top 0
                right 0
                height 100%
                width 4px
                .jspTrack
                    position relative
                    border-radius 2px
                    background-color lineColor
                .jspDrag
                    position relative
                    top 0
                    left 0
                    cursor pointer
                    border-radius 2px
                    background-color grayText
        .more-colors-panel__title
            margin-bottom 20px
        &-wrapper
            &:not(:last-child)
                margin-bottom 20px
        &-top
            margin-bottom 17px
            color grayText
            width 550px
            @media smallView
                width auto
            &-title
                font-size 12px
                text-transform uppercase
                span
                    font-family fontReg
            &-price
                text-transform uppercase
                span
                    font-family fontLight
                    font-size 12px
    &__status
        font-size 12px
        border-bottom 1px solid lineColor
        padding-bottom 12px
        margin-bottom 28px
        width 550px
        &.in-stock
            color #bad234
        &.need-stock
            color #4990e2
    &__color-button
        flex 0 0 70px
        height 106px
        margin 0 10px 10px 0
        @media smallView
            flex 0 0 50px
            height 90px
        &-img
            cursor pointer
            position relative
            flex 0 0 70px
            margin-bottom 5px
            border-radius 50%
            @media smallView
                flex 0 0 50px
            img
                border-radius 50%
                width 62px
                height 62px
                @media smallView
                    width 42px
                    height 42px
            .icon
                font-size .025em
                position relative
                &.technology
                    opacity 0.6
                    font-size .3405px
            &:not(.active)
                border 4px solid #fff
                &:after
                    content ''
                    position absolute
                    border-radius 50%
                    top -4px
                    left -4px
                    width 70px
                    height 70px
                    box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.4)
                    @media smallView
                        width 50px
                        height 50px
            &.active
                &:after
                    content ''
                    flex 0 0 17px
                    height 9px
                    border-bottom 2px solid #fff
                    border-left 2px solid #fff
                    transform rotate(-45deg)
                img
                    width 70px
                    height 70px
                    @media smallView
                        width 50px
                        height 50px
        &-title
            font-size 10px
            line-height 10px
    &__bottom
        padding 0 60px
        margin-top 30px
        font-size 12px
        line-height 18px
        color grayTextLight
        flex 0 0 auto
        @media smallView
            padding 0 10px
    &__closed
        position absolute
        cursor pointer
        width 40px
        height 40px
        background-color #fff
        left -40px
        top 50%
        transform translateY(-50%)
        &:before,
        &:after
            content ''
            position absolute
            width 14px
            height 14px
            border-top 1px solid #000
            border-right 1px solid #000
            top 50%
            transform translateY(-50%) rotate(45deg)
        &:before
            left 7px
        &:after
            left 14px
        @media smallView
            left auto
            transform none
            position absolute
            cursor pointer
            top 0
            right 0
            width 44px
            height 44px
            background-color defColor
            &:before,
            &:after
                content ''
                position absolute
                left 50%
                top 50%
                width 22px
                height 2px
                background-color #fff
                border none
            &:before
                transform translate(-50%, -50%) rotate(-45deg)
            &:after
                transform translate(-50%, -50%) rotate(45deg)

.gallery-popup
    background-color #fff
    flex 0 0 870px
    height 730px
    position relative
    &__title
        flex 0 0 44px
        background-color lineColor
        font-size 12px
        margin-bottom 20px
    &__content
        flex 0 0 650px
        padding 0 49px 0 20px
    &__thumbs
        flex 0 0 80px
        &-button
            border 1px solid transparent
            height 80px
            width 80px !important
            &.active
                border-color grayText
            &.video-button
                position relative
                &:before
                    content ''
                    @extend .wrapper-absolute
                    background-color rgba(51, 51, 51, 0.7)
                &:after
                    content ''
                    width 0
                    height 0
                    border-style solid
                    border-width 15px 0 15px 25px
                    border-color transparent transparent transparent #ffffff
                    position absolute
                    left 50%
                    top 50%
                    transform translate(-50%, -50%)
            &:not(:last-child)
                margin-bottom 10px
        .bx-wrapper
            flex 0 0 80px
            height 532px
            max-width 80px !important
            position relative
            .bx-controls a
                position absolute
                font-size 0
                left 50%
                width 0
                height 0
                border-style solid
                transform translateX(-50%)
                &.disabled
                    opacity 0
                    cursor default
                &.bx-prev
                    top -10px
                    border-width 0 3px 4px 3px
                    border-color transparent transparent grayText transparent
                &.bx-next
                    bottom -10px
                    border-width 4px 3px 0 3px
                    border-color grayText transparent transparent transparent
    &__slider
        flex 0 0 650px
        height 650px
        position relative
        &-list
            width 650px !important
            height 650px !important
        img,
        iframe
            width 650px !important
            height 650px
        .bx-controls a
            position absolute
            font-size 0
            top 50%
            width 31px
            height 31px
            border-radius 50%
            border 1px solid lineColor
            transform translateY(-50%)
            @extend .box-row
            @extend .align-middle
            &:after
                content ''
                width 0
                height 0
                border-style solid
            &.bx-prev
                left -40px
                padding-right 2px
                &:after
                    border-width 3px 4px 3px 0
                    border-color transparent grayText transparent transparent 
            &.bx-next
                right -40px
                padding-left 2px
                &:after
                    border-width 3px 0 3px 4px
                    border-color transparent transparent transparent grayText
    &__closed
        position absolute
        cursor pointer
        top 0
        right 0
        width 44px
        height 44px
        background-color defColor
        &:before,
        &:after
            content ''
            position absolute
            left 50%
            top 50%
            width 22px
            height 2px
            background-color #fff
        &:before
            transform translate(-50%, -50%) rotate(-45deg)
        &:after
            transform translate(-50%, -50%) rotate(45deg)

.modal-form-panel,
.reviews-form
    flex 1 0 100%
    width 360px
    background-color grayBg
    padding 40px
    position relative
    animation-duration 200ms
    @media smallView
        flex 0 1 auto
        width calc(100% - 20px)
        padding 25px 10px 30px
        form
            overflow-y auto
    &__title
        text-transform uppercase
        font-size 20px
        margin-bottom 40px
        @media smallView
            font-size 14px
    &__callback-order-desc
        line-height 22px
        color grayText
        .full-button
            margin-top 20px
            .icon
                font-size .023em
                opacity 1
    &__callback-order-bottom
        position absolute
        left 0
        bottom 0
        background-color white
        border solid 20px buttonBorder
        padding 20px 20px 50px
        &-title
            text-transform uppercase
            margin-bottom 20px
        &-text
            font-size 12px
            line-height 16px
    &__field
        margin-bottom 20px
        &-label
            font-size 10px
            font-family fontMed
            margin-bottom 5px
            &.rating-label
                margin-bottom 17px
            span
                color redColor
        &-text
            @media screen and (max-width: 320px)
                width 280px
        &-textarea
            height 86px
        .br-widget
            @extend .box-row
            a
                flex 0 0 42px
                height 40px
                background-image url(../img/rating-star.svg)
                opacity 0.1
                &.br-selected,
                &.br-active
                    background-image url(../img/ratng-star-red.svg)
                    opacity 1
                &:not(:last-child)
                    margin-right 17px
    &__field-comment
        margin-bottom 30px
    &__closed
        position absolute
        cursor pointer
        width 40px
        height 40px
        background-color grayBg
        left -40px
        top 50%
        transform translateY(-50%)
        &:before,
        &:after
            content ''
            position absolute
            width 14px
            height 14px
            border-top 1px solid #000
            border-right 1px solid #000
            top 50%
            transform translateY(-50%) rotate(45deg)
        &:before
            left 7px
        &:after
            left 14px
        @media smallView
            left auto
            transform none
            position absolute
            cursor pointer
            top 0
            right 0
            width 44px
            height 44px
            background-color defColor
            &:before,
            &:after
                content ''
                position absolute
                left 50%
                top 50%
                width 22px
                height 2px
                background-color #fff
                border none
            &:before
                transform translate(-50%, -50%) rotate(-45deg)
            &:after
                transform translate(-50%, -50%) rotate(45deg)

.added-cart-panel
    position relative
    z-index 100
    top 134px
    height 214px
    background-color #fff
    flex 0 0 90%
    border-bottom 1px solid lineColor
    padding 18px 0
    animation-duration 200ms
    @media smallView
        top 0
        flex 0 0 calc(100% - 20px)
        flex-direction column
        height auto
    &__main
        flex 0 0 345px
        margin-right 40px
        border-right 1px solid lineColor
        @media smallView
            flex 0 0 auto
            margin 0
            border none
    &__title
        font-size 16px
        text-transform uppercase
        margin-bottom 20px
        @media smallView
            font-size 14px
            margin-left -40px
    &__info
        flex 0 0 290px
        font-size 12px
        @media smallView
            flex 0 0 auto
    &__product-title
        text-transform uppercase
        margin-bottom 5px
    &__code
        font-size 11px
        color grayText
        margin-bottom 10px
    &__count
        margin-bottom 10px
    &__summ
        &-count
            color redColor
            span
                font-family fontLight
    &__actions
        margin-top 35px
        @media smallView
            margin-top 30px
            justify-content center
        .red-button,
        .gray-button-2
            max-width 140px
            flex 0 0 140px
    &__closed
        position absolute
        cursor pointer
        top 0
        right 0
        width 44px
        height 44px
        background-color defColor
        &:before,
        &:after
            content ''
            position absolute
            left 50%
            top 50%
            width 22px
            height 2px
            background-color #fff
        &:before
            transform translate(-50%, -50%) rotate(-45deg)
        &:after
            transform translate(-50%, -50%) rotate(45deg)

.popup-city
    position absolute
    left 0
    top 29px
    width 580px
    white-space normal
    background-color white
    padding 30px 40px
    box-shadow 0 20px 40px 0 rgba(0, 0, 0, 0.16)
    animation-duration 200ms
    z-index 100
    @media mediumView
        left 50%
        margin-left calc(-580px / 2)
    @media screen and (max-width: 579px)
        left 0
        margin 0
        width 100%
    &:not(.active)
        @extend .no-display
    &__title
        text-transform uppercase
        font-size 20px
        line-height 32px
        color defColor
        margin-bottom 8px
    &__info
        margin-bottom 32px
        .icon
            font-size 13px
            opacity .8
        &-text
            font-size 14px
            color grayText
            margin-left 17px
    &__list
        margin 0 0 30px -10px
        &-item
            margin-bottom 8px
            &:first-child,
            &:nth-child(4)
                flex 0 0 190px
            &:nth-child(2),
            &:nth-child(5)
                flex 0 0 180px
        &-text
            cursor pointer
            user-select none
            line-height 30px
            padding 0 10px
            font-size 16px
            font-family fontMed
            &:not(.active)
                color blueColor
            &.active
                color white
                border-radius 100px
                background-image linear-gradient(to top, #b8df13, #96ba01)
    &__search
        margin-bottom 42px
        &-label
            font-size 14px
            color defColor
            margin-bottom 10px
        &-field
            height 44px
            border-radius 22px
            box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.08)
            border solid 1px lineColor
            padding 0 20px
            font-size 12px
    &__bottom
        border-top 1px solid lineColor
        padding-top 20px
        font-size 12px
        line-height 18px
        color grayTextLight
    &__closed
        position absolute
        cursor pointer
        top 0
        right 0
        width 44px
        height 44px
        background-color defColor
        &:before,
        &:after
            content ''
            position absolute
            left 50%
            top 50%
            width 22px
            height 2px
            background-color #fff
        &:before
            transform translate(-50%, -50%) rotate(-45deg)
        &:after
            transform translate(-50%, -50%) rotate(45deg)









