.sidebar-filter
    flex 0 0 260px
    max-height calc(100vh - 80px)
    background-color grayBg
    animation-duration 200ms
    top 80px
    &:not(.active)
        @extend .no-display
    &__tabs
        height 60px
        flex 0 0 60px
        border-bottom 1px solid lineColor
        &-button
            cursor pointer
            user-select none
            flex 0 0 50%
            font-size 12px
            position relative
            &:after
                content ''
                position absolute
                bottom 0
                left 0
                width 100%
                height 4px
                background-color greenColor
                transition opacity 200ms
            &:not(.active)
                color grayText
                &:after
                    opacity 0
            &.active
                font-family fontBold
    &__wrapper
        // flex 1 0 0
        flex 1 1 auto
        padding 0 5px 20px 0
        height calc(100% - 60px)
        overflow hidden
        &-content
            flex 1 1 auto
            outline none
            .jspContainer
                overflow hidden
                position relative
            .jspPane
                position absolute
            .jspVerticalBar
                position absolute
                top 0
                right 0
                height 100%
                width 4px
                .jspTrack
                    position relative
                    border-radius 2px
                    background-color lineColor
                .jspDrag
                    position relative
                    top 0
                    left 0
                    cursor pointer
                    border-radius 2px
                    background-color grayText
    &__section
        padding 0 20px 20px
        &:not(:last-of-type)
            border-bottom 1px solid lineColor
        &:last-of-type
            padding-bottom 0
    &__title
        cursor pointer
        user-select none
        text-transform uppercase
        margin 20px 0
        &:after
            content ''
            width 0
            height 0
            border-style solid
            border-width 4px 3px 0 3px
            border-color grayText transparent transparent transparent 
            transition transform 200ms
        .sidebar-filter__section.collapsed &:after
            transform rotate(-180deg)
    &__content
        animation-duration 200ms
        .sidebar-filter__section.collapsed &
            @extend .no-display
    &__list
        padding-top 5px
        max-height 2000px
        transition max-height 500ms
        position relative
        &.collapsed
            max-height 270px
            overflow hidden
            &:after
                content ''
                position absolute
                width 100%
                left 0
                bottom 0
                height 30px
                background-image linear-gradient(to bottom, rgba(248, 248, 248, 0), grayBg)

    &__link
        font-size 12px
        color grayText
        text-decoration none
        flex 0 0 16px
        height 16px
        &:not(:last-child)
            margin-bottom 14px
        &:before
            content ''
        &:not(.active):before
            flex 0 0 16px
            width 16px
            height 16px
            border-radius 4px
            background-color white
            border solid 1px lineColor
            margin-right 8px
        &.active:before,
        &:hover:before
            flex 0 0 14px
            width 14px
            height 8px
            border-bottom 2px solid defColor
            border-left 2px solid defColor
            transform rotate(-45deg)
            margin 0 7px 0 3px
        &:hover:before
            background none
            border-radius 0
            border-top none
            border-right none
        &-title
            margin-right 5px
            .sidebar-filter__link:hover &
                text-decoration underline
                color #262626
            .sidebar-filter__link.active &
                color #262626
    &__price-range
        height 30px
        margin-bottom 19px
        padding 12px 0 0 0
        .noUi-base
            height 4px
            border-radius 2px
            background-color lineColor
            position relative
            width 100%
        .noUi-handle
            width 24px
            height 24px
            cursor pointer
            position relative
            z-index 1
            border-radius 50%
            box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.2)
            transform translateY(-45%) translateX(-50%)
            background-color #fff
            @extend .box-row
            @extend .align-middle
            &:after
                content ''
                flex 0 0 18px
                height 18px
                border-radius 50%
                background-color grayText
        .noUi-origin
            border-radius inherit
            bottom 0
            position absolute
            right 0
            top 0
        .noUi-background
            background-color lineColor
        .noUi-connect
            background-color grayText
    &__price-fields
        &-input
            font-size 12px
            color grayText
            .input-text
                flex 0 0 80px
                width 80px
                max-width 80px
                margin-left 5px
                padding 0 16px
                font-family fontBold
    &__reset
        margin 40px 20px 0
        height 30px
        border-radius 15px
    &__view-more
        flex 0 0 30px
        cursor pointer
        user-select none
        font-size 12px
        font-family fontMed
        color grayText
        margin-top 10px
        &:after
            content ''
            flex 0 0 7px
            height 7px
            border-bottom 1px solid grayText
            border-right 1px solid grayText
            transition transform 200ms
        .sidebar-filter__list.collapsed + &
            &:after
                transform rotate(45deg)
                margin 0 0 3px 8px
            .hide-text
                @extend .no-display
        .sidebar-filter__list:not(.collapsed) + &
            &:after
                transform rotate(-135deg)
                margin 3px 0 0 8px
            .view-text
                @extend .no-display
        .sidebar-filter__list:not(.more-links) + &
            @extend .no-display
    &__tooltip
        margin-left 12px
        &-button
            cursor pointer
            user-select none
            width 18px
            height 18px
            border-radius 50%
            background-color graytext
            color white
            &:not(:hover)
                background-color grayTextLight
        &-text
            position fixed
            z-index 103
            width 340px
            color white
            background-color defColor
            transform translateY(-100%)
            animation-duration 200ms
            margin -4px 0 0 -24px
            font-size 10px
            line-height 14px
            padding 15px
            box-shadow 0 5px 20px 0 rgba(0, 0, 0, 0.2)
            &:after
                content ''
                width 0
                height 0
                border-style solid
                border-width 6px 6px 0 6px
                border-color defColor transparent transparent transparent
                position absolute
                bottom -6px
                left 27px
            p:not(:last-child)
                margin-bottom 15px
            h4
                font-size 10px
            ul
                list-style-position inside
                margin 0 0 15px 10px
            .layout-body &
                @extend .no-display
            
.fixedsticky
	position -webkit-sticky
	position -moz-sticky
	position -ms-sticky
	position -o-sticky
	position sticky
/* When position: sticky is supported but native behavior is ignored */
.fixedsticky-withoutfixedfixed .fixedsticky-off
.fixed-supported .fixedsticky-off 
	position static

.fixedsticky-withoutfixedfixed .fixedsticky-on
.fixed-supported .fixedsticky-on 
	position fixed

.fixedsticky-dummy 
	display none

.fixedsticky-on + .fixedsticky-dummy
	display block




