.tooltipster-base
    display flex
    pointer-events none
    position absolute

.tooltipster-box
    flex 1 1 auto

.tooltipster-content
    box-sizing border-box
    max-height 100%
    max-width 100%
    overflow auto

.tooltipster-ruler
    bottom 0
    left 0
    overflow hidden
    position fixed
    right 0
    top 0
    visibility hidden

.tooltipster-fade
    opacity 0
    transition-property opacity
    &.tooltipster-show
        opacity 1

.tooltipster-grow
    transform scale(0,0)
    transition-property transform
    -webkit-backface-visibility hidden
    &.tooltipster-show
        transform scale(1,1)
        transition-timing-function cubic-bezier(0.175, 0.885, 0.320, 1.15)

.tooltipster-swing
    opacity 0
    transform rotateZ(4deg)
    transition-property transform
    &.tooltipster-show
        opacity 1
        transform rotateZ(0deg)
        transition-timing-function cubic-bezier(0.230, 0.635, 0.495, 2.4)

.tooltipster-fall
    transition-property top
    transition-timing-function cubic-bezier(0.175, 0.885, 0.320, 1.15)
    &.tooltipster-initial
        top 0 !important
    &.tooltipster-show
    &.tooltipster-dying
        transition-property all
        top 0 !important
        opacity 0

.tooltipster-slide
    transition-property left
    transition-timing-function cubic-bezier(0.175, 0.885, 0.320, 1.15)
    &.tooltipster-initial
        left -40px !important
    &.tooltipster-show
    &.tooltipster-dying
        transition-property all
        left 0 !important
        opacity 0

@keyframes
    tooltipster-fading
        0%
		opacity 0
    tooltipster-rotating
        25% 
		transform rotate(-2deg)
    tooltipster-scaling
        50% 
		transform scale(1.1)

100%
    opacity 1
    transform rotate(0)
    transform scale(1)

    .tooltipster-update-fade
        animation tooltipster-fading 200ms
    .tooltipster-update-rotate
        animation tooltipster-rotating 200ms
    .tooltipster-update-scale
        animation tooltipster-scaling 200ms

75%
    transform rotate(2deg)

.tooltipster-sidetip
    .tooltipster-box
        background #3a3a3a
        height 30px
        border-radius 15px
        @extend .box-row
        @extend .align-center
    &.tooltipster-bottom
        .tooltipster-box
            margin-top 8px
        .tooltipster-arrow
            height 10px
            margin-left -10px
            top 0
            width 20px
        .tooltipster-arrow-background
            border-bottom-color #565656
            left 0px
            top 3px
        .tooltipster-arrow-border
            border-bottom-color black
        .tooltipster-arrow-uncropped
            top -10px
    &.tooltipster-left
        .tooltipster-box
            margin-right 8px
        .tooltipster-arrow
            height 20px
            margin-top -10px
            right 0
            top 0
            width 10px
        .tooltipster-arrow-background
            border-left-color #565656
            left -3px
            top 0px
        .tooltipster-arrow-border
            border-left-color black
    &.tooltipster-right
        .tooltipster-box
            margin-left 8px
        .tooltipster-arrow
            height 20px
            margin-top -10px
            left 0
            top 0
            width 10px
        .tooltipster-arrow-background
            border-right-color #565656
            left 3px
            top 0px
        .tooltipster-arrow-border
            border-right-color black
        .tooltipster-arrow-uncropped
            left -10px
    &.tooltipster-top
        .tooltipster-box
            margin-bottom 0
            margin-top 12px
        .tooltipster-arrow
            bottom -6px
            width 0
            height 0
            border-style solid
            border-width 6px 6px 0 6px
            border-color #3a3a3a transparent transparent transparent
            transform translateX(-50%)
        // .tooltipster-arrow-background
        //     border-top-color #3a3a3a
        //     left 0px
        //     top -3px
        // .tooltipster-arrow-border
        //     border-top-color black
    .tooltipster-content
        color white
        font-size 12px
        text-transform uppercase
        padding 0 20px
        font-family fontLight 
    .tooltipster-arrow
        overflow hidden
        position absolute
    .tooltipster-arrow-background
        border 10px solid transparent
    .tooltipster-arrow-border
        border 10px solid transparent
        left 0
        top 0
    .tooltipster-arrow-uncropped
        position relative

.tooltipster-sidetip .tooltipster-arrow-background, .tooltipster-sidetip .tooltipster-arrow-border
    height 0
    position absolute
    width 0