.container-404
    background-color grayBg
    flex 1 0 auto
    padding-bottom 115px

.content-404
    @media smallView
        flex-direction column
        align-items center
        text-align center
    &__img
        @media mediumView
            flex 0 0 45%
        @media smallView
            flex 0 0 auto
    &__main
        flex 0 0 30%
        margin-left 20px
        text-transform uppercase
        padding-top 50px
        @media smallView
            flex 0 0 auto
            padding 0
            margin 0
            .full-button
                align-self center
    &__title
        font-size 60px
        font-family fontLight
        white-space nowrap
        @media mediumView
            font-size 50px
        @media smallView
            white-space normal
    &__desc
        font-size 10px
        line-height 20px
        margin 30px 0
