.blog-container
    padding 55px 0 80px
    @media smallView
        padding 25px 0 50px
    .blog-content
        width 1280px
        margin 0 auto
        @media screen and (max-width: 1310px)
            width auto
        &__head
            flex 0 0 7px
            border-top 4px solid defColor
            border-bottom 1px solid defColor
            margin-bottom 38px
            box-shadow 0 1px 0 #8c8c8c
            @media smallView
                margin-bottom 35px
        &__title
            font-size 20px
            text-transform uppercase
            margin-bottom 35px
            &:before,
            &:after
                content ''
                flex 0 0 15px
                width 15px
                height 2px
                background-color defColor
                margin 0 8px
        .pager
            @extend .self-center
            margin-top 75px
            @media smallView
                margin-top 55px

.blog-list
    margin 0 -35px -45px 0
    @media screen and (max-width: 1310px)
        justify-content center
        margin-right 0
    @media mediumView
        margin 0 -15px -30px
    @media smallView
        flex-direction column
        margin 0
    &__item
        flex 0 0 298px
        height 345px
        margin 0 30px 45px 0
        font-family fontRobotoSlab
        @media screen and (max-width: 1310px)
            margin 0 15px 45px
        @media mediumView
            flex 0 0 226px
            height 365px
            margin 0 15px 30px
        @media smallView
            flex 0 0 auto
            height auto
            margin 0
            &:not(:last-child)
                margin-bottom 40px
    &__img
        @media mediumView
            position relative
            width 100%  
            flex 0 0 200px
            img
                position absolute
                width 100%
                height 100%
                left 0
                top 0
                object-fit cover
        @media smallView
            margin-bottom 15px
    &__title
        text-decoration none
        font-size 20px
        line-height 20px
        flex 0 0 45px
        overflow hidden
        @media smallView
            flex 0 0 auto
            margin-bottom 10px
    &__desc
        font-size 12px
        line-height 16px
        color grayText
        flex 0 0 82px
        overflow hidden
        @media mediumView
            flex 0 0 96px
        @media smallView
            flex 0 0 auto

.article-content
    &__title
        font-size 36px
        font-family fontLight
        margin-bottom 45px
        @media smallView
            text-align center
            font-size 20px
            line-height 18px
            margin-bottom 20px
    &__text
        margin-bottom 45px
        @media smallView
            margin 0 -10px 20px
            width auto
    &__img
        border solid 1px #979797
        margin-bottom 35px
        @media smallView
            margin-bottom 20px
    &__column-text
        margin-bottom 30px
        img
            height auto !important
        @media largeView
            column-count 2
            column-gap 30px
            p
                -webkit-column-break-inside avoid
                page-break-inside avoid
                break-inside avoid
        @media smallView
            margin 0 10px 20px

            