.cart-back
    height 70px
    margin-bottom 20px
    @media smallView
        height 50px
        margin-bottom 10px
    .checkout-container &
        margin 0
    &__link
        font-size 12px
        color grayText
        &:before
            content ''
            width 0
            height 0
            border-style solid
            border-width 3px 5px 3px 0
            border-color transparent grayLink transparent transparent
            margin-right 7px

.cart-content
    margin-bottom 175px
    @media mediumView
        margin-bottom 40px
    @media smallView
        margin-bottom 20px
    &__wrapper
        @media mediumView
            flex-direction column
    .checkout-container &
        margin-bottom 10px
    &__title
        font-size 20px
        text-transform uppercase
        font-family fontLight
        margin-bottom 25px
        @media smallView
            text-align center
    &__products
        flex 1 1 auto
        @media mediumView
            flex 0 0 auto
            margin-bottom 10px
    &__actions
        flex 0 0 300px
        margin-left 30px
        @media mediumView
            flex 0 0 auto
            margin 0
            display flex
        @media smallView
            flex-direction column
        .checkout-container &
            margin-left 20px
            @media mediumView
                margin 0
        &-order
            color white
            background-color #000
            margin-bottom 20px
            @media mediumView
                order 1
                flex 0 0 300px
                margin-left 20px
            @media smallView
                order 0
                flex 0 0 auto
                margin 0 0 10px
        &-label
            flex 0 0 70px
            padding 0 20px
            font-size 20px
            text-transform uppercase
        &-counts
            flex 0 0 50px
            border-top 1px solid defColor
            border-bottom 1px solid defColor
            padding 0 20px
        &-summ
            color redColor
            font-size 18px
            span
                font-size 12px
                font-family fontLight
        &-submit
            flex 0 0 70px
            padding 0 20px
    &__conditions
        padding 15px 20px 20px
        border 1px solid lineColor
        @media mediumView
            order 0
        @media smallView
            order 1
        &-title
            text-transform uppercase 
            margin-bottom 20px
        &-text
            font-size 12px
            line-height 16px
    &__checkout
        flex 0 0 664px
        @media mediumView
            flex 0 0 auto
            padding-bottom 25px
            border-bottom 1px solid lineColor
            margin-bottom 20px
        &-title
            text-transform uppercase
            font-size 20px
            margin-bottom 25px
            @media smallView
                font-size 18px
                white-space nowrap
        &-form
            margin-bottom 20px
            background-color lineColor
            padding 25px 20px 20px
            @media smallView
                padding 25px 10px 10px
            &-content
                background-color #fff
                padding 15px 20px 20px
                @media smallView
                    padding 15px 10px 10px
            &-row
                margin-bottom 10px
                @media smallView
                    flex-direction column
                    margin 0
            &-label
                font-size 10px
                font-family fontMed
                margin-bottom 5px
                span
                    color redColor
            &-field
                flex 0 0 280px
                @media mediumView
                    flex 0 0 48.5%
                @media smallView
                    flex 0 0 auto
                    margin-bottom 8px
                &.adress
                    flex 0 0 135px
                    max-width 135px
                    @media mediumView
                        flex 0 0 47%
                        max-width 47%
                &.comment
                    flex 0 0 auto
            &-delivery-title
                text-transform uppercase
                font-size 10px
                margin 15px 0
            .chosen-with-drop
                .chosen-single
                    border-bottom none
            .chosen-single
                background-color #fff
                border 1px solid lineColor
                text-transform none
                font-family fontReg
            .chosen-results li
                text-transform none
                font-family fontReg
    &__product-item
        border-bottom 1px solid lineColor
        padding 8px 10px 15px
        &-img
            flex 0 0 100px
        &-content
            margin-left 20px
            flex 1 1 auto    
        &-title
            text-transform uppercase
            font-size 12px
            line-height 14px
            font-family fontBold
            margin-bottom 5px
        &-options
            font-size 12px
            line-height 15px
            margin-bottom 7px
            &-item span
                color grayText
        &-price
            color redColor
            font-size 12px
            span
                font-size 10px
                font-family fontLight
    &__medium-results
        &-title
            text-transform uppercase
            font-size 12px
            margin-bottom 20px
        &-item
            font-size 12px
            &:last-child
                margin-top 20px
        &-count
            font-family fontMed


.cart-table
    border-top 1px solid lineColor
    border-collapse collapse
    th
        height 57px
        border-bottom 1px solid lineColor
        font-weight normal
        text-transform uppercase
        font-size 10px
        color grayText
    td
        border-bottom 1px solid lineColor
        padding 5px 0 20px
        font-size 12px
        &:first-child
            padding-left 20px
            width 15%
            @media smallView
                padding 15px 0 0
                img
                    min-width 60px
        &:nth-child(2)
            padding-top 15px
            width 35%
            @media smallView
                width 50%
                padding 15px 5px
        &:nth-child(3)
            width 23%
            @media smallView
                width 5%
        &:nth-child(4)
            width 18%
        &:nth-child(4),
        &:last-child
            padding-top 15px
            font-family fontMed
    &__title
        text-transform uppercase
        font-family fontBold
    &__options
        line-height 20px
        margin 10px 0
        &-item span
            color grayText
    &__delete
        cursor pointer
        user-select none
        color grayText
        @media smallView
            margin-bottom 15px
        .icon
            font-size 10px
            margin-right 9px
    &__count
        width 60px
        font-family fontBold
    &__small-price
        &:last-child
            margin-top 10px
    tr:last-child td
        @media smallView
            border-bottom none