.breadcrumbs
    height 60px
    margin-bottom 10px
    font-size 10px
    color grayText
    @media smallView
        height 40px
        margin-bottom 15px
    &__link
        color grayText
    &__sep
        margin 0 2px
    &__current
        color #000

.catalog-content
    &__wrapper
        flex 1 1 auto
        align-content flex-start
    &__current-sections
        flex 0 0 60px
        padding 0 10px
    &__current-item
        flex 0 0 auto
        height 20px
        border-radius 10px
        background-color bgColor
        border solid 1px lineColor
        padding 0 6px 0 5px
        font-size 10px
        font-family fontMed
        color grayText
        &:not(:first-child)
            margin-left 10px
        img
            width 10px
            cursor pointer
            margin-left 5px

.catalog-top
    margin-bottom 18px
    padding 0 10%
    @media mediumView
        padding 0
    .search-container &
        margin-bottom 35px
    &__desc
        font-size 12px
        line-height 18px
        color grayColor
    &__search
        font-size 12px
        color grayText
        &-desc
            margin-bottom 15px
        &-item
            margin 0 18px

.catalog-filter-panel
    height 56px
    border-top 1px solid lineColor
    border-bottom 1px solid lineColor
    position relative
    .catalog-content + &
        margin-top -1px
        margin-bottom 19px
        padding-left 304px
        @media mediumView
            padding 0
        @media smallView
            height auto
            padding 20px 0
            flex-direction column
    &__show-sidebar
        flex 0 0 180px
        justify-content space-between !important
        transition background-color 200ms
        &.active
            color #fff
            background-color defColor
            border-color #797979
            font-size 0
            &:before
                content 'СКРЫТЬ ФИЛЬТР'
                font-size 10px
            &:after
                border-color white transparent transparent transparent
                transform rotate(-180deg)
        .catalog-content + .catalog-filter-panel &
            @extend .no-display
        &:after
            content ''
            width 0
            height 0
            border-style solid
            border-width 4px 3px 0 3px
            border-color grayText transparent transparent transparent
    &__label
        font-size 10px
        text-transform uppercase
        margin-right 10px
        color grayText
    &__sort
        .chosen-container
            width 160px !important
    &__view
        @media smallView
            margin 20px 0
        &-button
            &:last-child
                margin-left 10px
            .icon
                font-size 10px
    &__counts
        .catalog-content + .catalog-filter-panel &
            @extend .no-display
        .chosen-container
            width 60px !important
    .pager
        margin-left 15%
        @media mediumView
            margin 0
        .catalog-list + &
            margin-left 40%




.catalog-list
    &__item
        position relative
        flex 0 0 (100% / 4)    
        height 350px
        border 1px solid lineColor
        border-left none
        margin-top -1px
        transition flex 200ms
        .sidebar-filter.active + .catalog-list &
            flex 0 0 (100% / 3)
            @media mediumView
                flex 0 0 (100% / 2)  
            @media smallView
                flex 1 0 100%
                height 420px
        .catalog-list.simple-view &
            flex 0 0 (100% / 5) 
            height 350px
            @media mediumView
                flex 0 0 (100% / 3)
            @media smallView
                flex 0 0 (100% / 2)
                border-right 1px solid lineColor
                height 280px
        .sidebar-filter.active + .catalog-list.simple-view &
            flex 0 0 (100% / 4)
            @media mediumView
                flex 0 0 (100% / 3) 
            @media smallView
                flex 0 0 (100% / 2)
                border-right 1px solid lineColor
                height 280px
        @media mediumView
            flex 0 0 (100% / 2)
        @media smallView
            flex 1 0 100%
            height 420px
            border-right none
        .front-content__products &
            width 304px
            max-width 304px
            min-width 304px
            margin 0
            left -2px
            @media mediumView
                width 246px
                max-width 246px
                min-width 246px
            @media smallView
                width 150px
                max-width 150px
                min-width 150px
        &-bottom
            position relative
        &-old
            position absolute
            left 0
            top -12px
            color grayText
            span
                font-size 10px
            &:after
                content ''
                position absolute
                width 100%
                height 1px
                left 0
                top 50%
                background-color grayText
        &-img
            margin-bottom 20px
            flex 0 0 220px
            width 220px
            @extend .align-middle
            img
                max-height 100%
            @media mediumView
                align-items center
                justify-content center
            @media smallView
                flex 0 0 285px
            .catalog-list.simple-view &
                flex 0 0 238px
                max-height 238px
                margin 0
                @media smallView
                    flex 0 0 130px
                    max-height 130px
        &-info
            padding 0 16px 5px 20px
        &-title
            text-decoration none
            font-size 12px
            text-transform uppercase
            font-family fontBold
            line-height 14px
            flex 0 0 27px
            overflow hidden
            margin-bottom 6px
            .catalog-list__item.not-in-stock &
                opacity .4
        &-data
            margin-bottom 20px
        &-info-stock
            margin-bottom 10px
            font-size 11px
            .catalog-list__item-code
                margin 0
        &-status
            font-size 11px
            .catalog-list.simple-view &
                @media smallView
                    display none
            &.in-stock
                color #96ba01
            &.ends
                color redColor
            &.soon
                color blueColor
        &-price
            color grayText
            font-size 16px
            &.new-price
                color redColor
            .catalog-list__item.not-in-stock &
                @extend .box-row
                @extend .align-baseline
                height 30px
                border-radius 4px
                background-color #f3f3f3
                padding 7px 9px 0
                color #adadad
            span
                font-size 10px
                font-family fontLight
        &-discount
            color grayText
            font-size 12px
            position relative
            white-space nowrap
            &:after
                content ''
                position absolute
                width 100%
                height 1px
                left 0
                top 50%
                background-color grayText
            .catalog-list.simple-view &
                @media smallView
                    display none
            span
                font-size 10px
                font-family fontLight
        &-colors
            position absolute
            width 100%
            left 0
            top 209px
            .catalog-list__item:not(:hover) &
                @extend .no-display
            @media mediumView
                display none
            &-button
                cursor pointer
                flex 0 0 24px
                height 24px
                border-radius 50%
                margin 0 3px
                position relative
                &:not(.active)
                    border 2px solid white
                    &:after
                        content ''
                        border-radius 50%
                        position absolute
                        width 24px
                        height 24px
                        top -2px
                        left -2px
                        box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.4)
                &.active
                    @extend .box-row
                    @extend .align-middle
                    padding-bottom 2px
                    &:after
                        content ''
                        flex 0 0 6px
                        height 3px
                        border-bottom 1px solid white
                        border-left 1px solid white
                        transform rotate(-45deg)
                &.white-color.active
                    &:after
                        border-bottom 1px solid #000
                        border-left 1px solid #000
                    &:before
                        content ''
                        border-radius 50%
                        position absolute
                        width 24px
                        height 24px
                        top 0
                        left 0
                        box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.4)
        &-thumbs
            flex 0 0 71px
            background-color grayBg
            border-top 1px solid lineColor
            &.owl-carousel
                position relative
                padding 8px 35px 0
                @media screen and (max-width: 1400px)
                    padding 8px 10px 0
                .owl-nav
                    div
                        width 25px
                        height 25px
                        @extend .box-row
                        @extend .align-middle
                        position absolute
                        font-size 0
                        top 20px
                        &.disabled
                            @extend .no-display
                        &:after
                            content ''
                            width 0
                            height 0
                            border-style solid
                        &.owl-prev
                            left 10px
                            @media screen and (max-width: 1400px)
                                left -10px
                            &:after
                                order-width 3px 4px 3px 0
                                border-color transparent grayText transparent transparent
                        &.owl-next
                            right 10px
                            @media screen and (max-width: 1400px)
                                right -10px
                            &:after
                                border-width 3px 0 3px 4px
                                border-color transparent transparent transparent grayText
            .catalog-list__item:not(:hover) &
                @extend .no-display
            @media mediumView
                display none
            .owl-item
                .catalog-list__item-thumbs-button
                    margin 0 auto
            &-button
                cursor pointer
                flex 0 0 54px
                width 54px
                height 54px
                border 1px solid transparent
                margin 0 3px
                transition border-color 200ms
                &.active
                    border-color grayText
                img
                    width 46px !important
                    height 46px
        &-code
            font-size 11px
            color grayText
            .catalog-list__item.not-in-stock &
                opacity .4
        &-not-stock
            font-size 12px
            white-space nowrap
            color #d0021b
    &__content
        padding-top 9px
        transition box-shadow 200ms
        @media largeView
            .catalog-list__item:hover &
                height auto
                background-color #fff
                min-height 100%
                z-index 10
                box-shadow 0 20px 40px 0 rgba(0, 0, 0, 0.1)
        @media smallView
            padding 10px 10px 22px

.pager
    height 30px
    border 1px solid lineColor
    border-radius 15px
    font-size 10px
    overflow hidden
    color grayText
    a,
    span
        flex 0 0 30px
        width 30px
        &:not(.pager__next)
            border-right 1px solid lineColor
    &__page
        text-decoration none
        color grayColor
        padding-top 2px
        &:hover
            background-color bgColor
    &__current
        background-color bgColor
        font-family fontBold
        padding-top 2px
    &__sep
        padding-top 4px
    &__prev,
    &__next
        &:hover
            background-color bgColor
        &:after
            content ''
            width 0
            height 0
            border-style solid
    &__prev:after
        border-width 3px 4px 3px 0
        border-color transparent grayText transparent transparent
    &__next:after
        border-width 3px 0 3px 4px
        border-color transparent transparent transparent grayText
