.container-contacts
    flex 1 0 auto
    background url(../img/contacts-bg.jpg) no-repeat center
    background-size cover

.content-contacts
    &__wrapper
        flex 0 0 1004px
        padding 50px 0 140px
        @media screen and (max-width: 1024px)
            flex 1 0 auto
            padding 0 0 20px
    &__container
        box-shadow 30px 30px 30px rgba(black, .1)
        @media smallView
            flex-direction column
    &__title
        text-transform uppercase
        color #ffffff
        font-size 44px
        font-weight normal
        font-family fontLight
        margin-bottom 25px
        @media screen and (max-width: 1024px)
            display none
    &__form
        padding 40px 30px 50px
        flex 0 0 646px
        background-color bgColor
        @media screen and (max-width: 1024px)
            flex 0 0 52%
        @media smallView
            flex 0 0 auto
            order 1
            padding 20px 20px 45px
        &-top
            margin-bottom 13px
            i
                font-size 10px
            &-label
                margin-bottom 30px
                font-size 12px
                color grayTextLight
                font-family fontMed
                line-height 18px
        &-label
            font-size 10px
            font-family fontMed
            margin-bottom 10px
            span
                color redColor
        &-input
            height 40px
            border-radius 20px
            border-color lineColor
        &-textarea
            height 216px
            border-color lineColor
            @media screen and (max-width: 1024px)
                height 126px
        &-submit
            cursor pointer
            width 60px
            height 60px
            border-radius 50%
            background greenColor url(../img/mail-submit.svg) no-repeat center
            border none
            box-shadow 2px 2px 10px 1px rgba(138, 159, 8, 0.3)
            position absolute
            right -10px
            bottom -20px
        &-title
            font-size 24px
            color #222222
        form
            position relative
    &__user-fields
        margin-bottom 15px
        @media screen and (max-width: 1024px)
            flex-direction column
    &__user-data
        flex 0 0 280px
        @media screen and (max-width: 1024px)
            flex 0 0 auto
            &:first-child
                margin-bottom 15px
    &__info
        flex 1 1 auto
        color #ffffff
        background-color #222222
        padding 40px 20px 40px 30px
        @media smallView
            flex 0 0 375px
            order 0
            padding 20px 15px 20px 20px
        &-title
            font-size 24px
        &-label
            font-size 12px
            color grayTextLight
            margin-bottom 14px
            &.label-time
                margin-bottom 19px
            &.label-weekend
                margin 8px 0 0
                span
                    margin-left 9px
        &-data
            font-size 26px
            font-family fontBold
            @media smallView
                font-size 22px
            &.data-email
                color #ffffff
                text-decoration none
            .icon
                font-size 10px
                margin-left 9px
                &.viber
                    margin-left 14px
        &-callback
            cursor pointer
            user-select none
            color #49a0e8
            margin-top 17px
        