.delivery-container
    flex 1 1 auto
    background-color grayBg
    .breadcrumbs
        margin 0

.delivery-content
    padding 60px 0 100px
    @media mediumView
        padding 40px 0 50px
    &__wrapper
        width 960px
        @media mediumView
            width auto
    &__title
        text-transform uppercase
        font-size 44px
        font-family fontLight
        color grayText
        margin-bottom 30px
        @media mediumView
            text-align center
        @media smallView
            font-size 20px
    &__text
        font-size 12px
        line-height 18px
        color grayText
        h2
            font-size 14px
            text-transform uppercase
            margin 20px 0
        h3
            text-transform uppercase
            font-size 14px
            margin-top 10px
        ul
            list-style-position inside
            padding-left 10px