.faq-container
    flex 1 1 auto
    background-color grayBg
    .breadcrumbs
        margin 0

.faq-content
    padding 60px 0 100px
    @media mediumView
        padding 40px 0
    &__wrapper
        width 960px
        @media mediumView
            width 100%
    &__title
        text-transform uppercase
        font-size 44px
        font-family fontLight
        color grayText
        margin-bottom 25px
        @media mediumView
            text-align center
        @media smallView
            font-size 20px
            line-height 20px
    &__list
        background-color #fff
        border 1px solid lineColor
    &__item
        padding 0 20px
        color grayText
        max-height 60px
        transition all 250ms
        &.active
            max-height 1000px
        &:not(:last-child)
            box-shadow 0 1px 0 lineColor
    &__question
        cursor pointer
        user-select none
        height 60px
        &:after
            content ''
            width 0
            height 0
            border-style solid
            border-width 5px 3px 0 3px
            border-color grayLink transparent transparent transparent
            margin-left 10px
            transition transform 250ms
        .faq-content__item.active &:after
            transform rotate(-180deg)
    &__answer
        padding 5px 0 25px
        font-size 12px
        animation-duration 250ms
        .faq-content__item:not(.active) &
            @extend .no-display
        &-label
            margin-bottom 5px
        &-text
            line-height 18px
