.front-slider
    margin-bottom 34px
    @media mediumView
        margin-bottom 27px
    &__item
        max-height 400px
        img
            object-fit cover
    
    .owl-dots
        @extend .wrapper-absolute
        @extend .box-row
        @extend .space-center
        top auto
        height 14px
        bottom 14px
        .owl-dot
            flex 0 0 14px
            border-radius 50%
            border 1px solid #b1b1b1
            background-color #fff
            margin 0 5px
            &.active
                background-color #96ba01
                border-color #96ba01
                box-shadow 0 2px 4px 0 rgba(150, 186, 1, 0.4)
    .owl-nav
        @media mediumView
            display none
        div
            position absolute
            top 50%
            font-size 0
            width 60px
            height 140px
            background-color rgba(248, 248, 248, 0.5)
            @extend .box-row
            @extend .align-middle
            transform translateY(-50%)
            transition background-color 200ms
            overflow hidden
            &:hover
                background-color grayBg
            &:after
                content ''
                border-bottom 3px solid #000
                flex 0 0 40px
                height 40px
            &.owl-prev
                padding-left 20px
                left 20px
                &:after
                    border-left 3px solid #000
                    transform rotate(45deg)
            &.owl-next
                right 20px
                padding-right 20px
                &:after
                    border-right 3px solid #000
                    transform rotate(-45deg)

            

.front-content
    margin-bottom 20px
    &__sections
        margin-bottom 40px
        .block-title
            margin-bottom 21px
            &__text
                padding 0 25px
        &-list
            height 160px
            border 1px solid lineColor
            @media mediumView
                height auto
                flex-wrap wrap
                border none
        &-link
            text-decoration none
            flex 0 0 (100% / 8)
            padding 0 25px
            text-transform uppercase
            font-family fontBold
            font-size 12px
            line-height 16px
            color grayLink
            transition box-shadow 200ms
            @media screen and (max-width: 1520px)
                padding 0 1%
            @media mediumView
                flex 0 0 (100% / 4)
                height 160px
                border 1px solid lineColor
                margin -1px 0 0 -1px
            @media smallView
                flex 0 0 (100% / 2)
                height 150px
                padding 0 15px
            &:hover
                box-shadow 0 20px 40px 0 rgba(0, 0, 0, 0.1)
            &:not(:last-child)
                border-right 1px solid lineColor
            .icon
                margin-bottom 26px
                opacity 0.35
                &:not(.buildings):not(.buildings-1)
                    font-size 10px
                &.buildings
                    font-size 0.123em
                &.buildings-1
                    font-size 0.097em
                &.office-chair
                    opacity 1
            span
                flex 0 0 32px
    &__products
        margin-bottom 40px
        height 410px
        position relative
        &.hover-mode + div
            z-index -1
        @media smallView
            height 340px
            margin-bottom 20px
        &.view-new
            height 465px
            @media smallView
                height 340px
            &:hover + .front-content__products .front-block-title,
            &:hover + .front-content__products .front-content__products-top-buttons
                position relative
                z-index -1
        &.view-popular
            height 465px
            @media smallView
                height 340px
            &:hover + .front-content__products .front-block-title,
            &:hover + .front-content__products .front-content__products-top-buttons
                position relative
                z-index -1
        &.view-discount
            height 465px
            @media smallView
                height 340px
            &:hover + .front-content__partners .front-block-title,
            &:hover + .front-content__products .front-content__products-top-buttons
                position relative
                z-index -1
        &-top
            margin-bottom 15px
            user-select none
            align-items center
            @media smallView
                justify-content center
            .front-block-title
                margin 0
            &-buttons
                &:not(.active)
                    @extend .no-display
            &-but
                cursor pointer
                flex 0 0 30px
                width 30px
                height 30px
                border 1px solid lineColor
                &:hover
                    background-color bgColor
                &:after
                    content ''
                    width 0
                    height 0
                    border-style solid
                &.prev
                    border-right none
                    border-top-left-radius 15px
                    border-bottom-left-radius 15px
                    &:after
                        border-width 3px 4px 3px 0
                        border-color transparent grayText transparent transparent
                &.next
                    border-top-right-radius 15px
                    border-bottom-right-radius 15px
                    &:after
                        border-width 3px 0 3px 4px
                        border-color transparent transparent transparent grayText
        
        &-list
            width 100%
            height 600px
            outline none
            overflow hidden
            @media smallView
                height 300px
            .jspContainer
                overflow hidden
                position relative
            .jspPane
                position absolute
                transition left 100ms
            .jspHorizontalBar
                position absolute
                bottom 235px
                left 0
                width 100%
                height 4px
                @media smallView
                    bottom 0
            .jspTrack
                background lineColor
                position relative
                height 100%
                overflow hidden
                border-radius 4px
            .jspDrag
                background grayText
                position relative
                top 0
                left 0
                cursor pointer
                height 100%
                border-radius 4px
        &-tabs
            border-top 1px solid lineColor
            height 55px
            user-select none
            &-tab
                margin-right 14px
        &-content
            &-wrapper
                animation-duration 500ms
                &:not(.active)
                    @extend .no-display
    &__brands
        margin-bottom 40px
        position relative
        &:hover
            z-index 10 !important
        &-list
            border-top 1px solid lineColor
            padding-top 19px
        &-link
            height 120px
            @media mediumView
                height 80px
                height 80px
            &:not(:hover)
                img
                    opacity 0.4 !important
                    -webkit-filter grayscale(1)
                    filter grayscale(1)
            img
                transition all 200ms
                max-height 100%
                width auto !important
    &__partners
        position relative
        padding-bottom 20px
        &-list
            border-top 1px solid lineColor
            padding-top 19px
        &-item
            height 80px
            @media mediumView
                height 50px
                width 50px
            &:not(:hover)
                img
                    opacity 0.4 !important
                    -webkit-filter grayscale(1)
                    filter grayscale(1)
            img
                transition all 200ms
                max-height 100%
                width auto !important


.sidebar-banner
    position relative
    height 260px
    padding 55px 20px 20px
    margin-bottom 40px
    &__info
        position relative
    &__timeout
        margin-bottom 13px
        color grayLink
        &-label
            margin-bottom 4px
            font-size 10px
            font-family fontLight
        &-count
            font-size 16px
    &__price
        color redColor
        margin-bottom 8px
        &-count
            margin-right 6px
            font-size 22px
            font-family fontMed
        &-val
            font-size 16px
            font-family fontLight
    &__discount
        font-size 12px
        color grayLink
        b
            margin-left 5px
    &__label
        position absolute
        left 0
        top 10px
        height 30px
        background-color #fff
        font-size 11px
        text-transform uppercase
        color grayText
        padding 0 20px
        border-top-right-radius 15px
        border-bottom-right-radius 15px

.sidebar-products
    .block-title
        margin-bottom 20px
    &__list
        border-top 1px solid lineColor
        padding-top 20px
    &__item
        height 120px
        padding 10px
        border-bottom 1px solid lineColor
        &-img
            flex 0 0 100px
            height 100px
            margin-right 11px
        .add-button
            margin-top 10px
        &-content
            flex 1 1 auto
        &-title
            text-decoration none
            text-transform uppercase
            font-size 12px
            font-family fontBold
            line-height 14px
        &-code
            font-size 11px
            color grayText
        &-discount
            font-size 12px
            color grayText
            margin-top 6px
            span
                font-size 10px
                font-family fontLight
            & + .add-button
                margin-top 5px 
                color redColor
        



.sticky-sidebar 
    position fixed
    z-index 101
    // top 80px !important
    // padding-top 80px !important

.stop-sidebar
    position relative
    z-index 101





.jspHorizontalBar .jspCap
	float left