.order-message-container
    flex 1 1 auto
    padding-bottom 100px
    @media smallView
        padding-bottom 40px
    .cart-back
        margin 0
        @media mediumView
            height 60px

.order-message-content
    @media smallView
        flex-direction column
    &__text
        flex 0 0 664px
        padding-top 25px
        @media mediumView
            flex 1 1 auto
        @media smallView
            flex 0 0 auto
            padding 0
            margin-bottom 40px
            .full-button
                align-self center
        .full-button__icon-img
            font-size .025em
            opacity 1
    &__title
        font-size 20px
        text-transform uppercase
        font-family fontLight
        margin-bottom 30px
        @media smallView
            text-align center
    &__inner-text
        margin-bottom 45px
        line-height 22px
        @media smallView
            margin-bottom 35px
        span
            font-family fontMed
        p:not(:last-child)
            margin-bottom 30px
    &__info
        flex 0 0 300px
        border 20px solid lineColor
        padding 20px
        @media mediumView
            margin-left 40px
        @media smallView
            flex 0 0 auto
            margin 0
        &-title
            text-transform uppercase
            margin-bottom 20px
        &-text
            font-size 12px
            line-height 16px