.product-container
    margin-bottom 20px

.rating-box
    position relative
    width 86px
    height 16px
    &__back
        opacity 0.1
        .icon
            font-size 0.024em
    &__overlay
        overflow hidden
        .icon
            font-size 0.024em

.product-top
    height 58px
    padding-top 7px
    border-bottom 1px solid lineColor
    margin-bottom 30px
    @media mediumView
        margin-bottom 10px
    @media smallView
        height auto
        padding-top 0
        flex-direction column
        border-bottom none
        align-items flex-start
    .breadcrumbs
        margin 0
        height auto
        @media smallView
            flex 0 0 50px
            height 50px
            border-bottom 1px solid lineColor
            margin-bottom 10px
            width 100%
            & + div
                justify-content space-between
                width 100%
    &__article
        margin-left 22px
        height 30px
        border-radius 15px
        padding 0 13px
        background-color yellowColor
        font-size 12px
        color grayText
        font-family fontLight
        &-num
            margin-left 5px
            font-family fontMed
    &__rating
        &-count
            margin-left 6px
            font-size 12px
            color redColor

.product-main
    margin-bottom 70px
    &__left-wrapper
        flex 0 0 712px
        margin-left 60px
        @media screen and (max-width: 1520px)
            margin-left 10px
            flex 0 0 550px
    @media mediumView
        margin-bottom 30px
    @media smallView
        flex-direction column
        margin-bottom 20px
    &__gallery
        flex 0 0 53%
        @media screen and (max-width: 1520px)
            flex 0 0 50%
        .bx-wrapper
            flex 0 0 80px
            height 532px
            max-width 80px !important
            position relative
            .bx-controls a
                position absolute
                font-size 0
                left 50%
                width 0
                height 0
                border-style solid
                transform translateX(-50%)
                &.disabled
                    opacity 0
                    cursor default
                &.bx-prev
                    top -10px
                    border-width 0 3px 4px 3px
                    border-color transparent transparent grayText transparent
                &.bx-next
                    bottom -10px
                    border-width 4px 3px 0 3px
                    border-color grayText transparent transparent transparent
        &-thumbs
            flex 0 0 80px
            width 80px
            a
                margin-bottom 10px
                border 1px solid transparent
                &.active
                    border-color grayText
        &-video-button
            position relative
            &:before
                content ''
                @extend .wrapper-absolute
                background-color rgba(51, 51, 51, 0.7)
            &:after
                content ''
                width 0
                height 0
                border-style solid
                border-width 15px 0 15px 25px
                border-color transparent transparent transparent #ffffff
                position absolute
                left 50%
                top 50%
                transform translate(-50%, -50%)
        &-content
            height 712px
            border 1px solid lineColor
            padding 16px 14px
            @media screen and (max-width: 1520px)
                height 600px
                width 550px
        &-buttons
            margin-bottom 22px
            &-sep
                flex 0 0 1px
                height 20px
                margin 0 10px
                background-color lineColor
        &-link-3d
            font-size 10px
        &-zoom-button
            cursor pointer
            user-select none
            font-size 10px
            color buttonGrayText
            @media mediumView
                position absolute
                left 80px
                top 10px
                z-index 99
            .icon
                font-size 10px
                margin-right 10px
        &-full
            flex 0 0 600px
            width 600px
            height 600px
            position relative
            @media screen and (max-width: 1520px)
                flex 0 0 520px
                height 520px
                width 520px
        &-img
            animation-duration 500ms
        &-video
            animation-duration 500ms
            @media screen and (max-width: 1520px)
                iframe
                    width 520px
                    height 520px
            &:not(.active)
                @extend .no-display
            &.active + .product-main__gallery-img
                @extend .no-display
    &__share
        margin-top 20px
        & > *
            margin 0 5px
    &__medium-gallery
        flex 0 0 57%
        @media smallView
            flex 0 0 auto
            margin-bottom 20px
        &-thumbs
            flex 0 0 60px
            margin-right 13px
            &-list
                & > a
                    border 1px solid transparent
                    height 60px
                    width 60px !important
                    &.active
                        border-color grayText
                    &.video-button
                        position relative
                        &:before
                            content ''
                            @extend .wrapper-absolute
                            background-color rgba(51, 51, 51, 0.7)
                        &:after
                            content ''
                            width 0
                            height 0
                            border-style solid
                            border-width 15px 0 15px 25px
                            border-color transparent transparent transparent #ffffff
                            position absolute
                            left 50%
                            top 50%
                            transform translate(-50%, -50%)
                    &:not(:last-child)
                        margin-bottom 10px
            .bx-wrapper
                height 345px
                max-width 60px !important
                position relative
                .bx-controls a
                    position absolute
                    font-size 0
                    left 50%
                    width 0
                    height 0
                    border-style solid
                    transform translateX(-50%)
                    &.disabled
                        opacity 0
                        cursor default
                    &.bx-prev
                        top -7px
                        border-width 0 3px 4px 3px
                        border-color transparent transparent grayText transparent
                    &.bx-next
                        bottom -7px
                        border-width 4px 3px 0 3px
                        border-color grayText transparent transparent transparent
        &-wrapper
            height 360px
            position relative
            & > .bx-wrapper
                flex 1 0 auto
            @media smallView
                margin 0
                .bx-controls
                    margin-top 10px
                    .bx-pager
                        display flex
                        justify-content center
                        font-size 0
                        .bx-pager-item
                            margin 0 3px
                            .bx-pager-link
                                display block
                                width 8px
                                height 8px
                                border-radius 50%
                                border 1px solid bgColor
                                &.active
                                    background-color bgColor
        &-content
            img
                @media smallView
                    width 300px
                    height 300px
            .box-youtube-video
                @media smallView
                    width 300px !important
                    height 300px !important
                    min-height auto
    &__content
        flex 0 0 40%
        @media screen and (max-width: 1520px)
            flex 0 0 45%
        @media mediumView
            flex 0 0 41%
        @media smallView
            flex 0 0 auto
    &__title
        text-transform uppercase
        font-size 24px
        margin-bottom 30px
        @media mediumView
            font-size 16px
            line-height 22px
            margin-bottom 10px
    &__status
        font-size 14px
        font-family fontMed
        margin-bottom 20px
        @media mediumView
            padding-bottom 10px
        &.in-stock
            color #96ba01
        &.end
            color orangeColor
    &__colors
        padding 20px 0
        border-bottom 1px solid lineColor
        &-top
            margin-bottom 14px
        &-title
            font-size 12px
            color grayText
            line-height 16px
            &-label
                margin-right 5px
                text-transform uppercase
            &-name
                font-family fontReg
                line-height 14px
        &-list
            &-current
                flex 0 0 60px
                height 60px
                border-radius 50%
                margin-right 29px
                &.white-color
                    position relative
                    &:after
                        content ''
                        border-radius 50%
                        @extend .wrapper-absolute
                        box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.4)
                @media mediumView
                    flex 0 0 40px   
                    height 40px
                    margin-right 6px
            &-content
                height 60px
                flex 1 1 auto
                border-radius 30px
                background-color grayBg
                border solid 1px lineColor
                padding 0 15px
                overflow hidden
                max-width 520px
                @media mediumView
                    height 40px
                    max-width 250px
                    padding 0 5px
            &-thumbs
                &:not(.owl-carousel)
                    @extend .box-row
                .owl-nav div
                    position absolute
                    width 40px
                    height 40px
                    font-size 0
                    top 0
                    @extend .box-row
                    @extend .align-middle
                    @media mediumView
                        width 30px
                        height 30px
                    &:after
                        content ''
                        width 0
                        height 0
                        border-style solid
                    &.disabled
                        @extend .no-display
                    &.owl-prev
                        left 0
                        background linear-gradient(to right, rgba(248,248,248,1) 0%,rgba(255,255,255,0) 80%)
                        &:after
                            border-width 3px 4px 3px 0
                            border-color transparent grayText transparent transparent
                    &.owl-next
                        right 0
                        background linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(248,248,248,1) 80%)
                        &:after
                            border-width 3px 0 3px 4px
                            border-color transparent transparent transparent grayText
        &-all
            cursor pointer
            user-select none
            font-size 12px
            color grayText
            white-space nowrap
        &-button
            cursor pointer
            flex 0 0 40px
            width 40px
            height 40px
            border-radius 50%
            margin 0 auto
            position relative
            .product-main__colors-list-thumbs:not(.owl-carousel) &
                margin-right 15px
                @media mediumView
                    margin-right 5px
            @media mediumView
                flex 0 0 30px
                width 30px
                height 30px
            &:not(.active)
                border 4px solid white
                img
                    width 32px
                    height 32px
                    @media mediumView
                        width 22px
                        height 22px
                &:after
                    content ''
                    border-radius 50%
                    position absolute
                    width 40px
                    height 40px
                    top -4px
                    left -4px
                    box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.4)
                    @media mediumView
                        width 30px
                        height 30px
            &.active
                padding-bottom 2px
                &.white-color
                    &:after
                        border-color #000
                    &:before
                        content ''
                        border-radius 50%
                        position absolute
                        width 40px
                        height 40px
                        top 0
                        left 0
                        box-shadow inset 0 2px 4px 0 rgba(0, 0, 0, 0.4)
                        @media mediumView
                            width 30px
                            height 30px
                img
                    width 40px
                    height 40px
                    @media mediumView
                        width 30px
                        height 30px
                &:after
                    content ''
                    flex 0 0 7px
                    height 4px
                    border-bottom 1px solid white
                    border-left 1px solid white
                    transform rotate(-45deg)
            .icon
                font-size .025em
                position relative
                @media mediumView
                    transform scale(.7)
            img
                border-radius 50%
    &__actions
        padding 20px 0 40px
        @media mediumView
            padding 10px 0 0
        &-pay
            @media mediumView
                flex-direction column
        &-wrapper
            @media mediumView
                flex-direction column
                width 100%
                align-items flex-start
                margin-bottom 20px
        &-price
            padding-bottom 20px
            border-bottom 1px solid lineColor
            &-count
                color redColor
                margin-right 16px
                font-size 28px
                span
                    font-size 10px
                    font-family fontLight
        &-discount
            font-family fontMed
            color grayText
            line-height 1.5
        &-count
            margin-right 35px
            flex 0 0 80px
            @media screen and (max-width: 1520px)
                margin-right 15px
            @media mediumView
                flex-direction row
                flex 0 0 auto
                align-items center
                margin-bottom 10px
            &-label
                font-size 12px
                color grayTextLight
                margin-bottom 7px
                @media mediumView
                    margin 0 25px 0 0
                    text-transform uppercase
                    color grayText
                    font-family fontBold
            &-field
                width 100%
                height 40px
                font-size 16px
                font-family fontBold
                border-radius 20px
                @media mediumView
                    width 80px
        &-click
            form
                @media mediumView
                    order -1
            &-label
                font-size 12px
                color grayTextLight
                margin-bottom 7px
                @media mediumView
                    margin 10px 0 0
            &-field
                height 40px
                width 180px
                border-top-left-radius 4px
                border-bottom-left-radius 4px
                border solid 1px #b23100
                padding 0 8px
                color #000000
                border-right none
                @media screen and (max-width: 1520px)
                    width 150px
                @media mediumView
                    width 180px
            &-submit
                cursor pointer
                height 40px
                width 300px - 180px
                border-top-right-radius 4px
                border-bottom-right-radius 4px
                color #ffffff
                font-size 12px
                font-family fontMed
                border none
                border-bottom solid 2px #b23100
                background linear-gradient(to top, #dd3f01, #ff4700)
    &__info
        padding 20px 30px
        background-color #fff3b5
        margin-bottom 8px
        @media mediumView
            flex 1 0 100%
            margin-top 24px
            flex-direction row
            height 70px
            align-items center
            padding 0 30px
        @media smallView
            flex 0 0 auto
            height auto
            flex-direction column
            align-items flex-start
            padding 16px 12px
        &-item
            @media mediumView
                flex 0 0 50%
                &:last-child
                    padding-left 45px
                    @media smallView
                        padding 0
                        width 100%
            @media smallView
                flex 0 0 auto
            &:not(:last-child)
                margin-bottom 20px
                @media mediumView
                    margin-bottom 0
                @media smallView
                    margin-bottom 20px
        &-icon
            flex 0 0 43px
            margin-right 26px
            .icon
                font-size 10px
        &-title
            font-size 18px
            color #000000
            margin-bottom 8px
            white-space nowrap
            @media smallView
                white-space normal
                line-height 22px
        &-desc
            font-size 12px
            color grayTextLight
            font-family fontLight
    &__options
        background-color grayBg
        padding 30px
        &.medium-options
            flex 1 0 100%
            @media smallView
                flex 0 0 auto
                flex-direction column
                padding 20px
        &-item
            flex 0 0 (100% / 3)
            @media smallView
                flex 0 0 auto
                &:not(:last-child)
                    margin 0 0 20px !important
                &:last-child
                    margin 0 !important
                .box-col
                    flex-direction row
                    align-items center
                    flex 1 1 auto
                    justify-content space-between
            &.item-4,
            &.item-5,
            &.item-6
                margin-top 40px
            &.item-1 .icon,
            &.item-2 .icon
                margin-right 10px
                @media smallView
                    margin-right 20px
        .icon
            font-size 0.72em
            margin-right 25px
            @media smallView
                margin-right 35px
        &-label
            text-transform uppercase
            font-size 10px
            color grayTextLight
            @media smallView
                text-transform none
                font-size 14px
                font-family fontReg
        &-count
            color #000
            font-size 30px
            @media smallView
                font-size 14px
            .product-main__options-item.item-6 &
                font-size 20px
                margin-top 8px
                @media smallView
                    font-size 14px
                    margin 0
            span
                font-size 12px
    &__share
        &.default-share
            @media smallView
                display flex
                padding-top 20px


.product-bottom
    margin-bottom 40px
    &__top
        height 57px
        border-top 1px solid lineColor
        border-bottom 1px solid lineColor
        margin-bottom 30px
        @media mediumView
            margin-bottom 20px
        @media smallView
            overflow-x auto
    &__tabs
        flex 0 0 53%
        @media mediumView
            flex 1 0 100%
        &-button
            margin-right 10px
            @media smallView
                white-space nowrap
    &__reviews
        flex 0 0 40%
        &-title
            color #fff
            text-transform uppercase
            font-size 10px
            height 25px
            padding 2px 14px 0
            background-color defColor
            border-radius 13px
        .full-button__icon-img
            font-size 10px
            opacity 1
        &-list
            flex 0 0 40%
        &-item
            margin-bottom 45px
            &-top
                margin-bottom 16px
            &-date
                font-size 10px
                color grayTextLight
                margin-left 8px
            &-title
                font-size 20px
                text-transform uppercase
                margin-bottom 15px
            &-user
                font-family fontMed
                color grayText
                margin-bottom 13px
            &-text
                font-size 12px
                line-height 18px
                color grayTextLight
    &__info
        flex 0 0 53%
        @media mediumView
            flex 1 0 100%
        &-text
            font-size 16px
            line-height 40px
            animation-duration 200ms
            &:not(.active)
                @extend .no-display
            ul
                list-style-position inside
        &-reviews
            animation-duration 200ms
            &:not(.active)
                @extend .no-display
            .full-button
                margin-bottom 20px
                &__icon-img
                    font-size 10px
                    opacity 1
    &__add-reviews
        flex 0 0 40%
        .reviews-form
            flex 0 0 280px
    .reviews-form
        background none
        width 280px
        padding 0
    
.other-products
    margin-bottom 60px

.other-links
    position relative
    &__list
        border-top 1px solid lineColor
        padding-top 15px
        a
            margin 0 14px 15px 0


// .zoomWrapper
//     @extend .box-row
//     @extend .align-middle

body:not(.show-zoom)
    .zoomContainer
        @extend .no-display

.zoomContainer
    z-index 2
    @media mediumView
        display none !important

    

                







