.work-container
	flex 1 1 auto
	background-color grayBg
	.breadcrumbs
		margin 0

.work-content
	padding 60px 0 80px
	@media screen and (max-width: 1000px)
		padding 40px 0
	@media smallView
		padding 20px 0
	&__wrapper
		width 1000px
		@media screen and (max-width: 1000px)
			width 708px
		@media smallView
			width auto
			padding 0 10px
	&__title
		text-transform uppercase
		font-size 44px
		font-family fontLight
		color grayText
		margin-bottom 30px
		@media screen and (max-width: 1000px)
			text-align center
			margin-bottom 15px
		@media smallView
			font-size 20px
			margin-bottom 10px
	&__subtitle
		font-size 14px
		color grayText
		margin-bottom 40px
		@media screen and (max-width: 1000px)
			text-align center
		@media smallView
			font-size 12px
			line-height 20px
	&__text
		position relative
		min-height 1145px
		color grayText
		@media screen and (max-width: 1000px)
			min-height 902px
			img
				width 184px
				position absolute
				top 0
				margin 0
		@media smallView
			min-height inherit
			img
				position relative
				align-self center
				order -1
		&:before
			content ''
			width 1000px
			height 1144.8px
			position absolute
			left -78px
			top 25px
			background-image url(../img/work-bg.svg)
			@media screen and (max-width: 1000px)
				background-image url(../img/work-bg-medium.svg)
				width 650px
				height 906px
				top 35px
				left auto
				right 0
			@media smallView
				display none
		&-desc
			@media smallView
				margin -90px 0 0 !important
				position relative
				z-index 2
		&-item
			position relative
			@media smallView
				flex-direction column
				&:not(:last-child)
					margin 0 0 40px !important
			&:first-child
				margin-bottom 30px
				@media screen and (max-width: 1000px)
					margin-bottom 40px
					img
						right 0
				.work-content__text-desc
					margin-top 10px
			&:not(:nth-child(2))
				img
					margin-right 30px
					@media screen and (max-width: 1000px)
						margin-right 0
			&:nth-child(2)
				margin-bottom 80px
				@media screen and (max-width: 1000px)
					margin-bottom 50px
				.work-content__text-desc
					margin-top -25px
				img
					margin-left 30px
					@media screen and (max-width: 1000px)
						margin-left 0
						left 0
			&:last-child
				.work-content__text-desc
					margin-top -50px
				@media screen and (max-width: 1000px)
					img
						right 0
		&-top
			margin-bottom 20px
			@media screen and (max-width: 1000px)
				justify-content center
			@media smallView
				justify-content flex-start
				flex-direction column
				align-items flex-start
		&-num
			flex 0 0 60px
			width 60px
			height 60px
			border-radius 50%
			background-color greenColor
			color white
			font-size 30px
			margin-right 20px
			@media smallView
				margin 0 0 30px
		&-title
			text-transform uppercase
			font-size 24px
		&-short
			font-size 16px
			line-height 26px
			margin-bottom 35px
			font-family fontMed
			@media screen and (max-width: 1000px)
				.work-content__text-item:first-child &,
				.work-content__text-item:last-child &
					padding-right 200px
				.work-content__text-item:nth-child(2) &
					padding-left 200px
			@media smallView
				padding 0 !important
		&-static
			line-height 26px
