//flexbox

.box-row,
.box-col
    display flex

.box-row
    flex-direction row

.box-col
    flex-direction column

.box-wrap
    flex-wrap wrap

.space-between
    justify-content space-between

.space-around
    justify-content space-around

.space-center
    justify-content center

.space-end
    justify-content flex-end  

.space-start
    justify-content flex-start  

.align-start
    align-items flex-start

.align-center
    align-items center

.align-end
    align-items flex-end

.align-baseline
    align-items baseline

.self-center
    align-self center

.self-end
    align-self flex-end

.self-start
    align-self flex-start
    
.align-middle
    justify-content center
    align-items center
    
    

//inputs

.input-text
    height 30px
    border-radius 15px
    border 1px solid buttonBorder
    padding 0 15px
    font-size 10px
    color grayText

.input-textarea
    resize none
    border-radius 15px
    border 1px solid buttonBorder
    padding 10px 15px
    font-size 10px
    color grayText
    height 111px


    

//buttons

.full-button
    @extend .box-row
    cursor pointer
    user-select none
    background white
    font-size 10px
    font-family fontBold
    text-transform uppercase
    text-decoration none
    border 1px solid buttonBorder
    height 30px
    color buttonGrayText
    border-radius 15px
    position relative
    &:hover
        color #fff
        background-color #4a90e2
        border-color #4a90e2
    &__icon
        @extend .box-row
        @extend .align-middle
        flex 0 0 46px
        width 46px
        border-right 1px solid buttonBorder
        padding-left 1px
        .full-button:hover &
            border-color rgba(255, 255, 255, 0.2)
        &-img
            font-size 0.35px
            opacity 0.6
            &.back
                font-size 0.028em
            &.icon-def
                .full-button:hover &
                    display none
            &.icon-hover
                opacity 1
                .full-button:not(:hover) &
                    display none
    &__text
        @extend .box-row
        @extend .align-middle
        padding 2px 15px 0 10px

.add-button
    cursor pointer
    user-select none
    width 120px
    background-image linear-gradient(to bottom, #b8df13, #96ba01)
    font-size 10px
    font-family fontBold
    text-decoration none
    text-transform uppercase
    border-bottom 2px solid #698200
    height 30px
    color white
    border-radius 4px
    &:hover
        background-image linear-gradient(to bottom, #c8f022, #aed609)
    &__icon
        flex 0 0 40px
        width 40px
        border-right 1px solid rgba(#698200, .3)
        &-img
            font-size 0.29px
    &__text
        padding-top 2px
        flex 1 1 auto

.order-button
    cursor pointer
    user-select none
    width 120px
    background-image linear-gradient(to bottom, #4990e2, #306fb8)
    font-size 10px
    font-family fontBold
    text-decoration none
    text-transform uppercase
    border-bottom 2px solid #2b5688
    height 30px
    color white
    border-radius 4px
    &__icon
        flex 0 0 40px
        width 40px
        border-right 1px solid rgba(#ffffff, .1)
        &-img
            font-size 0.29px
    &__text
        padding-top 2px
        flex 1 1 auto

.message-button
    cursor pointer
    user-select none
    width 140px
    background-image linear-gradient(to bottom, #f7f6f6, #e3e3e3)
    font-size 10px
    line-height 10px
    font-family fontMed
    text-decoration none
    border-bottom 2px solid #b3b3b3
    height 30px
    color #3373bd
    border-radius 4px
    &__icon
        flex 0 0 40px
        width 40px
        border-right 1px solid rgba(#b3b3b3, .3)
        &-img
            font-size 0.29px
    &__text
        padding 0 8px
        flex 1 1 auto

.add-to-cart
    @extend .box-row
    width 175px
    cursor pointer
    user-select none
    background white
    font-size 12px
    font-family fontBold
    text-decoration none
    text-transform uppercase
    height 40px
    color white
    border-radius 4px
    border-bottom 2px solid #698200
    background-image linear-gradient(to bottom, #b8df13, #96ba01)
    &:hover
        background-image linear-gradient(to bottom, #c8f022, #aed609)
    @media mediumView
        width 100%
    &__icon
        @extend .box-row
        @extend .align-middle
        flex 0 0 50px
        width 50px
        border-right 1px solid rgba(#698200, .3)
        &-img
            font-size 0.29px
    &__text
        flex 1 1 auto
        @extend .box-row
        @extend .align-middle
        @media mediumView
            padding 0
            flex 1 1 100%

.add-to-cart-new
    @extend .box-row
    cursor pointer
    user-select none
    background white
    font-size 12px
    font-family fontBold
    text-decoration none
    text-transform uppercase
    height 40px
    color white
    border-radius 20px
    background-color #96ba01
    &:hover
        background-color #a1c11a
    @media mediumView
        width 100%
    &__icon
        @extend .box-row
        @extend .align-middle
        flex 0 0 46px
        width 46px
        border-right 1px solid rgba(255, 255, 255, 0.2)
        padding-left 1px
        &-img
            font-size 0.29px
    &__text
        white-space nowrap
        height 100%
        @extend .box-row
        @extend .align-center
        padding 0 20px 0 8px
        @media mediumView
            padding 0
            flex 1 1 100%
            justify-content center


.white-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    background white
    font-size 10px
    text-transform uppercase
    font-family fontBold
    text-decoration none
    border 1px solid lineColor
    height 30px
    color grayText
    padding 2px 15px 0
    border-radius 15px

.circle-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    background white
    text-decoration none
    border 1px solid lineColor
    height 30px
    width 30px
    color grayText
    border-radius 50%
    &.active
        background-color bgColor


.gray-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    text-decoration none
    height 25px
    border-radius (25px / 2)
    color grayText
    background-color bgColor
    text-transform uppercase
    font-family fontBold
    font-size 10px
    padding 2px 13px 0
    border 1px solid lineColor
    transition all 200ms
    &.active,
    &:hover
        color #fff
        background-color defColor
        border-color #797979

.gray-button-2
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    text-decoration none
    height 30px
    border-radius (30px / 2)
    color #fff
    background-color defColor
    text-transform uppercase
    font-family fontBold
    font-size 12px
    padding 0 30px
    border none

.red-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    text-decoration none
    height 30px
    border-radius (30px / 2)
    color white
    background-color redColor
    text-transform uppercase
    font-family fontBold
    font-size 12px
    padding-top 2px

.green-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    text-decoration none
    height 30px
    border-radius (30px / 2)
    color white
    background-color #6eb94e
    text-transform uppercase
    font-family fontBold
    font-size 12px
    padding-top 2px


.blue-button
    @extend .box-row
    @extend .align-middle
    cursor pointer
    user-select none
    text-decoration none
    height 25px
    border-radius (25px / 2)
    color #49a0e8
    background-color bgColor
    text-transform uppercase
    font-family fontBold
    font-size 10px
    padding 2px 13px 0
    border 1px solid lineColor



.button-up
    cursor pointer
    z-index 101
    position fixed
    bottom 20px
    right 20px
    border-radius 50%
    width 50px
    height 50px
    background-color greenColor
    animation-duration 200ms
    &:not(:hover)
        box-shadow 0 1px 4px 0 rgba(0, 0, 0, 0.3)
    @media mediumView
        bottom 30px
        right 30px
    @media smallView
        bottom 10px
        right 10px
    &:not(.active)
        display none
    &:after
        content ''
        width 0
        height 0
        border-style solid
        border-width 0 3px 4px 3px
        border-color transparent transparent #fff transparent






//titles


.page-title
    text-transform uppercase
    font-size 30px
    font-weight normal
    font-family fontLight
    color grayText
    margin-bottom 30px
    .search-container &
        margin-bottom 10px
    @media smallView
        font-size 20px
        margin-bottom 15px


.block-title 
    margin-bottom 15px
    text-transform uppercase
    font-weight normal
    font-family fontBold
    color #fff
    font-size 12px
    @media smallView
        justify-content center
    &__text
        height 30px
        background-color defColor
        border-radius 15px
        padding 0 20px

.front-block-title 
    margin-bottom 30px
    font-size 16px
    text-transform uppercase
    font-weight normal
    font-family fontBold
    @media smallView
        text-align center



