@font-face
    font-family GothaProReg
    src url('../fonts/GothaProReg.eot')
    src url('../fonts/GothaProReg.eot') format('embedded-opentype'),
        url('../fonts/GothaProReg.woff2') format('woff2'),
        url('../fonts/GothaProReg.woff') format('woff'),
        url('../fonts/GothaProReg.ttf') format('truetype'),
        url('../fonts/GothaProReg.svg#GothaProReg') format('svg')

@font-face
    font-family GothaProMed
    src url('../fonts/GothaProMed.eot')
    src url('../fonts/GothaProMed.eot') format('embedded-opentype'),
        url('../fonts/GothaProMed.woff2') format('woff2'),
        url('../fonts/GothaProMed.woff') format('woff'),
        url('../fonts/GothaProMed.ttf') format('truetype'),
        url('../fonts/GothaProMed.svg#GothaProMed') format('svg')

@font-face
    font-family GothaProBol
    src url('../fonts/GothaProBol.eot')
    src url('../fonts/GothaProBol.eot') format('embedded-opentype'),
        url('../fonts/GothaProBol.woff2') format('woff2'),
        url('../fonts/GothaProBol.woff') format('woff'),
        url('../fonts/GothaProBol.ttf') format('truetype'),
        url('../fonts/GothaProBol.svg#GothaProBol') format('svg')

@font-face
    font-family GothaProLig
    src url('../fonts/GothaProLig.eot')
    src url('../fonts/GothaProLig.eot') format('embedded-opentype'),
        url('../fonts/GothaProLig.woff2') format('woff2'),
        url('../fonts/GothaProLig.woff') format('woff'),
        url('../fonts/GothaProLig.ttf') format('truetype'),
        url('../fonts/GothaProLig.svg#GothaProLig') format('svg')

