*
    margin 0
    padding 0
    box-sizing border-box

*:before,
*:after
    box-sizing border-box

html
    height 100%
    min-height 100%

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary
    display block

body
    font 14px fontReg, Tahoma, sans-serif
    height 100%
    line-height 1
    min-height 100vh
    overflow-x hidden
    color defColor
    &.no-scroll
        overflow-y hidden

.layout-body
    height 100vh
    min-height 100vh
    body.no-scroll &
        overflow hidden
    &.fixed-header
        padding-top 80px

.layout-wrapper
    min-width 320px
    flex 1 0 auto
    @media smallView
        transition transform 250ms

.layout-content
    flex 1 1 auto

a 
    color defColor
    outline none
    &:hover
        text-decoration none  
p 
    margin 0

img 
    border none
    max-width 100%
    height auto

b, strong, h1, h2, h3, h4, h5
    font-weight normal
    font-family fontBold


input,
textarea,
button
    font-family fontReg, Tahoma, sans-serif
    font-size 14px
    color defColor
    vertical-align middle
    outline none

.content-center
    max-width 1550px
    padding 0 15px
    margin 0 auto
    height 100% 
    position relative
    // border-left 1px solid red
    // border-right 1px solid red
    // @media mediumView
    //     border-left 1px solid red
    //     border-right 1px solid red
    @media smallView
        padding 0 10px


.static-text
    line-height 1.6
    p:not(:last-child)
        margin-bottom 20px
        


input,
textarea
    +placeholder()
        color grayTextLight
    &:focus
        +placeholder()
            opacity 0

.text-center
    text-align center

.full-height
    height 100%

.full-width
    width 100%        

.hidden
    opacity 0

.visible 
    opacity 1

.no-decoration
    text-decoration none
    &:hover
        text-decoration underline


.wrapper-absolute
    position absolute
    width 100%
    height 100%
    left 0
    top 0

.no-display
    display none
    
.no-empty:empty
    @extend .no-display
    
.small-view
    @media mediumNoView
        display none
    
.medium-view
    @media largeView
        display none
    
.large-view
    @media smallView
        display none !important

.big-large-view
    @media mediumView
        display none   


.box-youtube-video
    @media mediumView
        position relative
        padding-bottom 56.25% 
        height 0 !important
        overflow hidden
        min-height 350px
    @media smallView
        padding 0


.box-youtube-video iframe, 
.box-youtube-video object, 
.box-youtube-video embed
    @media mediumView
        position absolute
        top 0
        left 0
        width 100%
        height 100%
    @media smallView
        position relative
