mixin bottomText()
    +b.bottom-text#bottom-text
        .content-center
            +e.content.box-col
                +e.text
                    p.
                        Купить стулья и кресла для дома, офиса, бара, ресторана, кафе, дачи — для всего что угодно Вы сможете у нас в интернет магазине стульев и кресел Купи Стул.  Стулья — важный элемент интерьера любого интерьера, они могут выполнять как практическую, так и эстетическую функцию. Главное — сделать правильный выбор. Попав в наш интернет магазин стульев Вас обрадует Многообразие предложений в KupiStul.com.ua. Мы поможем подобрать стулья и кресла для любого помещения, которое вы планируете обставить мебелью. Купить стулья или кресла в интернет-магазине гораздо проще и быстрее, чем в обычном магазине, а выбор еще больше:
                        стулья для дома — кухонные, барные, дизайнерские, компьютерные и детские;
                        офисные стулья и кресла — для директора, персонала и посетителей.
                        Хотите увидеть настоящий магазин стульев в Киеве? Он перед Вами! Уверены, вы останетесь довольны результатом сотрудничества с нашим интернет-магазином. Мы создаем такие условия, при которых покупка будет максимально выгодной и минимально хлопотной:
                        мы предлагаем широкий ассортимент разнообразных моделей и потрясающую цветовую гамму. Выбор зависит только
                        от особенностей интерьера и ваших вкусовых предпочтений;
                        наш магазин стулья работает 365 дней в году. Обратиться к нам можно в любой удобный момент;
                        вы можете воспользоваться удобной навигационной системой нашего сайта и легко выбрать именно тот товар, который подойдет вам по качественным, ценовым и внешним характеристикам;
                        процесс приобретения не отнимет много времени. Один клик мышкой — и товар отправлен в вашу корзину. Еще пару минут
                        на заполнение формы — и все готово! Если подвел интернет, вы всегда можете сделать заказ в телефонном режиме;
                        менеджеры готовы оказать вам консультационную поддержку в любой момент. Посоветовавшись со специалистом, вы сможете совершить осознанное приобретение; 
                        мы гарантируем своевременную и аккуратную доставку. Более того, по Киеву купленные в нашем интернет магазине стулья, довезут совершенно бесплатно;
                        наши клиенты участвуют в разнообразных акциях, а значит, не просто покупают, но и экономят!
                        Вам нравится то, что мы можем предложить? Давайте сотрудничать! Для уточнения деталей заказа стульев для дома и офисамы предлагаем широкий ассортимент разнообразных моделей и потрясающую цветовую гамму. Выбор зависит только
                        от особенностей интерьера и ваших вкусовых предпочтений;
                        наш магазин стулья работает 365 дней в году. Обратиться к нам можно в любой удобный момент;
                        вы можете воспользоваться удобной навигационной системой нашего сайта и легко выбрать именно тот товар, который подойдет вам по качественным, ценовым и внешним характеристикам;
                        процесс приобретения не отнимет много времени. Один клик мышкой — и товар отправлен в вашу корзину. Еще пару минут
                        на заполнение формы — и все готово! Если подвел интернет, вы всегда можете сделать заказ в телефонном режиме;
                        менеджеры готовы оказать вам консультационную поддержку в любой момент. Посоветовавшись со специалистом, вы сможете совершить осознанное приобретение; 
                        мы гарантируем своевременную и аккуратную доставку. Более того, по Киеву купленные в нашем интернет магазине стулья, довезут совершенно бесплатно;
                        наши клиенты участвуют в разнообразных акциях, а значит, не просто покупают, но и экономят!
                        Вам нравится то, что мы можем предложить? Давайте сотрудничать! Для уточнения деталей заказа стульев для дома и офиса свяжитесь с нашими менеджерами по номеру телефона +38 0(44) 360 87 89. 
                    p.
                        Купить стулья и кресла для дома, офиса, бара, ресторана, кафе, дачи — для всего что угодно Вы сможете у нас в интернет магазине стульев и кресел Купи Стул.  Стулья — важный элемент интерьера любого интерьера, они могут выполнять как практическую, так и эстетическую функцию. Главное — сделать правильный выбор. Попав в наш интернет магазин стульев Вас обрадует Многообразие предложений в KupiStul.com.ua. Мы поможем подобрать стулья и кресла для любого помещения, которое вы планируете обставить мебелью. Купить стулья или кресла в интернет-магазине гораздо проще и быстрее, чем в обычном магазине, а выбор еще больше:
                        стулья для дома — кухонные, барные, дизайнерские, компьютерные и детские;
                        офисные стулья и кресла — для директора, персонала и посетителей.
                        Хотите увидеть настоящий магазин стульев в Киеве? Он перед Вами! Уверены, вы останетесь довольны результатом сотрудничества с нашим интернет-магазином. Мы создаем такие условия, при которых покупка будет максимально выгодной и минимально хлопотной:
                        мы предлагаем широкий ассортимент разнообразных моделей и потрясающую цветовую гамму. Выбор зависит только
                        от особенностей интерьера и ваших вкусовых предпочтений;
                        наш магазин стулья работает 365 дней в году. Обратиться к нам можно в любой удобный момент;
                        вы можете воспользоваться удобной навигационной системой нашего сайта и легко выбрать именно тот товар, который подойдет вам по качественным, ценовым и внешним характеристикам;
                        процесс приобретения не отнимет много времени. Один клик мышкой — и товар отправлен в вашу корзину. Еще пару минут мы предлагаем широкий ассортимент разнообразных моделей и потрясающую цветовую гамму. Выбор зависит только
                        от особенностей интерьера и ваших вкусовых предпочтений;
                        наш магазин стулья работает 365 дней в году. Обратиться к нам можно в любой удобный момент;
                        вы можете воспользоваться удобной навигационной системой нашего сайта и легко выбрать именно тот товар, который подойдет вам по качественным, ценовым и внешним характеристикам;
                        процесс приобретения не отнимет много времени. Один клик мышкой — и товар отправлен в вашу корзину. Еще пару минут
                        на заполнение формы — и все готово! Если подвел интернет, вы всегда можете сделать заказ в телефонном режиме;
                        менеджеры готовы оказать вам консультационную поддержку в любой момент. Посоветовавшись со специалистом, вы сможете совершить осознанное приобретение; 
                        мы гарантируем своевременную и аккуратную доставку. Более того, по Киеву купленные в нашем интернет магазине стулья, довезут совершенно бесплатно;
                        наши клиенты участвуют в разнообразных акциях, а значит, не просто покупают, но и экономят!
                        Вам нравится то, что мы можем предложить? Давайте сотрудничать! Для уточнения деталей заказа стульев для дома и офиса
                        на заполнение формы — и все готово! Если подвел интернет, вы всегда можете сделать заказ в телефонном режиме;
                        менеджеры готовы оказать вам консультационную поддержку в любой момент. Посоветовавшись со специалистом, вы сможете совершить осознанное приобретение; 
                        мы гарантируем своевременную и аккуратную доставку. Более того, по Киеву купленные в нашем интернет магазине стулья, довезут совершенно бесплатно;
                        наши клиенты участвуют в разнообразных акциях, а значит, не просто покупают, но и экономят!
                        Вам нравится то, что мы можем предложить? Давайте сотрудничать! Для уточнения деталей заказа стульев для дома и офиса свяжитесь с нашими менеджерами по номеру телефона +38 0(44) 360 87 89. 
                +b.full-button.self-start.js-open-bottom-text
                    +e('span').icon
                        +e('i').icon-img.icon.eye.icon-def
                        +e('i').icon-img.icon.eye-white.icon-hover
                    +e('span').text
                        .text-def.animated.fadeIn подробнее
                        .text-hide.animated.fadeIn скрыть
                        
