mixin filter-panel()
    +b.catalog-filter-panel.box-row.space-between.align-center
        +e.show-sidebar.white-button.active.js-toggle-filter-button.big-large-view ПОКАЗАТЬ ФИЛЬТР
        +e.sort.box-row.align-center
            +e.label СОРТИРОВАТЬ ПО
            select.form-select.no-display
                option(value='Цена убывание') Цена убывание
                option(value='Цена возрастание') Цена возрастание
        +e.view.box-row.align-center
            +e.label.large-view ВИД
            +e('a')(href='/').view-button.circle-button
                i.icon.simple_view
            +e('a')(href='/').view-button.circle-button.active
                i.icon.full-view
        +e.counts.box-row.align-center
            +e.label НА СТРАНИЦЕ
            select.form-select.no-display
                option(value='24') 24
                option(value='48') 48
                option(value='96') 96
                option(value='Все') Все
        +b.pager.box-row
            +e('a')(href='/').prev.box-row.align-middle
            +e('span').current.box-row.align-middle 1
            +e('span').sep.box-row.align-middle …
            +e('a')(href='/').page.box-row.align-middle 14
            +e('a')(href='/').next.box-row.align-middle