mixin footer()
    footer.footer-layout
        .content-center
            +b.footer-content.box-row.space-between
                +e.column
                    +e.title Поддержка
                    +e('nav').menu.box-col
                        +e('a')(href='/').menu-link.no-decoration Возврат, обмен и рекламации
                        +e('a')(href='/').menu-link.no-decoration Стоимость и способы доставки
                        +e('a')(href='/').menu-link.no-decoration Часто задаваемые впоросы
                        +e('a')(href='/').menu-link.no-decoration Поллитика конфидециальности
                        +e('a')(href='/').menu-link.no-decoration Блог
                +e.column
                    +e.title ИНФОРМАЦИЯ
                    +e('nav').menu.box-col
                        +e('a')(href='/').menu-link.no-decoration О kupistul.ua
                        +e('a')(href='/').menu-link.no-decoration Поставщикам
                        +e('a')(href='/').menu-link.no-decoration Дизайнерам
                        +e('a')(href='/').menu-link.no-decoration Вакансии
                        +e('a')(href='/').menu-link.no-decoration Карта сайта
                +e.column
                    +e.title ОПЛАТА
                    +e.pay-desc
                        | Оплату товаров можно осуществить
                        br
                        | следующими способами:
                    +e.pay-item.box-row.align-center
                        i.icon.money-1
                        | Наличными
                    +e.pay-item.box-row.align-center
                        i.icon.money
                        | Безналичный расчет
                    +e.pay-item.box-row.align-center
                        i.icon.money-2 
                        | Оплата банковской картой
                +e.column
                    +e.title КОНТАКТЫ
                    +e.work-info.box-col
                        .box-col
                            +e.tel 044 360-87-89
                            +e('a')(href='mailto:info@kupistul.com.ua').mail.no-decoration info@kupistul.com.ua
                        +e.work
                            | пн-пт с 9:55 до 19:05
                            br
                            | Без перерыва на обед
                            br
                            | Выходные (суббота, воскресенье, праздники)
            +b.footer-bottom.box-row.space-between.align-center
                +e.copy © 2014-2017 kupistul.ua ТМ Вся информация сайта www.kupistul.ua защищена украинскими и международними законами и соглашениями об охране авторских прав и интеллектуальнй собственности.
                +b.full-button.js-write-manager-button
                    +e('span').icon
                        +e('i').icon-img.icon.back
                    +e('span').text Написать директору