include ./mixins

mixin header()
    header.header-layout
        +b.header-top
            .content-center 
                .box-row.align-center.space-between.full-height
                    .box-row.align-center.full-height.large-view
                        +e('a')(href='/').info.no-decoration Почему выбирают Kupistul.ua
                        +e('a')(href='/').delivery.box-row.align-middle.no-decoration.big-large-view 
                            i.icon.logistics-delivery-truck-in-movement
                            | Бесплатная доставка
                        +e.city.box-row.align-center.full-height
                            span.big-large-view Город:
                            i.icon.pin.medium-view
                            +e('span').city-button.box-row.align-baseline Выберите город
                            +popupCity()
                        +e('a')(href='/').logo.box-col: img(src='img/logo.svg' title='Главная страница')
                    +e.right-buttons.box-row.align-center.full-height
                        +e.city.box-row.align-center.full-height.small-view
                            span.big-large-view Город:
                            i.icon.pin.medium-view
                            +e('span').city-button.box-row.align-baseline Выберите город
                            +popupCity()
                        +e.work.large-view Пн—Пт 9:55-19:05
                        +e.tels
                            +e.tels-active.box-row.align-center.space-between 044 360 87 89
                            +e.tels-dropdown.box-col.animated.fadeIn
                                +e('span').tels-item.box-row.align-center 098 160 87 89
                                +e('span').tels-item.box-row.align-center 050 160 87 89
                        +e('u').call-button.js-callback-button
                            span.big-large-view Обратный звонок
                            i.icon.telephone.medium-view
                        +e('a')(href='/').cart.box-row.align-center.full-height
                            +e('span').cart-icon.box-row.align-middle
                                i.icon.web-1
                                +e('span').cart-count.box-row.align-middle 12
                            +e('span').cart-title.large-view корзина
        +b.header-logo
            .content-center
                +e.wrapper.box-row.align-middle.full-height
                    +e.burger-button.box-col.align-middle.full-height.small-view.js-burger-button 
                        +e('i').burger-button-border
                        +e('span').burger-button-icon.icon.burger-icon
                    +e('a').logo.box-col(href='/'): img(src='img/logo.svg' title='Главная страница')
                    +e.search-button.box-row.align-middle.full-height.icon.magnifying-glass-browser.small-view.js-small-search-button
        +b.header-bottom.animated.fadeIn
            .content-center
                +e.wrapper.box-row.full-height
                    +e.left.box-row.full-height
                        +e.catalog.full-height.large-view
                            +e.catalog-button.box-row.full-height.align-center
                                +e.catalog-button-burger.box-col.space-center
                                +e.catalog-button-text.box-col
                                    span Полный
                                    b Каталог товаров
                            +e('ul').catalog-list.animated
                                +e('li').catalog-list-item
                                    +e('a')(href='#').catalog-list-section.box-row.align-center
                                        i.icon.menu-chair
                                        | Стулья
                                +e('li').catalog-list-item
                                    +e('span').catalog-list-parent.box-row.align-center.space-between Популярные категории
                                    +e.catalog-list-dropdown.animated
                                        a(href='#').box-row.align-center Обеденные стулья
                                        a(href='#').box-row.align-center Барные стулья
                                        a(href='#').box-row.align-center Стулья для посетителей
                                        a(href='#').box-row.align-center Конференц стулья
                                +e('li').catalog-list-item
                                    +e('span').catalog-list-parent.box-row.align-center.space-between Стулья по типу
                                    +e.catalog-list-dropdown.animated
                                        a(href='#').box-row.align-center Обеденные стулья
                                        a(href='#').box-row.align-center Барные стулья
                                        a(href='#').box-row.align-center Стулья для посетителей
                                        a(href='#').box-row.align-center Конференц стулья
                                        a(href='#').box-row.align-center Ученические стулья
                                        a(href='#').box-row.align-center Стулья для пикника
                                        a(href='#').box-row.align-center Садовые стулья
                                        a(href='#').box-row.align-center Табуреты
                                +e('li').catalog-list-item
                                    +e('span').catalog-list-parent.box-row.align-center.space-between Стулья по назначению
                                    +e.catalog-list-dropdown.animated
                                        a(href='#').box-row.align-center Обеденные стулья
                                        a(href='#').box-row.align-center Барные стулья
                                        a(href='#').box-row.align-center Стулья для посетителей
                                        a(href='#').box-row.align-center Конференц стулья
                                        a(href='#').box-row.align-center Ученические стулья
                                        a(href='#').box-row.align-center Стулья для пикника
                                        a(href='#').box-row.align-center Садовые стулья
                                        a(href='#').box-row.align-center Табуреты
                                +e('li').catalog-list-item
                                    +e('a')(href='#').catalog-list-link.box-row.align-center Все стулья
                                +e('li').catalog-list-item
                                    +e('a')(href='#').catalog-list-section.box-row.align-center
                                        i.icon.menu-sofa
                                        | КРЕСЛА
                                +e('li').catalog-list-item
                                    +e('span').catalog-list-parent.box-row.align-center.space-between Популярные категории
                                    +e.catalog-list-dropdown.animated
                                        a(href='#').box-row.align-center Обеденные стулья
                                        a(href='#').box-row.align-center Барные стулья
                                        a(href='#').box-row.align-center Стулья для посетителей
                                +e('li').catalog-list-item
                                    +e('span').catalog-list-parent.box-row.align-center.space-between Кресла по типу
                                    +e.catalog-list-dropdown.animated
                                        a(href='#').box-row.align-center Обеденные стулья
                                        a(href='#').box-row.align-center Барные стулья
                                        a(href='#').box-row.align-center Стулья для посетителей
                                        a(href='#').box-row.align-center Конференц стулья
                                        a(href='#').box-row.align-center Ученические стулья
                                        a(href='#').box-row.align-center Стулья для пикника
                                        a(href='#').box-row.align-center Садовые стулья
                                        a(href='#').box-row.align-center Табуреты
                                +e('li').catalog-list-item
                                    +e('span').catalog-list-parent.box-row.align-center.space-between Кресла по назначению
                                    +e.catalog-list-dropdown.animated
                                        a(href='#').box-row.align-center Обеденные стулья
                                        a(href='#').box-row.align-center Барные стулья
                                        a(href='#').box-row.align-center Стулья для посетителей
                                        a(href='#').box-row.align-center Конференц стулья
                                        a(href='#').box-row.align-center Ученические стулья
                                        a(href='#').box-row.align-center Стулья для пикника
                                        a(href='#').box-row.align-center Садовые стулья
                                        a(href='#').box-row.align-center Табуреты
                                +e('li').catalog-list-item
                                    +e('a')(href='#').catalog-list-link.box-row.align-center Все кресла
                        +e('ul').menu.box-row.large-view
                            +e('li').menu-item.js-parent-menu
                                +e('a')(href='/').menu-link.box-row.align-middle.full-height ДОМ
                                +e.dropdown.box-row.space-between.animated.fadeIn
                                    +e.dropdown-content.box-col.space-between
                                        +e.dropdown-menu.box-row
                                            +e.dropdown-column.box-col
                                                a(href='#') СТУЛЬЯ
                                                nav.box-col
                                                    a(href='#') Обеденные стулья
                                                    a(href='#') Барные стулья
                                                    a(href='#') Табуреты
                                                    a(href='#') Смотреть все >>
                                            +e.dropdown-column.box-col
                                                a(href='#') КРЕСЛА
                                                nav.box-col
                                                    a(href='#') Компьютерные кресла
                                                    a(href='#') Мягкие кресла
                                                    a(href='#') Кресла качалки
                                                    a(href='#') Подвесные кресла
                                                    a(href='#') Смотреть все >>
                                        +e.dropdown-brands.box-row.align-center
                                            b ПОПУЛЯРНЫЕ БРЕНДЫ
                                            a(href='#').box-col.align-middle: img(src='img/partners/amf.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/papatya.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/craft.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/cube.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/domini.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/flux.jpg' all='')
                                    +e.dropdown-images.box-row.space-between
                                        img(src='img/temp/dropdown-img-1.jpg' all='')
                                        img(src='img/temp/dropdown-img-2.jpg' all='') 
                            +e('li').menu-item.js-parent-menu
                                +e('a')(href='/').menu-link.box-row.align-middle.full-height ОФИС
                                +e.dropdown.box-row.space-between.animated.fadeIn
                                    +e.dropdown-content.box-col.space-between
                                        +e.dropdown-menu.box-row
                                            +e.dropdown-column.box-col
                                                a(href='#') СТУЛЬЯ
                                                nav.box-col
                                                    a(href='#') Обеденные стулья
                                                    a(href='#') Барные стулья
                                                    a(href='#') Табуреты
                                                    a(href='#') Смотреть все >>
                                            +e.dropdown-column.box-col
                                                a(href='#') КРЕСЛА
                                                nav.box-col
                                                    a(href='#') Компьютерные кресла
                                                    a(href='#') Мягкие кресла
                                                    a(href='#') Кресла качалки
                                                    a(href='#') Подвесные кресла
                                                    a(href='#') Смотреть все >>
                                        +e.dropdown-brands.box-row.align-center
                                            b ПОПУЛЯРНЫЕ БРЕНДЫ
                                            a(href='#').box-col.align-middle: img(src='img/partners/amf.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/papatya.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/craft.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/cube.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/domini.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/flux.jpg' all='')
                                    +e.dropdown-images.box-row.space-between
                                        img(src='img/temp/dropdown-img-1.jpg' all='')
                                        img(src='img/temp/dropdown-img-2.jpg' all='') 
                            +e('li').menu-item.js-parent-menu
                                +e('a')(href='/').menu-link.box-row.align-middle.full-height САД
                                +e.dropdown.box-row.space-between.animated.fadeIn
                                    +e.dropdown-content.box-col.space-between
                                        +e.dropdown-menu.box-row
                                            +e.dropdown-column.box-col
                                                a(href='#') СТУЛЬЯ
                                                nav.box-col
                                                    a(href='#') Обеденные стулья
                                                    a(href='#') Барные стулья
                                                    a(href='#') Табуреты
                                                    a(href='#') Смотреть все >>
                                            +e.dropdown-column.box-col
                                                a(href='#') КРЕСЛА
                                                nav.box-col
                                                    a(href='#') Компьютерные кресла
                                                    a(href='#') Мягкие кресла
                                                    a(href='#') Кресла качалки
                                                    a(href='#') Подвесные кресла
                                                    a(href='#') Смотреть все >>
                                        +e.dropdown-brands.box-row.align-center
                                            b ПОПУЛЯРНЫЕ БРЕНДЫ
                                            a(href='#').box-col.align-middle: img(src='img/partners/amf.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/papatya.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/craft.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/cube.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/domini.jpg' all='')
                                            a(href='#').box-col.align-middle: img(src='img/partners/flux.jpg' all='')
                                    +e.dropdown-images.box-row.space-between
                                        img(src='img/temp/dropdown-img-1.jpg' all='')
                                        img(src='img/temp/dropdown-img-2.jpg' all='') 
                            +e('li').menu-item
                                +e('a')(href='/').menu-link.box-row.align-middle.full-height HORECA
                    +e('form')(action='').search
                        +e('input')(type='text' placeholder='Поиск лучших стульев и кресел').search-text.full-width.full-height.big-large-view
                        +e('input')(type='text' placeholder='Поиск').search-text.full-width.full-height.medium-view
                        +e('input')(type='submit' value='').search-submit
                    +e.search-dropdown.full-width(style='display: none')
                        +e.search-dropdown-product.box-row.align-center.space-between
                            +e.search-dropdown-column.box-row.align-center
                                +e('a')(href='/').search-dropdown-img.box-col.large-view: img(src='img/temp/search-dropdown.jpg')
                                +e.search-dropdown-info.box-row.align-center
                                    +e('a')(href='/').search-dropdown-title Кресло-пуф Stone
                                    +e.search-dropdown-code [Арт. 23226416]
                            +e.search-dropdown-column.box-row.align-center.space-end.large-view
                                +e.search-dropdown-status.need-stock Скоро в продаже
                                +e('b').search-dropdown-price [15%] 699
                                    +space()
                                    span грн.
                                +addButton()
                        +e.search-dropdown-product.box-row.align-center.space-between
                            +e.search-dropdown-column.box-row.align-center
                                +e('a')(href='/').search-dropdown-img.box-col.large-view: img(src='img/temp/search-dropdown.jpg')
                                +e.search-dropdown-info.box-row.align-center
                                    +e('a')(href='/').search-dropdown-title Стул Alsace Белый
                                    +e.search-dropdown-code [Арт. 23226416]
                            +e.search-dropdown-column.box-row.align-center.space-end.large-view
                                +e.search-dropdown-status.need-stock Скоро в продаже
                                +e('b').search-dropdown-price [15%] 699
                                    +space()
                                    span грн.
                                +addButton()
                        +e.search-dropdown-product.box-row.align-center.space-between
                            +e.search-dropdown-column.box-row.align-center
                                +e('a')(href='/').search-dropdown-img.box-col.large-view: img(src='img/temp/search-dropdown.jpg')
                                +e.search-dropdown-info.box-row.align-center
                                    +e('a')(href='/').search-dropdown-title Кресло-пуф Stone
                                    +e.search-dropdown-code [Арт. 23226416]
                            +e.search-dropdown-column.box-row.align-center.space-end.large-view
                                +e.search-dropdown-status.need-stock Скоро в продаже
                                +e('b').search-dropdown-price [15%] 699
                                    +space()
                                    span грн.
                                +addButton()
                    +e.search-closed.animated.fadeIn.js-closed-search-button
                        
                        
                    
