//- git clone git://github.com/kizu/bemto.git
include ../../../node_modules/bemto/bemto
include ./header
include ./footer
include ./modals
include ./medium-filter
include ./medium-menu
include ./mixins


doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet" href="css/owl.carousel.min.css")
        link(rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
        link(rel="stylesheet" href="css/style.css")
        block title
            title Купистул
    body
        .layout-body.box-col
            block medium-menu
                +mediumMenu()
            section.layout-wrapper.box-col
                +goOldPanel()
                block header
                    +header()
                section.layout-content.box-col
                    block pagecontent
            block footer
                +footer()
        block medium-filter
        block modals
            +modalCallback()
            +writeManager()
            +bodyOverlay()
        +buttonUp()
        script(src="https://code.jquery.com/jquery-3.0.0.min.js")
        script(src="js/enquire.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/chosen.jquery.min.js")
        script(src="js/nouislider.min.js")
        script(src="js/jquery.mousewheel.min.js")
        script(src="js/jquery.jscrollpane.min.js")
        script(src="js/jquery.elevateZoom-3.0.8.min.js")
        script(src="js/jquery.bxslider.min.js")
        script(src="js/jquery.barrating.min.js")
        script(src="js/tooltipster.bundle.min.js")
        script(src="js/jquery.maskedinput.js")
        script(src="https://code.jquery.com/ui/1.12.1/jquery-ui.js")
        script(src="js/custom.js")
        script.
            $(function() {
                var cityList = [
                    "ActionScript",
                    "AppleScript",
                    "Asp",
                    "BASIC",
                    "C",
                    "C++",
                    "Clojure",
                    "COBOL",
                    "ColdFusion",
                    "Erlang",
                    "Fortran",
                    "Groovy",
                    "Haskell",
                    "Java",
                    "JavaScript",
                    "Lisp",
                    "Perl",
                    "PHP",
                    "Python",
                    "Ruby",
                    "Scala",
                    "Scheme"
                ];
                $( "#field-city" ).autocomplete({
                    source: cityList
                });
            });
