mixin mediumFilter()
    +b.medium-filter-button.full-width.medium-view
        +e('b').open-button.box-row.align-middle.full-width.full-height.js-medium-filter-button ФИЛЬТР
        +e.other-buttons.box-row.full-width.full-height
            +e('b').other-buttons-button.box-row.align-middle.text-center СБРОСИТЬ ФИЛЬТР
            +e('b').other-buttons-button.box-row.align-middle.text-center ПОДТВЕРДИТЬ ФИЛЬТР
    +b.medium-filter.box-col.medium-view.full-width.animated.slideInUp.js-medium-filter
        +e('b').top.box-row.align-middle ФИЛЬТР
            +e.closed
        +e.section
            +e.section-button.box-col
                +e('b').section-title КАТЕГОРИИ
                +e.section-current.box-row
                    span Стулья для кухни
                    span Барные стулья
                    span Дизайнерские стулья
            +e.section-list.box-col.animated.fadeIn
                +e('a')(href='/').section-link.box-row.align-center.space-between.active Стулья для кухни
                +e('a')(href='/').section-link.box-row.align-center.space-between Барные стулья
                +e('a')(href='/').section-link.box-row.align-center.space-between Дизайнерские стулья
                +e('a')(href='/').section-link.box-row.align-center.space-between.active Складные стулья
                +e('a')(href='/').section-link.box-row.align-center.space-between Штабелируемые стулья
                +e('a')(href='/').section-link.box-row.align-center.space-between Табуретки
        +e.section
            +e.section-button.box-col
                +e('b').section-title ЦЕНА
            +e.section-list.box-col.animated.fadeIn
                +e.price-range.js-price-range-2
                +e.price-fields.box-row.space-between
                    +e.price-fields-input.box-row.align-center 
                        label(for='min-price-2') от
                        input(name='price_from-2').input-text#min-price-2
                    +e.price-fields-input.box-row.align-center 
                        label(for='max-price-2') до
                        input(name='price_to-2').input-text#max-price-2
        +e.section
            +e.section-button.box-col
                +e('b').section-title ЦВЕТА
            +e.section-list.box-col.animated.fadeIn
                +e('a')(href='/').section-link.box-row.align-center.space-between.active Красный (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Желтый (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Синий (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between.active Оранжевый (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Зеленый (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Черный (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Фиолетовый (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Серый (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Коричневый (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Розовый (218)
        +e.section
            +e.section-button.box-col
                +e('b').section-title МАТЕРИАЛЫ ОСНОВЫ
            +e.section-list.box-col.animated.fadeIn
                +e('a')(href='/').section-link.box-row.align-center.space-between.active Кожа (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Пластик (218)
        +e.section
            +e.section-button.box-col
                +e('b').section-title ПОДЛОКОТНИКИ
            +e.section-list.box-col.animated.fadeIn
                +e('a')(href='/').section-link.box-row.align-center.space-between.active С подлокотником (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Без подлокотника (218)
        +e.section
            +e.section-button.box-col
                +e('b').section-title БРЕНДЫ
            +e.section-list.box-col.animated.fadeIn
                +e('a')(href='/').section-link.box-row.align-center.space-between.active Papatya (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between DesignChairs (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Silla (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Rudkov (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Concepto (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between ODESD2 (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Object (218)
        +e.section
            +e.section-button.box-col
                +e('b').section-title СТРАНА ПРОИЗВОДИТЕЛЬ
            +e.section-list.box-col.animated.fadeIn
                +e('a')(href='/').section-link.box-row.align-center.space-between.active Украина (135)
                +e('a')(href='/').section-link.box-row.align-center.space-between Италия (490)
                +e('a')(href='/').section-link.box-row.align-center.space-between Малайзия (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Китай (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Эстония (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Голландия (218)
                +e('a')(href='/').section-link.box-row.align-center.space-between Турция (218)
        
                
        
        

        
                
                

        
                
                
                
