mixin mediumMenu()
    +b.medium-menu.full-width.small-view.js-medium-menu
        +e('ul').menu
            +e('li').menu-back.box-row.align-center.js-medium-menu-back Назад
            +e('li').menu-item.animated.slideInLeft
                +e('a')(href='/').menu-link.box-row.align-center
                    i.icon.menu-chair
                    | СТУЛЬЯ
            +e('li').menu-item.extended.animated.slideInLeft
                +e('span').menu-button.box-row.align-center.space-between.js-medium-menu-button.animated.slideInLeft Популярные категории
                +e('ul').dropdown-menu.animated.slideInLeft
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Обеденные стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Барные стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Стулья для посетителей
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Конференц стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Ученические стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Стулья для пикника
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Садовые стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Табуреты
            +e('li').menu-item.extended.animated.slideInLeft
                +e('span').menu-button.box-row.align-center.space-between.js-medium-menu-button.animated.slideInLeft Стулья по типу
                +e('ul').dropdown-menu.animated.slideInLeft
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Обеденные стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Барные стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Стулья для посетителей
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Конференц стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Ученические стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Стулья для пикника
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Садовые стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Табуреты
            +e('li').menu-item.extended.animated.slideInLeft
                +e('span').menu-button.box-row.align-center.space-between.js-medium-menu-button.animated.slideInLeft Стулья по назначению
                +e('ul').dropdown-menu.animated.slideInLeft
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Обеденные стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Барные стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Стулья для посетителей
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Конференц стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Ученические стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Стулья для пикника
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Садовые стулья
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Табуреты
            +e('li').menu-item.animated.slideInLeft
                +e('a')(href='/').menu-button.box-row.align-center.no-decoration Все стулья
            +e('li').menu-item.animated.slideInLeft
                +e('a')(href='/').menu-link.box-row.align-center 
                    i.icon.menu-sofa
                    | Кресла
            +e('li').menu-item.extended.animated.slideInLeft
                +e('span').menu-button.box-row.align-center.space-between.js-medium-menu-button.animated.slideInLeft Популярные категории
                +e('ul').dropdown-menu.animated.slideInLeft
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Обеденные кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Барные кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Кресла для посетителей
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Конференц кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Ученические кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Кресла для пикника
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Садовые кресла
            +e('li').menu-item.extended.animated.slideInLeft
                +e('span').menu-button.box-row.align-center.space-between.js-medium-menu-button.animated.slideInLeft Кресла по типу
                +e('ul').dropdown-menu.animated.slideInLeft
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Обеденные кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Барные кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Кресла для посетителей
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Конференц кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Ученические кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Кресла для пикника
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Садовые кресла
            +e('li').menu-item.extended.animated.slideInLeft
                +e('span').menu-button.box-row.align-center.space-between.js-medium-menu-button.animated.slideInLeft Кресла по назначению
                +e('ul').dropdown-menu.animated.slideInLeft
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Обеденные кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Барные кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Кресла для посетителей
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Конференц кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Ученические кресла
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Кресла для пикника
                    +e('li').dropdown-item: +e('a')(href='/').dropdown-link.box-row.align-center Садовые кресла
            +e('li').menu-item.animated.slideInLeft
                +e('a')(href='/').menu-button.box-row.align-center.no-decoration Все кресла
            
                    
                    
            