mixin space()
  | !{' '}

mixin addButton()
    +b.add-button.box-row
        +e.icon.box-row.align-middle
            +e('i').icon-img.icon.cart-white
        +e.text.box-row.align-middle купить

mixin orderButton()
    +b.order-button.box-row
        +e.icon.box-row.align-middle
            +e('i').icon-img.icon.cart-white
        +e.text.box-row.align-middle заказать

mixin messageButton()
    +b.message-button.box-row
        +e.icon.box-row.align-middle
            +e('i').icon-img.icon.cart-white
        +e.text.box-row.align-center.text-center Сообщите, когда появится

mixin fullButton()
    +b('a')(href='/').full-button.self-start
        +e('span').icon
            +e('i').icon-img.icon.eye.icon-def
            +e('i').icon-img.icon.eye-white.icon-hover
        +e('span').text подробнее

mixin ratingBox()
    +b.rating-box
        +e.back.box-row.wrapper-absolute
            i.icon.mark-as-favorite-star
            i.icon.mark-as-favorite-star
            i.icon.mark-as-favorite-star
            i.icon.mark-as-favorite-star
            i.icon.mark-as-favorite-star
        +e.overlay.box-row.wrapper-absolute(style='width: 70%')
            i.icon.mark-as-favorite-star-red
            i.icon.mark-as-favorite-star-red
            i.icon.mark-as-favorite-star-red
            i.icon.mark-as-favorite-star-red
            i.icon.mark-as-favorite-star-red

mixin pager()
    +b.pager.box-row.self-start
        +e('a')(href='/').prev.box-row.align-middle
        +e('span').current.box-row.align-middle 1
        +e('span').sep.box-row.align-middle …
        +e('a')(href='/').page.box-row.align-middle 14
        +e('a')(href='/').next.box-row.align-middle

mixin buttonUp()
    .button-up.box-row.align-middle.animated.fadeIn.js-button-up

mixin goOldPanel()
    +b.go-old-panel.large-view
        +e('a')(href='https://old.kupistul.ua/').link.box-row.align-middle.wrapper-absolute в настоящее время вы находитесь на новом тестовом дизайне kupistul.ua, для возврата к старом дизайну нажмите здесь
        +e.closed.box-row.align-middle(onclick='closeOldPanel()') &#10006

mixin sliderBrands()
    - 
        var src = [
            'img/brands/logo-1.png', 
            'img/brands/logo-2.png',
            'img/brands/logo-3.png', 
            'img/brands/logo-4.png', 
            'img/brands/logo-5.png', 
            'img/brands/logo-6.png', 
            'img/brands/logo-7.png', 
            'img/brands/logo-8.png', 
            'img/brands/logo-9.png', 
            'img/brands/logo-10.png', 
            'img/brands/logo-11.png', 
            'img/brands/logo-12.png', 
            'img/brands/logo-13.png', 
            'img/brands/logo-14.png', 
            'img/brands/logo-15.png', 
            'img/brands/logo-16.png', 
            'img/brands/logo-17.png', 
            'img/brands/logo-18.png', 
            'img/brands/logo-19.png', 
            'img/brands/logo-20.png', 
            'img/brands/logo-21.png', 
            'img/brands/logo-22.png', 
            'img/brands/logo-23.png', 
            'img/brands/logo-24.png', 
            'img/brands/logo-25.png', 
            'img/brands/logo-26.png', 
            'img/brands/logo-27.png', 
            'img/brands/logo-28.png', 
            'img/brands/logo-29.png', 
            'img/brands/logo-30.png', 
            'img/brands/logo-31.png', 
            'img/brands/logo-32.png', 
            'img/brands/logo-33.png', 
            'img/brands/logo-34.png', 
            'img/brands/logo-35.png', 
            'img/brands/logo-36.png', 
            'img/brands/logo-37.png', 
            'img/brands/logo-38.png', 
            'img/brands/logo-39.png', 
            'img/brands/logo-40.png', 
            'img/brands/logo-41.png', 
            'img/brands/logo-42.png', 
            'img/brands/logo-43.png', 
            'img/brands/logo-44.png', 
            'img/brands/logo-45.png', 
            'img/brands/logo-46.png', 
            'img/brands/logo-47.png', 
            'img/brands/logo-48.png', 
            'img/brands/logo-49.png', 
            'img/brands/logo-50.png', 
            'img/brands/logo-51.png', 
            'img/brands/logo-52.png', 
            'img/brands/logo-53.png', 
            'img/brands/logo-54.png', 
            'img/brands/logo-55.png', 
            'img/brands/logo-56.png', 
            'img/brands/logo-57.png', 
            'img/brands/logo-58.png', 
            'img/brands/logo-59.png', 
            'img/brands/logo-60.png', 
            'img/brands/logo-61.png', 
            'img/brands/logo-62.png',
            'img/brands/logo-63.png', 
            'img/brands/logo-64.png', 
            'img/brands/logo-65.png', 
            'img/brands/logo-66.png', 
            'img/brands/logo-67.png', 
            'img/brands/logo-68.png', 
            'img/brands/logo-69.png', 
            'img/brands/logo-70.png', 
            'img/brands/logo-71.png', 
            'img/brands/logo-72.png', 
            'img/brands/logo-73.png', 
            'img/brands/logo-74.png', 
            'img/brands/logo-75.png', 
            'img/brands/logo-76.png', 
            'img/brands/logo-77.png', 
            'img/brands/logo-78.png', 
            'img/brands/logo-79.png', 
            'img/brands/logo-80.png', 
            'img/brands/logo-81.png', 
            'img/brands/logo-82.png', 
            'img/brands/logo-83.png', 
            'img/brands/logo-84.png', 
            'img/brands/logo-85.png', 
            'img/brands/logo-86.png',
            'img/brands/logo-87.png',
            'img/brands/logo-88.png',
            'img/brands/logo-89.png',
            'img/brands/logo-90.png',
            'img/brands/logo-91.png',
            'img/brands/logo-92.png',
            'img/brands/logo-93.png',
            'img/brands/logo-94.png',
            'img/brands/logo-95.png',
            'img/brands/logo-96.png',
            'img/brands/logo-97.png',
            'img/brands/logo-98.png',
            'img/brands/logo-99.png',
            'img/brands/logo-100.png',
            'img/brands/logo-101.png',
            'img/brands/logo-102.png',
            'img/brands/logo-103.png',
            'img/brands/logo-104.png',
            'img/brands/logo-105.png',
            'img/brands/logo-106.png',
            'img/brands/logo-107.png',
            'img/brands/logo-108.png',
            'img/brands/logo-109.png',
            'img/brands/logo-110.png',
            'img/brands/logo-111.png',
            'img/brands/logo-112.png',
            'img/brands/logo-113.png',
            'img/brands/logo-114.png',
            'img/brands/logo-115.png',
            'img/brands/logo-116.png',
            'img/brands/logo-117.png',
            'img/brands/logo-118.png',
            'img/brands/logo-119.png',
            'img/brands/logo-120.png',
            'img/brands/logo-121.png',
            'img/brands/logo-122.png',
            'img/brands/logo-123.png',
            'img/brands/logo-124.png',
            'img/brands/logo-125.png',
            'img/brands/logo-126.png',
            'img/brands/logo-127.png',
            'img/brands/logo-128.png',
            'img/brands/logo-129.png',
            'img/brands/logo-130.png',
            'img/brands/logo-131.png',
            'img/brands/logo-132.png',
            'img/brands/logo-133.png',
            'img/brands/logo-134.png',
            'img/brands/logo-135.png',
            'img/brands/logo-136.png',
            'img/brands/logo-137.png',
            'img/brands/logo-138.png',
            'img/brands/logo-139.png',
            'img/brands/logo-140.png',
            'img/brands/logo-141.png',
            'img/brands/logo-142.png'
        ];
    for path in src
        +e.partners-item.box-col.align-middle
            img(src=path all='')
