include ./mixins

mixin moreColors()
    .overlay-content.box-col.align-end.full-width.full-height.animated.fadeIn.js-modal-colors
        +b.more-colors-panel.box-col.animated.slideInRight
            +e.content.box-col
                +e('b').title Выберите цвет и материал обивки
                +e.content-full.box-col
                    +e.content-scroll.js-modal-colors-content
                        +e.content-wrapper.box-col
                            +e.status.in-stock В наличии
                            +e.content-top.box-row.space-between.align-end
                                +e('b').content-top-title NRFYM CAGLIARI:
                                    +space()
                                    span C11
                                +e('b').content-top-price 343
                                    +space()
                                    span грн.
                            +e.colors-list.box-row.box-wrap
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #87572a')
                                        i.icon.color-photo
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #f5e82e')
                                    +e.color-button-title.text-center Скаден Желтый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width.active(style='background-color: #4b0558')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #ffffff')
                                        i.icon.technology
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #9b9b9b')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #4a4a4a')
                                    +e.color-button-title.text-center Скаден Желтый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #ffffff')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width
                                        img(src='img/temp/modal-color.jpg').wrapper-absolute
                                        i.icon.color-photo
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #8f00fc')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #66e4c4')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width.active
                                        img(src='img/temp/modal-color-big.jpg').wrapper-absolute
                                    +e.color-button-title.text-center Скаден Желтый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #578fe1')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #bbea8a')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                        +e.content-wrapper.box-col
                            +e.status.need-stock В наличии
                            +e.content-top.box-row.space-between.align-end
                                +e('b').content-top-title NRFYM CAGLIARI:
                                    +space()
                                    span C11
                                +e('b').content-top-price 343
                                    +space()
                                    span грн.
                            +e.colors-list.box-row.box-wrap
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #87572a')
                                        i.icon.color-photo
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #f5e82e')
                                    +e.color-button-title.text-center Скаден Желтый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width.active(style='background-color: #4b0558')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #ffffff')
                                        i.icon.technology
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #9b9b9b')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #4a4a4a')
                                    +e.color-button-title.text-center Скаден Желтый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #ffffff')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width
                                        img(src='img/temp/modal-color.jpg').wrapper-absolute
                                        i.icon.color-photo
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #8f00fc')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #66e4c4')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width.active
                                        img(src='img/temp/modal-color-big.jpg').wrapper-absolute
                                    +e.color-button-title.text-center Скаден Желтый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #578fe1')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #bbea8a')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #87572a')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #87572a')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width.active
                                        img(src='img/temp/modal-color-big.jpg').wrapper-absolute
                                    +e.color-button-title.text-center Скаден Желтый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #578fe1')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #bbea8a')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
                                +e.color-button.box-col.align-center
                                    +e.color-button-img.box-row.align-middle.full-width(style='background-color: #87572a')
                                    +e.color-button-title.text-center Скаден Темно-зеленый
            +e.top.box-col
                +e.top-title
                    +e('b').color-title Ваш выбор
                    +space()
                    +e('span').top-name Скаден Светло-серый
                +e.top-main.box-col
                    +e.top-desc Кожзаменитель Скаден – это искусственная кожа с матовым покрытием. Разработан для экстремального использования: хорошо отталкивает влагу, устойчив к загрязнениям и воздействию солнечных лучей, легко поддается чистке. Состав: поливинилхлорид на волокнистой основе. Внешне имеет большое сходство с натуральной кожей.  
                    +e.top-action.box-row.align-center.space-between
                        .box-row.align-baseline
                            +e('b').price-label ЦЕНА:
                            +e('b').top-price 343
                                +space()
                                span грн.
                        +e.top-submit.green-button
                            +e('i').top-submit-icon.box-row.align-middle.full-height
                            +e('span').top-submit-text.box-row.align-middle.full-height ВЫБРАТЬ ЦВЕТ
            +e.closed.js-closed-modal-panel

mixin galleryPopup()
    .overlay-content.box-row.align-middle.full-width.full-height.animated.fadeIn.js-popup-gallery
        +b.gallery-popup.box-col
            +e('b').title.box-row.align-middle Кресло Bryan Wood Arm Красный - 4130 грн.
            +e.content.box-row.space-between
                +e.thumbs
                    .box-col.js-popup-thumbs-slider
                        +e('a')(href='' data-slide-index='0').thumbs-button.box-col: img(src='img/temp/popup-gallery-thumb-1.jpg')
                        +e('a')(href='' data-slide-index='1').thumbs-button.box-col: img(src='img/temp/popup-gallery-thumb-2.jpg')
                        +e('a')(href='' data-slide-index='2').thumbs-button.box-col: img(src='img/temp/popup-gallery-thumb-3.jpg')
                        +e('a')(href='' data-slide-index='3').thumbs-button.box-col: img(src='img/temp/popup-gallery-thumb-4.jpg')
                        +e('a')(href='' data-slide-index='4').thumbs-button: img(src='img/temp/popup-gallery-thumb-3.jpg')
                        +e('a')(href='' data-slide-index='5').thumbs-button: img(src='img/temp/popup-gallery-thumb-4.jpg')
                +e.slider
                    +e.slider-list.box-row.align-middle.js-popup-gallery-slider
                        img(src='img/temp/popup-gallery-1.jpg')
                        img(src='img/temp/popup-gallery-2.jpg')
                        img(src='img/temp/popup-gallery-3.jpg')
                        img(src='img/temp/popup-gallery-4.jpg')
                        img(src='img/temp/popup-gallery-3.jpg')
                        img(src='img/temp/popup-gallery-4.jpg')
            +e.closed.js-closed-modal-panel

mixin modalCallback()
    .overlay-content.popup-overlay.box-col.align-end.full-width.full-height.animated.fadeIn.js-callback-panel
        +b.modal-form-panel.box-col.animated.slideInRight
            +e('b').title Обратный звонок
            form(action='')
                +e.field.box-col
                    +e('label')(for='callback-name').field-label Ваше имя 
                        +space()
                        span *
                    +e('input')(type='text' required).field-text.input-text.full-width#callback-name
                +e.field.box-col
                    +e('label')(for='callback-tel').field-label Номер телефона
                        +space()
                        span *
                    +e('input')(type='text' required).field-text.input-text.full-width#callback-tel
                +e.field-comment.box-col
                    +e('label')(for='callback-comment').field-label Ваш комментарий
                    +e('textarea').field-textarea.input-textarea.full-width#callback-comment
                +e.action.box-row.space-center
                    +e('input')(type='submit' value='ОТПРАВИТЬ').submit-button.gray-button-2
            +e.callback-order-desc.box-col(style='display: none')
                | [name] ваша заявка успешно отправлена. В течение 9 минут (за исключением нерабочего времени) с вами свяжется наш менеджер. Спасибо, что выбрали нас.
                +b('a')(href='/').full-button.self-start
                    +e('span').icon
                        +e('i').icon-img.icon.web
                    +e('span').text ПЕРЕЙТИ НА ГЛАВНУЮ
            +e.callback-order-bottom.box-col.full-width(style='display: none')
                +e('b').callback-order-bottom-title А знаете ли Вы что?
                +e.callback-order-bottom-text Перед отправкой мы тщательно проверяем товары на отсутствие браков. Но, т.к. работники курьерских служб не всегда относятся к своей работе ответственно и ввиду чего мебель может быть повреждена, мы гарантируем замену поврежденных деталей за свой счет, невероятно правда ли?! ;)
            +e.closed.js-closed-modal-panel

mixin writeManager()
    .overlay-content.popup-overlay.box-col.align-end.full-width.full-height.animated.fadeIn.js-write-manager-panel
        +b.modal-form-panel.box-col.animated.slideInRight
            +e('b').title Написать директору
            form(action='')
                +e.field.box-col
                    +e('label')(for='write-name').field-label Ваше имя 
                        +space()
                        span *
                    +e('input')(type='text' required).field-text.input-text.full-width#write-name
                +e.field.box-col
                    +e('label')(for='write-tel').field-label Номер телефона
                        +space()
                        span *
                    +e('input')(type='text' required).field-text.input-text.full-width#write-tel
                +e.field-comment.box-col
                    +e('label')(for='write-comment').field-label Ваш комментарий
                    +e('textarea').field-textarea.input-textarea.full-width#write-comment
                +e.action.box-row.space-center
                    +e('input')(type='submit' value='ОТПРАВИТЬ').submit-button.gray-button-2
            +e.closed.js-closed-modal-panel

mixin addReview()
    .overlay-content.popup-overlay.box-col.align-end.full-width.full-height.animated.fadeIn.js-add-review-panel
        +b.modal-form-panel.box-col.animated.slideInRight
            +e('b').title Написать отзыв
            form(action='')
                +e.field.box-col
                    +e('label').field-label.rating-label Ваша оценка 
                        +space()
                        span *
                    select(name='rating').js-rating-stars
                        option(value='1') 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                        option(value='5') 5
                +e.field.box-col
                    +e('label')(for='review-name').field-label Ваше имя 
                        +space()
                        span *
                    +e('input')(type='text' required).field-text.input-text.full-width#review-name
                +e.field.box-col
                    +e('label')(for='review-tel').field-label Номер телефона
                        +space()
                        span *
                    +e('input')(type='text' required).field-text.input-text.full-width#review-tel
                +e.field-comment.box-col
                    +e('label')(for='review-comment').field-label Ваш комментарий
                    +e('textarea').field-textarea.input-textarea.full-width#review-comment
                +e.action.box-row.space-center
                    +e('input')(type='submit' value='ОТПРАВИТЬ').submit-button.gray-button-2
            +e.closed.js-closed-modal-panel
        
mixin addedCart()
    .added-overlay.box-row.space-center.full-width.full-height.animated.fadeIn.js-added-cart-panel
        +b.added-cart-panel.box-row.space-center.animated.fadeInDown
            +e.main.box-col.align-center
                +e('b').title ТОВАР ДОБАВЛЕН В КОРЗИНУ
                img(src='img/temp/added-cart.jpg')
            +e.info.box-col.align-center.space-end
                +e('b').product-title Кресло Bryan Wood Arm
                +e.code [Арт. 23226416]
                +e('b').count КОЛИЧЕСТВО: 2
                +e('b').summ СУММА:
                    +space()
                    +e('span').summ-count 2600
                        +space()
                        span грн. 
                +e.actions.box-row.space-between.full-width
                    .gray-button-2.js-added-cart-closed.large-view ПРОДОЛЖИТЬ
                    a(href='/').red-button В КОРЗИНУ
            +e.closed.js-added-cart-closed

mixin bodyOverlay()
    .body-overlay.full-height.full-width.animated.fadeIn

mixin popupCity()
    +b.popup-city.box-col.animated.fadeInDown
        +e('b').title Выберите свой город
        +e.info.box-row.align-center
            i.icon.logistics-delivery-truck-in-movement
            +e('span').info-text доставляем заказы по все Украине!
        +e.list.box-row.box-wrap
            +e.list-item.box-row
                +e('span').list-text Киев
            +e.list-item.box-row
                +e('span').list-text Одесса
            +e.list-item.box-row
                +e('span').list-text Днепр
            +e.list-item.box-row
                +e('span').list-text Харьков
            +e.list-item.box-row
                +e('span').list-text Запорожье
            +e.list-item.box-row
                +e('span').list-text Львов
        +e.search.box-col
            +e('span').search-label Или введите другой населенный пункт Украины
            +e('input').search-field(type='text' placeholder='Например Киев')#field-city
        +e.bottom.
            Выбор города поможет предоставить актуальную информацию о наличии
            товара, его цены и способа доставки в вашем городе! Это поможем сохранить
            больше свободного времени для вас!
        +e.closed

