mixin sidebarFilter()
    +b.sidebar-filter.box-col.active.animated.slideInLeft.big-large-view.fixedsticky
        +e.tabs.box-row
            +e.tabs-button.box-row.align-middle.active Все
            +e.tabs-button.box-row.align-middle Выбранные (2)
        +e.wrapper.box-col
            +e.wrapper-content.js-filter-scroll
                +e.section
                    +e.title.box-row.align-center.space-between 
                        b КАТЕГОРИИ
                    +e.content.box-col.animated.fadeInDown
                        +e.list.box-col
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Стулья для кухни
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Барные стулья
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Дизайнерские стулья
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Складные стулья
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Штабелируемые стулья
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Табуретки
                        +e.view-more.box-row.align-middle
                            span.view-text Показать все
                            span.hide-text Свернуть
                +e.section
                    +e.title.box-row.align-center.space-between 
                        b ЦЕНА
                    +e.content
                        +e.price-range.js-price-range
                        +e.price-fields.box-row.space-between
                            +e.price-fields-input.box-row.align-center 
                                label(for='min-price') от
                                input(name='price_from').input-text#min-price
                            +e.price-fields-input.box-row.align-center 
                                label(for='max-price') до
                                input(name='price_to').input-text#max-price
                +e.section
                    +e.title.box-row.align-center.space-between 
                        b ЦВЕТА
                    +e.content.box-col.animated.fadeInDown
                        +e.list.box-col
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Красный
                                | (218)
                                +e.tooltip
                                    +e.tooltip-button.box-row.align-middle ?
                                    +e.tooltip-text.animated.fadeIn
                                        p
                                            b Синхромеханизм
                                            +space()
                                            | – этот механизм позволяет менять угол наклона кресла с изменением угла отклонения сидения и спинки в пропорции (1/3).
                                        h4 Функциональные особенности:
                                        ul
                                            li на 1° отклонения сиденья, спинка отклоняется на 3°
                                            li Фиксация кресла в пяти положениях
                                            li Режим качания
                                            li Регулировка жесткости качания
                                            li Регулировка высоты кресла
                                        p
                                            b Описание:
                                            +space()
                                            | кресла с синхромеханизмом точно повторяют кинематику человеческого тела.
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Желтый
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Синий
                                | (97)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Оранжевый
                                | (218)
                                +e.tooltip
                                    +e.tooltip-button.box-row.align-middle ?
                                    +e.tooltip-text.animated.fadeIn
                                        p
                                            b Синхромеханизм
                                            +space()
                                            | – этот механизм позволяет менять угол наклона кресла с изменением угла отклонения сидения и спинки в пропорции (1/3).
                                        h4 Функциональные особенности:
                                        ul
                                            li на 1° отклонения сиденья, спинка отклоняется на 3°
                                            li Фиксация кресла в пяти положениях
                                            li Режим качания
                                            li Регулировка жесткости качания
                                            li Регулировка высоты кресла
                                        p
                                            b Описание:
                                            +space()
                                            | кресла с синхромеханизмом точно повторяют кинематику.
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Зеленый
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Черный
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Фиолетовый
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Серый
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Коричневый
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Розовый
                                | (218)
                        +e.view-more.box-row.align-middle
                            span.view-text Показать все
                            span.hide-text Свернуть
                +e.section
                    +e.title.box-row.align-center.space-between 
                        b МАТЕРИАЛЫ ОСНОВЫ
                    +e.content.box-col.animated.fadeInDown
                        +e.list.box-col
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Кожа
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Пластик
                                | (218)
                        +e.view-more.box-row.align-middle
                            span.view-text Показать все
                            span.hide-text Свернуть
                +e.section
                    +e.title.box-row.align-center.space-between 
                        b ПОДЛОКОТНИКИ
                    +e.content.box-col.animated.fadeInDown
                        +e.list.box-col
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title С подлокотником
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Без подлокотника
                                | (218)
                        +e.view-more.box-row.align-middle
                            span.view-text Показать все
                            span.hide-text Свернуть
                +e.section
                    +e.title.box-row.align-center.space-between 
                        b БРЕНДЫ
                    +e.content.box-col.animated.fadeInDown
                        +e.list.box-col
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Papatya
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title DesignChairs
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Silla
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Rudkov
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Concepto
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title ODESD2
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Object
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title CraftMart
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Cruzo
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Eagle
                                | (218)
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Papatya
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title DesignChairs
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Silla
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Rudkov
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Concepto
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title ODESD2
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Object
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title CraftMart
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Cruzo
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Eagle
                                | (218)
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Papatya
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title DesignChairs
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Silla
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Rudkov
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Concepto
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title ODESD2
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Object
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title CraftMart
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Cruzo
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Eagle
                                | (218)
                        +e.view-more.box-row.align-middle
                            span.view-text Показать все
                            span.hide-text Свернуть
                +e.section
                    +e.title.box-row.align-center.space-between 
                        b СТРАНА ПРОИЗВОДИТЕЛЬ
                    +e.content.box-col.animated.fadeInDown
                        +e.list.box-col
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Украина
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Италия
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Малайзия
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Китай
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Эстония
                                | (218)
                            +e('a')(href='/').link.box-row.align-center.active
                                +e('span').link-title Голландия
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Турция
                                | (218)
                            +e('a')(href='/').link.box-row.align-center 
                                +e('span').link-title Индонезия
                                | (218)
                        +e.view-more.box-row.align-middle
                            span.view-text Показать все
                            span.hide-text Свернуть
                +e('span').reset.gray-button СБРОСИТЬ ФИЛЬТР
                    
                    
                    
                    

                    
        
                        

