.icon {
    font-size: 10px;
}

.icon:before {
    content:' ';
    vertical-align:middle;
    display: inline-block;
    background-image: url("../img/spritesheet.svg");
    background-repeat: no-repeat;
    background-size: 100em 1437.1em;
}

.no-svg .icon:before {
    background-image: url("../img/spritesheet.png");
}



  .icon.arrows:before {
      background-position: 0em 0em;
      width: 45.892em;
      height: 49em;
  }




  .icon.back:before {
      background-position: 0em -49em;
      width: 61.2em;
      height: 40.928em;
  }




  .icon.back-1:before {
      background-position: 0em -90em;
      width: 25.215em;
      height: 47.717em;
  }




  .icon.buildings:before {
      background-position: 0em -137.8em;
      width: 20.926em;
      height: 40.549em;
  }




  .icon.buildings-1:before {
      background-position: 0em -178.4em;
      width: 37.546em;
      height: 51.2em;
  }




  .icon.burger-icon:before {
      background-position: 0em -229.6em;
      width: 1.4em;
      height: 1.5em;
  }




  .icon.cart-white:before {
      background-position: 0em -231.1em;
      width: 55.589999999999996em;
      height: 48.705em;
  }




  .icon.chair:before {
      background-position: 0em -279.9em;
      width: 5em;
      height: 6em;
  }




  .icon.chair-2:before {
      background-position: 0em -285.9em;
      width: 4.6em;
      height: 6em;
  }




  .icon.check:before {
      background-position: 0em -291.9em;
      width: 40.683em;
      height: 28.182em;
  }




  .icon.close-icon:before {
      background-position: 0em -320.1em;
      width: 1.4em;
      height: 1.5em;
  }




  .icon.color-photo:before {
      background-position: 0em -321.6em;
      width: 51.56699999999999em;
      height: 44.795em;
  }




  .icon.comments:before {
      background-position: 0em -366.4em;
      width: 1.4em;
      height: 1.2em;
  }




  .icon.cross:before {
      background-position: 0em -367.6em;
      width: 61.2em;
      height: 61.07899999999999em;
  }




  .icon.degrees-360:before {
      background-position: 0em -428.7em;
      width: 3.5em;
      height: 2.4em;
  }




  .icon.delete-photo:before {
      background-position: 0em -431.1em;
      width: 1.2em;
      height: 1.6em;
  }




  .icon.depth:before {
      background-position: 0em -432.7em;
      width: 2.6em;
      height: 4em;
  }




  .icon.director-chair:before {
      background-position: 0em -436.7em;
      width: 4.1530000000000005em;
      height: 6em;
  }




  .icon.down-arrow:before {
      background-position: 0em -442.7em;
      width: 49em;
      height: 45.892em;
  }




  .icon.eye:before {
      background-position: 0em -488.6em;
      width: 48.885000000000005em;
      height: 29.139999999999997em;
  }




  .icon.eye-white:before {
      background-position: 0em -517.8em;
      width: 48.885000000000005em;
      height: 29.139999999999997em;
  }




  .icon.full-view:before {
      background-position: 0em -547em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.fullscreen:before {
      background-position: 0em -548.4em;
      width: 1.8em;
      height: 1.8em;
  }




  .icon.furniture:before {
      background-position: 0em -550.2em;
      width: 3.8em;
      height: 6em;
  }




  .icon.furniture-1:before {
      background-position: 0em -556.2em;
      width: 5.4em;
      height: 6em;
  }




  .icon.height:before {
      background-position: 0em -562.2em;
      width: 4.049em;
      height: 4em;
  }




  .icon.height-seat:before {
      background-position: 0em -566.2em;
      width: 4.049em;
      height: 4em;
  }




  .icon.ion-close:before {
      background-position: 0em -570.2em;
      width: 0.9em;
      height: 1em;
  }




  .icon.logistics-delivery-truck-in-movement:before {
      background-position: 0em -571.2em;
      width: 2.5em;
      height: 1.4em;
  }




  .icon.logo:before {
      background-position: 0em -572.6em;
      width: 100em;
      height: 19.227417949462676em;
  }




  .icon.magnifying-glass-browser:before {
      background-position: 0em -591.9em;
      width: 46.87em;
      height: 48.308em;
  }




  .icon.mail-submit:before {
      background-position: 0em -640.3em;
      width: 3em;
      height: 3em;
  }




  .icon.mail-title:before {
      background-position: 0em -643.3em;
      width: 4.7em;
      height: 2.4em;
  }




  .icon.mark-as-favorite-star:before {
      background-position: 0em -645.7em;
      width: 51em;
      height: 48.45em;
  }




  .icon.mark-as-favorite-star-red:before {
      background-position: 0em -694.2em;
      width: 51em;
      height: 48.45em;
  }




  .icon.menu-chair:before {
      background-position: 0em -742.7em;
      width: 1.5em;
      height: 2em;
  }




  .icon.menu-sofa:before {
      background-position: 0em -744.7em;
      width: 1.8em;
      height: 2em;
  }




  .icon.money:before {
      background-position: 0em -746.7em;
      width: 51.2em;
      height: 43.164em;
  }




  .icon.money-1:before {
      background-position: 0em -789.9em;
      width: 51.2em;
      height: 29.07em;
  }




  .icon.money-2:before {
      background-position: 0em -819em;
      width: 51.2em;
      height: 37.973em;
  }




  .icon.next:before {
      background-position: 0em -857em;
      width: 25.206em;
      height: 47.718em;
  }




  .icon.obj-closed:before {
      background-position: 0em -904.8em;
      width: 0.9em;
      height: 1em;
  }




  .icon.office-chair:before {
      background-position: 0em -905.8em;
      width: 5.8em;
      height: 6em;
  }




  .icon.photo:before {
      background-position: 0em -911.8em;
      width: 65.675em;
      height: 90.05em;
  }




  .icon.pin:before {
      background-position: 0em -1001.9em;
      width: 20em;
      height: 20em;
  }




  .icon.product-info-1:before {
      background-position: 0em -1021.9em;
      width: 4.3em;
      height: 2.4em;
  }




  .icon.product-info-2:before {
      background-position: 0em -1024.3em;
      width: 3.2em;
      height: 3.2em;
  }




  .icon.right-arrow:before {
      background-position: 0em -1027.5em;
      width: 45.892em;
      height: 49em;
  }




  .icon.right-arrows-couple:before {
      background-position: 0em -1076.5em;
      width: 61.2em;
      height: 61.141em;
  }




  .icon.service:before {
      background-position: 0em -1137.7em;
      width: 2.6em;
      height: 4em;
  }




  .icon.simple_view:before {
      background-position: 0em -1141.7em;
      width: 1.4em;
      height: 1.4em;
  }




  .icon.slider-arrow-white:before {
      background-position: 0em -1143.1em;
      width: 25.206em;
      height: 47.718em;
  }




  .icon.technology:before {
      background-position: 0em -1190.9em;
      width: 51.56699999999999em;
      height: 44.795em;
  }




  .icon.telegram:before {
      background-position: 0em -1235.7em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.telephone:before {
      background-position: 0em -1238.1em;
      width: 1.6em;
      height: 1.6em;
  }




  .icon.up-arrow:before {
      background-position: 0em -1239.7em;
      width: 49em;
      height: 45.892em;
  }




  .icon.viber:before {
      background-position: 0em -1285.6em;
      width: 2.4em;
      height: 2.4em;
  }




  .icon.web:before {
      background-position: 0em -1288em;
      width: 51em;
      height: 43.35em;
  }




  .icon.web-1:before {
      background-position: 0em -1331.4em;
      width: 55.589999999999996em;
      height: 48.705em;
  }




  .icon.web-1-orange:before {
      background-position: 0em -1380.2em;
      width: 55.589999999999996em;
      height: 48.705em;
  }




  .icon.weight:before {
      background-position: 0em -1429em;
      width: 2.6em;
      height: 4em;
  }




  .icon.width:before {
      background-position: 0em -1433em;
      width: 2.566em;
      height: 4.049em;
  }





